<h3>Importing the Libraries Required </h3>

In [1]:
import urllib
import time
import json
import numpy as np
import pandas as pd
from tqdm import tqdm
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from bs4 import BeautifulSoup
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException

<h3>Using Selenium For Auto Scrolling the Web-Page and Extracting the The Page Source</h3>

In [2]:
driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')
driver.wait = WebDriverWait(driver, 5)
driver.maximize_window()
driver.get("https://www.cars24.com/buy-used-car/?sort=P&storeCityId=2423&pinId=411001")
time.sleep(7)


height = driver.execute_script("return document.documentElement.scrollHeight")
lastheight = 0
while True:
    if lastheight == height:
        break
    lastheight = height
    driver.execute_script("window.scrollTo(0, " + str(height) + ");")
    time.sleep(10)
    height = driver.execute_script("return document.documentElement.scrollHeight")
    
    
# Using BeautifulSoup To Store the Page Source in Object Called Soup

soup = BeautifulSoup(driver.page_source)
driver.quit()

C:\Users\jadha\AppData\Local\Temp/ipykernel_19276/4294769223.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')

<h3>Storing the page source in object called Soup and viewing the text</h3>

In [3]:
soup.text

"\n\n\n\n\n\n\n\n\n\n\nUsed Cars in Pune - Second Hand Cars in Pune for Sale\nPune  Popular CitiesUsed cars in BengaluruPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in BengaluruUsed cars in ChennaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChennaiUsed cars in New DelhiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in New DelhiUsed cars in MumbaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in MumbaiUsed cars in PunePopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in PuneUsed cars in HyderabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in HyderabadUsed cars in KolkataPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in KolkataUsed cars in AhmedabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in AhmedabadUsed cars in JaipurPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in JaipurUsed cars in ChandigarhPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChandigarhBuy used carSell used carLoginRC Transfers StatusFAQBecome a partnerBuy Car: 9 AM - 9 PM1800 258 5656HomeUsed CarsPuneFind your dream car with usSort By:Best Match  PriceModel YearKMs DrivenMake & ModelRTOMore FiltersUsed Cars in Pune2021 Nissan MAGNITEXL Turbo CVT 16,049 km1st OwnerPetrol₹21,439/month₹9,63,799Zero downpayment2014 Volkswagen VentoHIGHLINE PETROL Manual41,569 km1st OwnerPetrol₹11,420/month₹5,13,399Zero downpayment2020 Tata TiagoXZ+ 1.2 Revotron Manual8,118 km1st OwnerPetrol₹15,135/month₹6,80,399Zero downpayment2015 Renault DusterRXZ 110 4WD Manual63,143 km1st OwnerDiesel₹15,055/month₹6,76,799Zero downpayment2020 Maruti AltoLXI Manual2,530 km1st OwnerPetrol₹8,789/month₹3,95,099Zero downpaymentFilter By Popular BrandMarutiHyundaiHondaTataToyota2021 Toyota URBAN CRUISERPREMIUM MT 1,961 km1st OwnerPetrol₹26,242/month₹11,79,699Zero downpayment2019 Jeep Compass1.4 SPORT PETROL Manual27,193 km1st OwnerPetrol₹30,479/month₹13,70,199Zero downpayment2021 Renault KigerRXZ AMT 1.0 DUAL TONE 2,590 km1st OwnerPetrol₹24,391/month₹10,96,499Zero downpayment2021 Hyundai CretaSX EXECUTIVE MT Manual2,334 km1st OwnerPetrol₹39,924/month₹17,94,799Zero downpayment2017 Hyundai XcentSX 1.2 OPT Manual13,639 km1st OwnerPetrol₹13,760/month₹6,18,599Zero downpayment2015 Ford Ecosport1.5 TITANIUMTDCI OPT Manual51,922 km1st OwnerDiesel₹14,728/month₹6,62,099Zero downpaymentFilter By BudgetCars under 2 lakhCars between 2 lakh - 5 lakhCars between 5 lakh - 10 lakhCars above 10 lakh2015 Toyota Corolla AltisVL AT Automatic24,242 km2nd OwnerPetrol₹23,265/month₹10,45,899Zero downpayment2018 Maruti CelerioVXI Manual29,583 km1st OwnerPetrol₹11,256/month₹5,05,999Zero downpayment2014 Volkswagen PoloHIGHLINE1.2L PETROL Manual46,574 km1st OwnerPetrol₹11,489/month₹5,16,499Zero downpayment2015 Maruti CelerioVXI Manual50,235 km1st OwnerPetrol₹10,110/month₹4,54,499Zero downpayment2021 Maruti S CrossZETA SHVS PETROL Manual6,396 km1st OwnerPetrol₹23,944/month₹10,76,399Zero downpayment2014 Toyota EtiosCROSS 1.5 V Manual80,847 km2nd OwnerPetrol₹10,584/month₹4,75,799Zero downpaymentFilter By Fuel TypePetrolDieselCNGLPGElectricHybrid2020 Hyundai Elite i201.2 SPORTS PLUS VTVT Manual3,806 km1st OwnerPetrol₹17,239/month₹7,74,999Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual17,478 km1st OwnerPetrol₹10,822/month₹4,86,499Zero downpayment2012 Hyundai i20MAGNA O 1.2 Manual56,711 km2nd OwnerPetrol₹8,255/month₹3,71,099Zero downpayment2020 KIA SELTOSHTK PLUS 1.5 DIESEL Manual18,781 km1st OwnerDiesel₹30,809/month₹13,84,999Zero downpayment2017 Maruti CiazALPHA 1.4 VVT Manual60,797 km2nd OwnerPetrol₹14,305/month₹6,43,099Zero downpayment2018 Tata TiagoXZ 1.2 REVOTRON Manual25,710 km1st OwnerPetrol₹12,283/month₹5,52,199Zero downpaymentFilter By Body TypeHatchbackSedanSUVLuxury SedanLuxury SUV2015 Volkswagen PoloGT TSI 1.2 PETROL AT Automatic41,708 km1st OwnerPetrol₹15,264/month₹6,86,199Zero downpayment2019 Volkswagen PoloCOMFORTLINE 1.0 PETROL Manual27,487 km1st OwnerPetrol₹15,678/month₹7,04,799Zero downpayment2019 Maruti Vitara BrezzaZDI + AMT Automatic33,415 km2nd OwnerDiesel₹21,513/month₹9,67,099Zero downpayment2018 Honda CityZX CVT ANNIVERSARY EDITION Automatic16,118 km1st OwnerPetrol₹26,709/month₹12,00,699Zero downpayment12-Months Free Warranty!Free 12 months warranty on all cars to safeguard you from unforeseen repair and maintenance costsKNOW MORE2017 Maruti CiazALPHA 1.4 VVT Manual21,004 km1st OwnerPetrol₹17,669/month₹7,94,299Zero downpayment2016 Honda Amaze1.2 SX MT I VTEC Manual35,472 km1st OwnerPetrol₹11,503/month₹5,17,099Zero downpayment2018 Maruti S CrossALPHA SHVS Manual24,233 km1st OwnerDiesel₹25,203/month₹11,32,999Zero downpayment2017 Datsun Redi GoT (O) Manual18,101 km1st OwnerPetrol₹6,337/month₹2,84,899Zero downpayment2017 Jeep Compass2.0 LONGITUDE (O) Manual53,928 km1st OwnerDiesel₹30,248/month₹13,59,799Zero downpayment2018 Renault KwidRXT 1.0 EASY-R AT OPTION Automatic34,507 km1st OwnerPetrol₹9,794/month₹4,40,299Zero downpayment2021 Renault Kwid1.0 RXT Opt Manual5,326 km2nd OwnerPetrol₹12,250/month₹5,50,699Zero downpayment2020 Tata NEXONXZ+ 1.5 Manual20,053 km1st OwnerDiesel₹24,598/month₹11,05,799Zero downpayment2021 Volkswagen PoloHIGHLINE PLUS 1.0 TSI AT Automatic6,871 km1st OwnerPetrol₹23,503/month₹10,56,599Zero downpayment2017 Volkswagen PoloGT TSI 1.2 PETROL AT Automatic18,978 km2nd OwnerPetrol₹16,116/month₹7,24,499Zero downpayment2016 Ford Ecosport1.5TITANIUM TDCI Manual41,966 km1st OwnerDiesel₹14,962/month₹6,72,599Zero downpayment2018 Maruti Alto 800LXI Manual8,254 km2nd OwnerPetrol₹7,799/month₹3,50,599Zero downpayment2021 MG HECTORSHARP DCT PETROL Automatic6,249 km1st OwnerPetrol₹43,866/month₹19,71,999Zero downpayment2019 Hyundai NEW SANTROSPORTZ 1.1 Manual2,839 km1st OwnerPetrol₹11,836/month₹5,32,099Zero downpayment2016 Mahindra ScorpioS2 Manual1,43,495 km1st OwnerDiesel₹18,556/month₹8,34,199Zero downpayment2019 Maruti Vitara BrezzaVDI Manual42,955 km1st OwnerDiesel₹17,622/month₹7,92,199Zero downpayment2016 Toyota Innova Crysta2.8 ZX AT 7 STR Automatic1,63,438 km1st OwnerDiesel₹33,907/month₹15,24,299Zero downpayment2017 Honda Jazz1.2 V MT Manual15,182 km1st OwnerPetrol₹13,658/month₹6,13,999Zero downpayment2017 Maruti CelerioZXI AMT Automatic53,139 km1st OwnerPetrol₹10,840/month₹4,87,299Zero downpayment2019 Renault KwidRXT Opt Manual17,525 km1st OwnerPetrol₹9,994/month₹4,49,299Zero downpayment2018 Volkswagen AmeoHIGHLINE PLUS DSG 1.5 Automatic82,015 km1st OwnerDiesel₹15,160/month₹6,81,499Zero downpayment2019 Renault TRIBER1.0 RXT Manual9,981 km1st OwnerPetrol₹14,984/month₹6,73,599Zero downpayment2017 Hyundai EonMAGNA PLUS Manual30,266 km1st OwnerPetrol₹8,482/month₹3,81,299Zero downpayment2016 Maruti BalenoDELTA 1.2 K12 Manual28,225 km1st OwnerPetrol₹12,720/month₹5,71,847Zero downpayment2017 Hyundai Creta1.4 S PLUS Manual63,687 km1st OwnerDiesel₹24,896/month₹11,19,199Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual81,006 km1st OwnerPetrol₹10,232/month₹4,59,999Zero downpayment2019 Maruti Vitara BrezzaVDI Manual56,902 km2nd OwnerDiesel₹18,656/month₹8,38,699Zero downpayment2017 Maruti Alto 800VXI Manual21,451 km1st OwnerPetrol₹7,029/month₹3,15,999Zero downpayment2017 Jeep CompassLIMITED (O) 2.0 4*4 Manual62,013 km1st OwnerDiesel₹29,788/month₹13,39,099Zero downpayment2020 Ford Ecosport1.5TITANIUM TDCI Manual22,326 km1st OwnerDiesel₹22,930/month₹10,30,799Zero downpayment2019 Hyundai VENUESX(O) CRDi Manual30,456 km1st OwnerDiesel₹24,720/month₹11,11,299Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual6,397 km1st OwnerPetrol₹11,302/month₹5,08,099Zero downpayment2018 Maruti Alto 800LXI Manual11,617 km1st OwnerPetrol₹7,799/month₹3,50,599Zero downpayment2020 Hyundai GRAND I10 NIOSSPORTZ PETROL Manual7,162 km1st OwnerPetrol₹15,026/month₹6,75,499Zero downpayment2012 Renault DusterRXZ DIESEL 110 Manual1,26,134 km2nd OwnerDiesel₹11,051/month₹4,96,799Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual15,817 km1st OwnerPetrol₹9,992/month₹4,49,199Zero downpayment2014 Ford Ecosport1.5TITANIUM TDCI Manual55,123 km2nd OwnerDiesel₹11,914/month₹5,35,599Zero downpayment2017 Maruti CelerioZXI AMT Automatic25,716 km2nd OwnerPetrol₹10,949/month₹4,92,199Zero downpayment2020 Hyundai VENUES MT 1.2 KAPPA Manual787 km1st OwnerPetrol₹18,732/month₹8,42,099Zero downpayment2018 Maruti BalenoDELTA DDIS 190 Manual24,337 km2nd OwnerDiesel₹14,292/month₹6,42,499Zero downpayment2016 Maruti Alto 800LXI Manual27,534 km2nd OwnerPetrol₹6,342/month₹2,85,099Zero downpayment2020 Hyundai VENUESX 1.0 GDI IMT Manual7,736 km1st OwnerPetrol₹23,277/month₹10,46,399Zero downpayment2013 Hyundai i20MAGNA O 1.4 CRDI Manual71,022 km1st OwnerDiesel₹8,339/month₹3,74,899Zero downpayment2017 Hyundai New Elantra1.6 SX AT O Automatic65,743 km3rd OwnerDiesel₹29,005/month₹13,03,899Zero downpayment2018 Maruti Vitara BrezzaZDI PLUS Manual29,025 km1st OwnerDiesel₹21,524/month₹9,67,599Zero downpayment2015 Hyundai Elite i20ASTA 1.2 Manual49,363 km1st OwnerPetrol₹12,359/month₹5,55,599Zero downpayment2019 KIA SELTOSHTX AT PETROL Automatic47,272 km1st OwnerPetrol₹32,464/month₹14,59,399Zero downpayment2014 Hyundai Elite i20ASTA 1.2 Manual57,938 km2nd OwnerPetrol₹11,365/month₹5,10,899Zero downpayment2021 Hyundai VENUE1.0 TURBO GDI SX+ AT Automatic2,051 km1st OwnerPetrol₹29,672/month₹13,33,899Zero downpayment2015 Maruti Wagon R 1.0VXI AMT Automatic33,816 km1st OwnerPetrol₹10,528/month₹4,73,299Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual33,972 km2nd OwnerPetrol₹11,053/month₹4,96,899Zero downpayment2014 Hyundai Elite i20ASTA 1.2 Manual62,865 km1st OwnerPetrol₹12,477/month₹5,60,899Zero downpayment2016 Hyundai Elite i20MAGNA 1.2 Manual54,840 km1st OwnerPetrol₹12,206/month₹5,48,699Zero downpayment2017 Maruti Alto 800LXI Manual12,135 km1st OwnerPetrol₹7,423/month₹3,33,699Zero downpayment2016 Hyundai Creta1.6 SX PLUS AUTO PETROL Automatic67,861 km1st OwnerPetrol₹23,733/month₹10,66,899Zero downpayment2017 Skoda Superb1.8 TSI LK AT Automatic22,682 km2nd OwnerPetrol₹37,162/month₹16,70,599Zero downpayment2019 Mahindra TharCRDE 4X4 BS IV Manual17,213 km1st OwnerDiesel₹20,592/month₹9,25,699Zero downpayment2019 Maruti BalenoZETA 1.2 K12 Manual10,525 km1st OwnerPetrol₹15,295/month₹6,87,599Zero downpayment2018 Maruti Vitara BrezzaZDI AMT Automatic18,432 km1st OwnerDiesel₹20,632/month₹9,27,499Zero downpayment2017 Honda Jazz1.2 V MT Manual16,650 km1st OwnerPetrol₹13,516/month₹6,07,599Zero downpayment2019 Hyundai Elite i201.2 SPORTS PLUS VTVT Manual19,883 km1st OwnerPetrol₹16,481/month₹7,40,899Zero downpayment2018 Hyundai Verna1.6 SX VTVT (O) Manual44,900 km1st OwnerPetrol₹19,402/month₹8,72,199Zero downpayment2018 Honda Amaze1.2 SMT I VTEC Manual13,109 km2nd OwnerPetrol₹13,947/month₹6,26,999Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 Manual8,180 km1st OwnerPetrol₹14,928/month₹6,71,099Zero downpayment2018 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual27,338 km1st OwnerPetrol₹12,466/month₹5,60,399Zero downpayment2017 Maruti Vitara BrezzaZDI Manual28,791 km1st OwnerDiesel₹18,828/month₹8,46,399Zero downpayment2016 Toyota Corolla AltisVL AT Automatic41,657 km1st OwnerPetrol₹24,133/month₹10,84,899Zero downpayment2015 Maruti Alto K10VXI AMT Automatic58,906 km1st OwnerPetrol₹7,539/month₹3,38,899Zero downpayment2021 Toyota YARISJ CVT Automatic3,412 km1st OwnerPetrol₹24,589/month₹11,05,399Zero downpayment2013 Hyundai Grand i10ASTA 1.2 VTVT Manual48,937 km2nd OwnerPetrol₹8,660/month₹3,89,299Zero downpayment2018 Hyundai Verna1.6 SX VTVT Manual24,680 km1st OwnerPetrol₹20,959/month₹9,42,199Zero downpayment2016 Maruti BalenoDELTA 1.2 K12 Manual48,861 km1st OwnerPetrol₹13,010/month₹5,84,878Zero downpayment2019 Hyundai Verna1.6 SX VTVT (O) Manual16,006 km1st OwnerPetrol₹24,925/month₹11,20,499Zero downpayment2019 Hyundai VENUE1.0 TURBO GDI SX+ AT Automatic3,297 km1st OwnerPetrol₹25,219/month₹11,33,699Zero downpayment2018 Hyundai Creta1.6 VTVT SX AUTO Automatic31,399 km2nd OwnerPetrol₹30,557/month₹13,73,699Zero downpayment2017 Hyundai Elite i20SPORTZ 1.2 Manual63,395 km1st OwnerPetrol₹12,557/month₹5,64,499Zero downpayment2020 Hyundai Creta1.4 SX(O) TURBO GDI DCT Automatic14,623 km1st OwnerPetrol₹40,138/month₹18,04,399Zero downpayment2017 Maruti BalenoZETA 1.2 K12 Manual13,461 km1st OwnerPetrol₹13,918/month₹6,25,699Zero downpayment2015 Maruti BalenoZETA DDIS 190 Manual48,034 km1st OwnerDiesel₹12,486/month₹5,61,299Zero downpayment2018 Maruti Alto 800LXI Manual76,230 km1st OwnerPetrol₹7,799/month₹3,50,599Zero downpayment2017 Mahindra TUV300T8 Manual39,297 km1st OwnerDiesel₹16,470/month₹7,40,399Zero downpayment2019 Maruti BalenoDELTA 1.2 K12 Manual49,941 km1st OwnerPetrol₹14,403/month₹6,47,499Zero downpayment2017 Hyundai Creta1.6 CRDI SX PLUS AUTO Automatic67,537 km2nd OwnerDiesel₹27,018/month₹12,14,599Zero downpayment2017 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual12,357 km1st OwnerPetrol₹12,368/month₹5,55,999Zero downpayment2017 Maruti BalenoDELTA 1.2 K12 Manual30,381 km1st OwnerPetrol₹13,794/month₹6,20,099Zero downpayment2018 Maruti IGNISDELTA 1.2 K12 Manual13,022 km2nd OwnerPetrol₹9,939/month₹4,46,799Zero downpayment2017 Maruti BalenoDELTA 1.2 K12 Manual15,024 km1st OwnerPetrol₹14,203/month₹6,38,499Zero downpayment2018 Maruti S CrossZETA 1.3 SHVS Manual50,195 km2nd OwnerDiesel₹19,170/month₹8,61,799Zero downpayment2015 Toyota Innova2.5 VX 7 STR BS IV Manual1,48,149 km1st OwnerDiesel₹21,593/month₹9,70,699Zero downpayment2017 Maruti IGNISDELTA 1.2 K12 Manual41,406 km1st OwnerPetrol₹10,426/month₹4,68,699Zero downpayment2017 Maruti BalenoDELTA 1.2 K12 Manual35,019 km1st OwnerPetrol₹14,105/month₹6,34,099Zero downpayment2018 Ford Figo Aspire1.2 Trend+ Petrol Manual6,136 km1st OwnerPetrol₹12,673/month₹5,69,699Zero downpayment2015 Maruti Wagon R 1.0VXI Manual32,327 km1st OwnerPetrol₹9,100/month₹4,09,099Zero downpayment2020 Tata ALTROZXZ 1.2 Manual22,160 km1st OwnerPetrol₹18,385/month₹8,26,499Zero downpayment2018 Hyundai Verna1.6 SX VTVT AT (O) Automatic12,049 km1st OwnerPetrol₹24,767/month₹11,13,380Zero downpayment2017 Hyundai Creta1.6 SX PLUS AUTO PETROL Automatic48,139 km1st OwnerPetrol₹24,987/month₹11,23,299Zero downpayment2016 Maruti BalenoZETA 1.2 K12 AMT Automatic66,971 km1st OwnerPetrol₹13,095/month₹5,88,699Zero downpayment2019 Maruti S CrossZETA SHVS Manual22,000 km1st OwnerDiesel₹20,547/month₹9,23,699Zero downpayment2015 Hyundai i20 Active1.2 S Manual43,562 km1st OwnerPetrol₹12,317/month₹5,53,699Zero downpayment2018 Ford Ecosport1.5 TITANIUM TI VCT Manual33,655 km1st OwnerPetrol₹16,859/month₹7,57,877Zero downpayment2018 Maruti Vitara BrezzaZDI PLUS DUAL TONE Manual37,510 km1st OwnerDiesel₹19,039/month₹8,55,899Zero downpayment2017 Maruti Alto K10VXI (O) AMT Automatic18,855 km1st OwnerPetrol₹8,900/month₹4,00,099Zero downpayment2017 Hyundai Elite i20ASTA 1.2 (O) Manual44,460 km2nd OwnerPetrol₹15,329/month₹6,89,099Zero downpayment2017 Maruti Wagon R 1.0VXI Manual24,837 km1st OwnerPetrol₹10,041/month₹4,51,399Zero downpayment2015 Maruti BalenoZETA 1.2 K12 Manual44,174 km1st OwnerPetrol₹12,424/month₹5,58,499Zero downpayment2019 Maruti BalenoDELTA 1.2 K12 Manual42,127 km1st OwnerPetrol₹15,747/month₹7,07,899Zero downpayment2017 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual43,601 km1st OwnerPetrol₹11,104/month₹4,99,199Zero downpayment2018 Honda CityZX CVT Automatic54,522 km1st OwnerPetrol₹23,555/month₹10,58,899Zero downpayment2018 Ford Ecosport1.5 TITANIUM SIGNATURE (SUNROOF) TDCI Manual43,371 km1st OwnerDiesel₹23,112/month₹10,38,999Zero downpayment2015 Hyundai Creta1.6 SX CRDI Manual81,590 km1st OwnerDiesel₹19,224/month₹8,64,199Zero downpayment2018 Maruti Alto 800VXI (O) Manual29,917 km1st OwnerPetrol₹7,605/month₹3,41,899Zero downpayment2018 Maruti IGNISDELTA 1.2 K12 Manual8,280 km1st OwnerPetrol₹11,899/month₹5,34,899Zero downpayment2020 Skoda Rapid1.0 AMBITION TSI AT Automatic9,272 km1st OwnerPetrol₹27,679/month₹12,44,299Zero downpayment2017 Honda BR-V1.5 i-VTEC V CVT Automatic68,442 km1st OwnerPetrol₹18,232/month₹8,19,599Zero downpayment2019 Ford Ecosport1.5 TITANIUM PLUS TI VCT AT Automatic34,762 km1st OwnerPetrol₹22,038/month₹9,90,699Zero downpayment2020 KIA SELTOS1.4 GTX+ TURBO GDI PETROL AT Automatic8,305 km1st OwnerPetrol₹42,520/month₹19,11,499Zero downpayment2018 Ford Ecosport1.5 TITANIUM TI VCT Manual19,706 km1st OwnerPetrol₹17,793/month₹7,99,899Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 Manual69,055 km1st OwnerPetrol₹13,574/month₹6,10,199Zero downpayment2021 Maruti S CrossZETA SHVS PETROL Manual8,228 km1st OwnerPetrol₹23,587/month₹10,60,333Zero downpayment2017 Hyundai Elite i20ASTA 1.2 (O) Manual43,067 km2nd OwnerPetrol₹15,511/month₹6,97,299Zero downpayment2017 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual24,409 km1st OwnerPetrol₹11,841/month₹5,32,299Zero downpayment2020 MG HECTORSHARP DCT PETROL Automatic25,063 km1st OwnerPetrol₹38,974/month₹17,52,099Zero downpayment2021 MG HECTORSHARP DCT PETROL Automatic12,272 km1st OwnerPetrol₹42,609/month₹19,15,499Zero downpayment2019 Maruti BalenoZETA 1.2 K12 Manual19,642 km1st OwnerPetrol₹16,265/month₹7,31,199Zero downpayment2017 Maruti Vitara BrezzaZDI PLUS DUAL TONE Manual44,742 km1st OwnerDiesel₹17,377/month₹7,81,199Zero downpayment2018 Maruti CiazALPHA 1.3 DDIS SHVS Manual28,523 km1st OwnerDiesel₹18,349/month₹8,24,899Zero downpayment2017 Hyundai Creta1.6 CRDI SX PLUS AUTO Automatic97,358 km1st OwnerDiesel₹23,877/month₹10,73,384Zero downpayment2018 Maruti BalenoZETA 1.2 K12 Manual10,344 km1st OwnerPetrol₹15,453/month₹6,94,699Zero downpayment2019 Maruti BalenoZETA 1.2 K12 Manual33,608 km1st OwnerPetrol₹16,386/month₹7,36,629Zero downpayment2017 Maruti BalenoDELTA 1.2 K12 Manual32,981 km1st OwnerPetrol₹14,537/month₹6,53,499Zero downpayment2020 MG HECTORSHARP DCT PETROL Automatic5,388 km1st OwnerPetrol₹42,009/month₹18,88,499Zero downpayment2017 Honda CityVX CVT PETROL Automatic24,655 km2nd OwnerPetrol₹20,932/month₹9,40,999Zero downpayment2017 Maruti Vitara BrezzaZDI Manual48,518 km1st OwnerDiesel₹16,421/month₹7,38,199Zero downpayment2017 Maruti BalenoDELTA 1.2 K12 Manual24,991 km1st OwnerPetrol₹14,537/month₹6,53,499Zero downpayment2017 Tata HexaVaricor 400 XTA Automatic1,04,347 km1st OwnerDiesel₹24,798/month₹11,14,799Zero downpayment2018 Maruti Alto 800LXI Manual28,017 km1st OwnerPetrol₹7,543/month₹3,39,099Zero downpayment2020 Tata NEXONXZ+ 1.2 Manual43,163 km1st OwnerPetrol₹20,823/month₹9,36,099Zero downpayment2017 Maruti S CrossZETA SHVS Manual58,871 km1st OwnerDiesel₹21,328/month₹9,58,799Zero downpayment2017 Maruti IGNISZETA 1.2 K12 AMT Automatic26,328 km1st OwnerPetrol₹12,989/month₹5,83,899Zero downpayment2018 Ford Ecosport1.5 TITANIUM PLUS TI VCT AT Automatic44,981 km1st OwnerPetrol₹20,122/month₹9,04,599Zero downpayment2017 Tata HexaVaricor 400 XTA Automatic1,19,618 km1st OwnerDiesel₹22,716/month₹10,21,199Zero downpayment2018 

**Creating a list of the names of cars and prices of cars**

In [4]:
car_name =[]
car_price=[]

**Extracting the container of each car and then extracting each name and price of the car**

In [5]:
for car_tag in soup.find_all('div', class_='col-4'):  

    
    car_name=[score.get_text()for score in soup.find_all(name="h2", class_="_3FpCg")]
    
    car_price=[score.get_text() for score in soup.find_all(name="div", class_="_7udZZ")]

print("Extracted Successfully")

Extracted Successfully

In [6]:
#car_model=[]
#car_info=[]

#for car_tag in soup.find_all('div', class_='col-4'):  

    # car_model=[score.get_text() for score in soup.find_all(name="p", class_="cvakB")]
    
    #car_info=[score.get_text() for score in soup.find_all(name="ul", class_="bVR0c") ]

**Extracting wheather the car is Manual Or Automatic**

In [7]:
car_model_tag = soup.find_all(name="p", class_="cvakB")

car_model = [ma.find_all(name='span')[0].text for ma in car_model_tag]  #  ma stand for manual automatic

car_model = [nan if nan.replace(' ','') else None for nan in car_model ] # nan stands for None values in list

print("Extracted Successfully")

Extracted Successfully

**Extracting the car's link**

In [8]:
car_link=[]
car_tag=soup.find_all(name="a", class_="_9Ue0B")
for i in car_tag:
    link=i.get("href")
    car_link.append(link)   
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Kilometers, How many km the car has already covered**

In [9]:
km=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[0]:
        km.append(i)
        
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Owner, is the owner 1'st or 2'nd**

In [10]:
owner=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[1]:
        owner.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's type, is the car Petrol or Diesal**

In [11]:
ctype=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[2]:
        ctype.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Checking the length of all list**

In [12]:
print(len(car_link))
print(len(car_name))
print(len(car_model))
print(len(car_price))
print(len(km))
print(len(owner))
print(len(ctype))
#print(len(car_info))

487
487
487
487
487
487
487

**Creating a Dictionary with the lists we have created above**

In [13]:
d={'Car Name':car_name,'Car model':car_model,'Car Price':car_price,'KM':km,'Owner':owner,'Car Type':ctype,'Car link':car_link}

<h2>Creating a Dataframe using Pandas</h2>

In [14]:
df = pd.DataFrame(d)
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,2021 Nissan MAGNITE,None,"₹9,63,799","16,049 km",1st Owner,Petrol,https://www.cars24.com/buy-used-nissan-magnite...
1,2014 Volkswagen Vento,Manual,"₹5,13,399","41,569 km",1st Owner,Petrol,https://www.cars24.com/buy-used-volkswagen-ven...
2,2020 Tata Tiago,Manual,"₹6,80,399","8,118 km",1st Owner,Petrol,https://www.cars24.com/buy-used-tata-tiago-202...
3,2015 Renault Duster,Manual,"₹6,76,799","63,143 km",1st Owner,Diesel,https://www.cars24.com/buy-used-renault-duster...
4,2020 Maruti Alto,Manual,"₹3,95,099","2,530 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-20...

**The 'Car Name' column has year, brand, car name so splitting the column car name and extracting year from it and storing 'Year' as a new column in Dataframe df**

In [15]:
df['Car Name'].str.split(expand=True)
Cyear=df['Car Name'].str.extract(r'(?P<Year>\w+)', expand=True)
df['Year']=Cyear
df['Year'].head()

0    2021
1    2014
2    2020
3    2015
4    2020
Name: Year, dtype: object

**Splitting the Column 'Car Name' and extracting brand from it and storing 'Brand' as a new column in Dataframe df**

In [16]:
s=df['Car Name'].str.split(expand=True)
s.drop(columns=s.columns[0], axis=1, inplace=True)
df['Brand']=s[1]
df['Brand'].head()

0        Nissan
1    Volkswagen
2          Tata
3       Renault
4        Maruti
Name: Brand, dtype: object

**Splitting the Column 'Car Name' and extracting Car Name itself from it and storing 'Car Name' as a new column in Dataframe df**

In [17]:
a=df['Car Name'].str.split(expand=True)

b=a.drop([0, 1], axis = 1)

c=b.fillna("")

d= c[2]+ " " + c[3]+ " " +c[4] 
df['Car Name'] =d

In [18]:
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand
0,MAGNITE,None,"₹9,63,799","16,049 km",1st Owner,Petrol,https://www.cars24.com/buy-used-nissan-magnite...,2021,Nissan
1,Vento,Manual,"₹5,13,399","41,569 km",1st Owner,Petrol,https://www.cars24.com/buy-used-volkswagen-ven...,2014,Volkswagen
2,Tiago,Manual,"₹6,80,399","8,118 km",1st Owner,Petrol,https://www.cars24.com/buy-used-tata-tiago-202...,2020,Tata
3,Duster,Manual,"₹6,76,799","63,143 km",1st Owner,Diesel,https://www.cars24.com/buy-used-renault-duster...,2015,Renault
4,Alto,Manual,"₹3,95,099","2,530 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-20...,2020,Maruti

**Adding City Column with City as Pune**

In [19]:
df['City']='Pune'

len(df['City'])

487

In [20]:
df

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand,City
0,MAGNITE,None,"₹9,63,799","16,049 km",1st Owner,Petrol,https://www.cars24.com/buy-used-nissan-magnite...,2021,Nissan,Pune
1,Vento,Manual,"₹5,13,399","41,569 km",1st Owner,Petrol,https://www.cars24.com/buy-used-volkswagen-ven...,2014,Volkswagen,Pune
2,Tiago,Manual,"₹6,80,399","8,118 km",1st Owner,Petrol,https://www.cars24.com/buy-used-tata-tiago-202...,2020,Tata,Pune
3,Duster,Manual,"₹6,76,799","63,143 km",1st Owner,Diesel,https://www.cars24.com/buy-used-renault-duster...,2015,Renault,Pune
4,Alto,Manual,"₹3,95,099","2,530 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-20...,2020,Maruti,Pune
...,...,...,...,...,...,...,...,...,...,...
482,Swift Dzire,Manual,"₹4,55,599","88,286 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-swift-d...,2013,Maruti,Pune
483,Creta,Manual,"₹7,69,599","48,656 km",1st Owner,Petrol,https://www.cars24.com/buy-used-hyundai-creta-...,2016,Hyundai,Pune
484,Duster,Manual,"₹4,97,599","1,72,680 km",1st Owner,Diesel,https://www.cars24.com/buy-used-renault-duster...,2015,Renault,Pune
485,Jetta,Automatic,"₹9,43,699","92,831 km",1st Owner,Diesel,https://www.cars24.com/buy-used-volkswagen-jet...,2015,Volkswagen,Pune
486,Vitara Brezza,Manual,"₹9,42,399","73,930 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-vitara-...,2018,Maruti,Pune

**Re-arranging the order of Columns**

In [21]:
data=df.reindex(columns=['City','Year','Brand','Car Name','Car model','Car Price','KM','Owner','Car Type','Car link'])

In [22]:
data.head()

,City,Year,Brand,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,Pune,2021,Nissan,MAGNITE,None,"₹9,63,799","16,049 km",1st Owner,Petrol,https://www.cars24.com/buy-used-nissan-magnite...
1,Pune,2014,Volkswagen,Vento,Manual,"₹5,13,399","41,569 km",1st Owner,Petrol,https://www.cars24.com/buy-used-volkswagen-ven...
2,Pune,2020,Tata,Tiago,Manual,"₹6,80,399","8,118 km",1st Owner,Petrol,https://www.cars24.com/buy-used-tata-tiago-202...
3,Pune,2015,Renault,Duster,Manual,"₹6,76,799","63,143 km",1st Owner,Diesel,https://www.cars24.com/buy-used-renault-duster...
4,Pune,2020,Maruti,Alto,Manual,"₹3,95,099","2,530 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-20...

**Storing the data as CSV in Given Path**

In [23]:
path="D:\Malhar H Jadhav\Zep Intern\Task 2\Code and data\Data\Cars24_Pune.csv"
data.to_csv(path, index=False)