<h3>Importing the Libraries Required </h3>

In [1]:
import urllib
import time
import json
import numpy as np
import pandas as pd
from tqdm import tqdm
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from bs4 import BeautifulSoup
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException

<h3>Using Selenium For Auto Scrolling the Web-Page and Extracting the The Page Source</h3>

In [2]:
driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')
driver.wait = WebDriverWait(driver, 5)
driver.maximize_window()
driver.get("https://www.cars24.com/buy-used-car?sort=P&storeCityId=3686&pinId=500001")
time.sleep(7)


height = driver.execute_script("return document.documentElement.scrollHeight")
lastheight = 0
while True:
    if lastheight == height:
        break
    lastheight = height
    driver.execute_script("window.scrollTo(0, " + str(height) + ");")
    time.sleep(10)
    height = driver.execute_script("return document.documentElement.scrollHeight")
    
    
# Using BeautifulSoup To Store the Page Source in Object Called Soup

soup = BeautifulSoup(driver.page_source)
driver.quit()

C:\Users\jadha\AppData\Local\Temp/ipykernel_13084/2285893684.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')

<h3>Storing the page source in object called Soup and viewing the text</h3>

In [3]:
soup.text

"\n\n\n\n\n\n\n\n\n\n\nUsed Cars in Hyderabad - Second Hand Cars in Hyderabad for Sale\nHyderabad  Popular CitiesUsed cars in BengaluruPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in BengaluruUsed cars in ChennaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChennaiUsed cars in New DelhiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in New DelhiUsed cars in MumbaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in MumbaiUsed cars in PunePopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in PuneUsed cars in HyderabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in HyderabadUsed cars in KolkataPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in KolkataUsed cars in AhmedabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in AhmedabadUsed cars in JaipurPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in JaipurUsed cars in ChandigarhPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChandigarhBuy used carSell used carLoginRC Transfers StatusFAQBecome a partnerBuy Car: 9 AM - 9 PM1800 258 5656HomeUsed CarsHyderabadFind your dream car with usSort By:Best Match  PriceModel YearKMs DrivenMake & ModelRTOMore FiltersUsed Cars in Hyderabad2012 Hyundai i10ERA 1.1 IRDE Manual45,261 km3rd OwnerPetrol₹7,330/month₹3,29,499Zero downpayment2021 KIA SONETHTX 1.0 IMT 21,260 km1st OwnerPetrol₹24,585/month₹11,05,199Zero downpayment2015 Maruti Swift DzireVDI BS IV Manual98,487 km1st OwnerDiesel₹11,985/month₹5,38,799Zero downpayment2016 Honda Jazz1.2 S MT Manual46,757 km1st OwnerPetrol₹13,215/month₹5,94,099Zero downpayment2018 Maruti Eeco7 STR Manual13,241 km1st OwnerPetrol₹8,929/month₹4,01,399Zero downpaymentFilter By Popular BrandMarutiHyundaiHondaTataToyota2019 Maruti CelerioVXI Manual16,550 km1st OwnerPetrol₹11,936/month₹5,36,599Zero downpayment2021 Mahindra XUV500W11 Manual15,339 km1st OwnerDiesel₹48,833/month₹21,95,299Zero downpayment2015 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual22,344 km1st OwnerPetrol₹11,438/month₹5,14,199Zero downpayment2016 Hyundai Elite i20ASTA 1.2 (O) Manual90,741 km1st OwnerPetrol₹14,717/month₹6,61,599Zero downpayment2019 Maruti S PRESSOVXI Manual23,377 km1st OwnerPetrol₹9,977/month₹4,48,499Zero downpayment2019 Maruti Eeco5 STR WITH AC PLUSHTR Manual11,909 km1st OwnerPetrol₹10,824/month₹4,86,599Zero downpaymentFilter By BudgetCars under 2 lakhCars between 2 lakh - 5 lakhCars between 5 lakh - 10 lakhCars above 10 lakh2012 Hyundai i10MAGNA 1.2 KAPPA2 Manual66,786 km2nd OwnerPetrol₹7,263/month₹3,26,499Zero downpayment2019 Ford Ecosport1.5TITANIUM TDCI Manual25,668 km2nd OwnerDiesel₹20,440/month₹9,18,899Zero downpayment2020 Renault DusterRXZ Manual7,033 km1st OwnerPetrol₹23,504/month₹10,56,623Zero downpayment2018 Hyundai EonERA PLUS Manual51,790 km1st OwnerPetrol₹8,135/month₹3,65,699Zero downpayment2019 Maruti S PRESSOVXI Manual46,934 km2nd OwnerPetrol₹9,772/month₹4,39,299Zero downpayment2021 Volkswagen PoloHIGHLINE PLUS 1.0 TSI AT Automatic21,719 km1st OwnerPetrol₹22,580/month₹10,15,099Zero downpaymentFilter By Fuel TypePetrolDieselCNGLPGElectricHybrid2020 Maruti AltoLXI Manual18,490 km1st OwnerPetrol₹8,835/month₹3,97,199Zero downpayment2021 Hyundai VENUE1.0 TURBO GDI S IMT Manual3,273 km1st OwnerPetrol₹23,392/month₹10,51,599Zero downpayment2021 Hyundai VENUESX(O) CRDi Manual30,995 km1st OwnerDiesel₹29,861/month₹13,42,399Zero downpayment2016 Hyundai Grand i10ASTA 1.2 KAPPA VTVT Manual47,886 km2nd OwnerPetrol₹11,225/month₹5,04,599Zero downpayment2019 KIA SELTOSGTX + AT PETROL Automatic45,343 km1st OwnerPetrol₹36,014/month₹16,18,999Zero downpayment2016 Honda Jazz1.2 V AT Automatic87,510 km1st OwnerPetrol₹14,588/month₹6,55,799Zero downpaymentFilter By Body TypeHatchbackSedanSUVLuxury SedanLuxury SUV2018 Maruti S CrossALPHA 1.3 Manual45,849 km1st OwnerDiesel₹18,042/month₹8,11,099Zero downpayment2018 Maruti Wagon R 1.0VXI Manual64,715 km2nd OwnerPetrol₹9,993/month₹4,49,249Zero downpayment2021 Renault TRIBER1.0 RXL PETROL Manual41,079 km1st OwnerPetrol₹14,679/month₹6,59,899Zero downpayment2018 Maruti Alto 800LXI Manual20,555 km2nd OwnerPetrol₹7,490/month₹3,36,699Zero downpayment12-Months Free Warranty!Free 12 months warranty on all cars to safeguard you from unforeseen repair and maintenance costsKNOW MORE2013 Maruti Wagon R 1.0VXI Manual59,000 km1st OwnerPetrol₹7,572/month₹3,40,399Zero downpayment2014 Maruti Wagon R 1.0VXI Manual48,338 km1st OwnerPetrol₹9,027/month₹4,05,799Zero downpayment2017 Honda CityZX CVT Automatic43,858 km1st OwnerPetrol₹23,477/month₹10,55,399Zero downpayment2017 Maruti Alto K10VXI Manual16,104 km1st OwnerPetrol₹8,831/month₹3,96,999Zero downpayment2009 Toyota Corolla AltisVL AT Automatic95,761 km2nd OwnerPetrol₹13,651/month₹6,13,699Zero downpayment2017 Maruti Alto K10VXI Manual52,011 km1st OwnerPetrol₹8,101/month₹3,64,199Zero downpayment2019 Maruti Alto K10VXI Manual46,722 km1st OwnerPetrol₹9,636/month₹4,33,199Zero downpayment2020 Ford Ecosport1.5 TITANIUM PLUS TI VCT AT Automatic5,998 km1st OwnerPetrol₹26,186/month₹11,77,199Zero downpayment2021 Mahindra XUV 3OOW8(O) Manual29,763 km1st OwnerDiesel₹30,504/month₹13,71,299Zero downpayment2018 Maruti IGNISDELTA 1.2 K12 Manual33,355 km1st OwnerPetrol₹12,065/month₹5,42,399Zero downpayment2021 Maruti AltoVXI Manual11,190 km1st OwnerPetrol₹9,874/month₹4,43,899Zero downpayment2020 Maruti CiazALPHA 1.5 AT VTVT SHVS 35,246 km1st OwnerPetrol₹23,624/month₹10,61,999Zero downpayment2018 Hyundai XcentSX 1.2 CRDI OPT Manual46,923 km2nd OwnerDiesel₹16,423/month₹7,38,299Zero downpayment2017 Maruti Alto K10VXI Manual62,118 km1st OwnerPetrol₹8,735/month₹3,92,699Zero downpayment2020 Toyota YARISJ CVT Automatic9,875 km1st OwnerPetrol₹23,205/month₹10,43,199Zero downpayment2018 Ford Ecosport1.5 TITANIUM TI VCT AT Automatic42,166 km1st OwnerPetrol₹20,151/month₹9,05,899Zero downpayment2021 Maruti CelerioZXI Manual2,072 km1st OwnerPetrol₹15,965/month₹7,17,699Zero downpayment2010 Honda CityS MT PETROL Manual70,658 km2nd OwnerPetrol₹10,224/month₹4,59,599Zero downpayment2015 Maruti Alto K10VXI Manual2,35,314 km1st OwnerPetrol₹5,990/month₹2,69,299Zero downpayment2016 Renault KwidRXL Manual53,358 km2nd OwnerPetrol₹7,305/month₹3,28,399Zero downpayment2016 Renault Kwid1.0 RXT Manual69,209 km2nd OwnerPetrol₹7,423/month₹3,33,699Zero downpayment2013 Maruti Alto 800VXI Manual65,343 km1st OwnerPetrol₹5,593/month₹2,51,455Zero downpayment2013 Maruti Alto 800LXI Manual54,468 km2nd OwnerPetrol₹5,910/month₹2,65,699Zero downpayment2014 Maruti Alto K10VXI Manual33,556 km3rd OwnerPetrol₹6,518/month₹2,92,999Zero downpayment2013 Hyundai EonERA PLUS Manual62,018 km2nd OwnerPetrol₹6,313/month₹2,83,799Zero downpayment2013 Hyundai i10MAGNA 1.2 KAPPA2 Manual55,357 km1st OwnerPetrol₹8,424/month₹3,78,699Zero downpayment2018 Maruti Eeco7 STR Manual40,217 km2nd OwnerPetrol₹8,929/month₹4,01,399Zero downpayment2016 Maruti Vitara BrezzaZDI PLUS DUAL TONE Manual75,010 km1st OwnerDiesel₹18,082/month₹8,12,899Zero downpayment2016 Maruti Wagon R 1.0VXI Manual78,918 km1st OwnerPetrol₹8,789/month₹3,95,099Zero downpayment2019 Hyundai Elite i201.2 SPORTS PLUS VTVT Manual25,708 km1st OwnerPetrol₹15,938/month₹7,16,499Zero downpayment2016 Maruti BalenoZETA 1.2 K12 Manual1,03,616 km1st OwnerPetrol₹13,476/month₹6,05,799Zero downpayment2020 Hyundai VENUE1.5 SX CRDI MT Manual41,512 km1st OwnerDiesel₹22,647/month₹10,18,099Zero downpayment2017 Hyundai Creta1.6 CRDI SX PLUS AUTO Automatic77,868 km1st OwnerDiesel₹26,395/month₹11,86,599Zero downpayment2018 Ford Ecosport1.5 TREND+ TDCI Manual50,449 km1st OwnerDiesel₹17,033/month₹7,65,699Zero downpayment2018 Maruti Alto 800LXI Manual32,293 km1st OwnerPetrol₹7,490/month₹3,36,699Zero downpayment2017 Hyundai VernaFLUIDIC 1.6 SX VTVT Manual71,379 km1st OwnerPetrol₹18,071/month₹8,12,399Zero downpayment2019 Maruti Vitara BrezzaZDI + AMT Automatic74,283 km2nd OwnerDiesel₹20,983/month₹9,43,299Zero downpayment2018 Maruti S CrossZETA 1.3 SHVS Manual69,768 km2nd OwnerDiesel₹19,586/month₹8,80,499Zero downpayment2018 Maruti SwiftVXI Manual38,117 km1st OwnerPetrol₹11,965/month₹5,37,899Zero downpayment2016 Hyundai Creta1.6 SX CRDI Manual44,442 km1st OwnerDiesel₹24,462/month₹10,99,699Zero downpayment2019 Maruti SwiftVXI AMT Automatic44,790 km1st OwnerPetrol₹15,558/month₹6,99,399Zero downpayment2014 Maruti Alto 800LXI Manual28,092 km1st OwnerPetrol₹6,193/month₹2,78,399Zero downpayment2021 Mahindra TharLX D 4*4 MT HT Manual13,569 km1st OwnerDiesel₹39,553/month₹17,78,099Zero downpayment2013 Hyundai EonMAGNA PLUS Manual18,394 km1st OwnerPetrol₹6,918/month₹3,10,999Zero downpayment2019 Mahindra XUV 3OOW8(O) Manual96,605 km1st OwnerDiesel₹24,649/month₹11,08,099Zero downpayment2020 Mahindra XUV500W9 Manual11,082 km1st OwnerDiesel₹39,353/month₹17,69,099Zero downpayment2017 Datsun Redi GoT (O) Manual41,155 km1st OwnerPetrol₹6,649/month₹2,98,899Zero downpayment2017 Volkswagen PoloHIGHLINE1.5L DIESEL Manual60,513 km1st OwnerDiesel₹15,487/month₹6,96,199Zero downpayment2021 Volkswagen PoloHighline 1.0 AT Petrol Automatic7,945 km1st OwnerPetrol₹23,862/month₹10,72,699Zero downpayment2019 Tata TiagoXZ+ 1.2 Revotron Manual27,586 km1st OwnerPetrol₹14,023/month₹6,30,399Zero downpayment2013 Honda CityV MT PETROL Manual64,907 km1st OwnerPetrol₹12,877/month₹5,78,899Zero downpayment2017 Maruti Alto 800LXI Manual76,694 km2nd OwnerPetrol₹6,673/month₹2,99,999Zero downpayment2019 Maruti CelerioVXI Manual23,887 km1st OwnerPetrol₹11,814/month₹5,31,099Zero downpayment2012 Honda CityV MT PETROL Manual70,794 km2nd OwnerPetrol₹11,816/month₹5,31,199Zero downpayment2017 Honda CityVX CVT PETROL Automatic27,106 km1st OwnerPetrol₹22,974/month₹10,32,799Zero downpayment2020 Maruti CelerioZXI OPT Manual19,182 km1st OwnerPetrol₹13,186/month₹5,92,799Zero downpayment2017 Maruti Alto 800LXI Manual86,914 km1st OwnerPetrol₹7,043/month₹3,16,599Zero downpayment2018 Maruti CiazZETA 1.4 VVT AMT Automatic79,223 km2nd OwnerPetrol₹17,184/month₹7,72,499Zero downpayment2019 Maruti S PRESSOVXI Manual26,493 km1st OwnerPetrol₹9,868/month₹4,43,599Zero downpayment2014 Honda Brio1.2 S MT I VTEC Manual35,224 km2nd OwnerPetrol₹9,031/month₹4,05,999Zero downpayment2017 Hyundai Verna1.6 CRDI SX + AT Automatic93,390 km1st OwnerDiesel₹23,321/month₹10,48,399Zero downpayment2017 Maruti Alto 800LXI OPT Manual32,881 km1st OwnerPetrol₹7,385/month₹3,31,999Zero downpayment2021 Volkswagen PoloHIGH LINE PLUS 1.0 Manual11,259 km1st OwnerPetrol₹21,826/month₹9,81,199Zero downpayment2016 Honda Jazz1.2 V AT Automatic31,638 km2nd OwnerPetrol₹14,890/month₹6,69,399Zero downpayment2014 Maruti Wagon R 1.0VXI Manual34,760 km2nd OwnerPetrol₹8,744/month₹3,93,099Zero downpayment2017 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual86,781 km1st OwnerPetrol₹11,494/month₹5,16,699Zero downpayment2017 Honda Brio1.2 VX MT I VTEC Manual28,491 km1st OwnerPetrol₹11,701/month₹5,25,999Zero downpayment2018 Hyundai EonERA PLUS Manual69,748 km1st OwnerPetrol₹7,706/month₹3,46,407Zero downpayment2018 Maruti Alto 800LXI Manual79,156 km1st OwnerPetrol₹7,490/month₹3,36,699Zero downpayment2017 Maruti CiazSIGMA 1.4 VVT Manual75,324 km2nd OwnerPetrol₹15,431/month₹6,93,699Zero downpayment2018 Maruti Alto 800LXI Manual36,510 km1st OwnerPetrol₹7,490/month₹3,36,699Zero downpayment2018 Maruti Alto 800LXI Manual67,110 km1st OwnerPetrol₹7,490/month₹3,36,699Zero downpayment2017 Maruti Alto K10VXI Manual13,707 km1st OwnerPetrol₹8,735/month₹3,92,699Zero downpayment2013 Honda Amaze1.5 EXMT I DTEC Manual93,791 km1st OwnerDiesel₹9,203/month₹4,13,699Zero downpayment2016 Maruti Wagon R 1.0VXI Manual72,772 km1st OwnerPetrol₹9,045/month₹4,06,599Zero downpayment2018 Maruti Alto 800LXI Manual41,552 km2nd OwnerPetrol₹7,490/month₹3,36,699Zero downpayment2014 Ford Ecosport1.0 ECOBOOST TITANIUM OPT Manual83,306 km1st OwnerPetrol₹15,037/month₹6,75,999Zero downpayment2017 Honda Jazz1.2 V AT Automatic65,990 km2nd OwnerPetrol₹14,245/month₹6,40,399Zero downpayment2021 MG HECTORSHARP CVT Automatic13,107 km1st OwnerPetrol₹44,378/month₹19,94,999Zero downpayment2017 Honda Jazz1.2 V AT Automatic30,858 km2nd OwnerPetrol₹15,580/month₹7,00,399Zero downpayment2017 Maruti Alto K10VXI Manual89,968 km2nd OwnerPetrol₹8,339/month₹3,74,899Zero downpayment2019 Maruti S PRESSOVXI Manual7,036 km1st OwnerPetrol₹9,977/month₹4,48,499Zero downpayment2018 Maruti Wagon R 1.0VXI Manual18,299 km2nd OwnerPetrol₹10,860/month₹4,88,199Zero downpayment2019 Hyundai NEW SANTROSPORTZ 1.1 Manual42,627 km2nd OwnerPetrol₹11,881/month₹5,34,099Zero downpayment2020 Maruti S PRESSOVXI PLUS Manual75,863 km1st OwnerPetrol₹10,535/month₹4,73,599Zero downpayment2017 Maruti IGNISDELTA 1.2 K12 Manual60,066 km2nd OwnerPetrol₹11,107/month₹4,99,299Zero downpayment2017 Maruti Alto K10VXI Manual24,300 km1st OwnerPetrol₹8,640/month₹3,88,399Zero downpayment2017 Honda Jazz1.2 V AT Automatic21,271 km1st OwnerPetrol₹16,034/month₹7,20,799Zero downpayment2017 Maruti IGNISALPHA 1.2 K12 Manual83,526 km2nd OwnerPetrol₹11,058/month₹4,97,099Zero downpayment2021 Datsun Redi Go1.0 T(O) Manual25,837 km1st OwnerPetrol₹10,755/month₹4,83,499Zero downpayment2017 Honda CityV MT PETROL Manual79,119 km1st OwnerPetrol₹17,698/month₹7,95,599Zero downpayment2019 Hyundai Elite i20ASTA 1.2 (O) Manual59,869 km1st OwnerPetrol₹17,248/month₹7,75,399Zero downpayment2018 Ford Ecosport1.5 TITANIUM TI VCT Manual35,760 km1st OwnerPetrol₹18,338/month₹8,24,399Zero downpayment2017 Maruti IGNISDELTA 1.2 K12 Manual41,628 km2nd OwnerPetrol₹11,485/month₹5,16,299Zero downpayment2017 Maruti IGNISZETA 1.2 K12 Manual68,055 km2nd OwnerPetrol₹11,418/month₹5,13,299Zero downpayment2021 Maruti AltoVXI Manual13,496 km1st OwnerPetrol₹9,585/month₹4,30,899Zero downpayment2021 Hyundai GRAND I10 NIOSSPORTZ 1.2 AT Automatic11,891 km1st OwnerPetrol₹17,998/month₹8,09,099Zero downpayment2018 Ford Ecosport1.5 TITANIUM TI VCT Manual25,637 km1st OwnerPetrol₹18,338/month₹8,24,399Zero downpayment2017 Maruti S CrossZETA 1.3 Manual69,783 km1st OwnerDiesel₹17,551/month₹7,88,999Zero downpayment2018 Maruti Wagon R 1.0VXI Manual63,990 km1st OwnerPetrol₹10,733/month₹4,82,499Zero downpayment2017 Maruti IGNISZETA 1.2 K12 Manual52,934 km1st OwnerPetrol₹11,585/month₹5,20,799Zero downpayment2019 Maruti AltoLXI Manual52,409 km1st OwnerPetrol₹7,674/month₹3,44,999Zero downpayment2019 Maruti AltoLXI Manual49,041 km1st OwnerPetrol₹7,674/month₹3,44,999Zero downpayment2019 Toyota YARISG CVT Automatic12,115 km1st OwnerPetrol₹23,805/month₹10,70,156Zero downpayment2018 Toyota YARISJ MT Manual61,387 km1st OwnerPetrol₹18,445/month₹8,29,199Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 AT Automatic46,677 km1st OwnerPetrol₹16,630/month₹7,47,599Zero downpayment2008 Maruti Wagon R DuoLXI LPG Manual1,00,795 km2nd OwnerPetrol + LPG₹4,533/month₹2,03,799Zero downpayment2018 Maruti ErtigaZDI PLUS SHVS Manual43,460 km1st OwnerDiesel₹24,960/month₹11,22,099Zero downpayment2021 Skoda Rapid1.0 AMBITION TSI AT Automatic20,666 km1st OwnerPetrol₹25,247/month₹11,34,999Zero downpayment2019 Honda Amaze1.2 SMT I VTEC Manual18,039 km1st OwnerPetrol₹14,494/month₹6,51,599Zero downpayment2018 Maruti DzireVXI Manual46,682 km2nd OwnerPetrol₹15,037/month₹6,75,999Zero downpayment2015 Hyundai EonMAGNA PLUS Manual39,091 km1st OwnerPetrol₹7,045/month₹3,16,699Zero downpayment2017 Hyundai EonERA PLUS (O) Manual44,244 km1st OwnerPetrol₹7,688/month₹3,45,599Zero downpayment2016 Maruti Wagon R 1.0VXI Manual40,956 km1st OwnerPetrol₹8,724/month₹3,92,199Zero downpayment2018 Maruti Eeco5 STR WITH AC PLUSHTR Manual26,120 km1st OwnerPetrol₹9,209/month₹4,13,999Zero downpayment2017 Hyundai i20 Active1.2 S Manual1,09,693 km1st OwnerPetrol₹13,207/month₹5,93,699Zero downpayment2017 Maruti BalenoZETA 1.2 K12 Manual59,553 km1st OwnerPetrol₹14,051/month₹6,31,668Zero downpayment2017 Maruti IGNISALPHA 1.2 K12 DUAL TONE Manual79,502 km1st OwnerPetrol₹11,572/month₹5,20,199Zero downpayment2019 Maruti AltoLXI Manual18,271 km1st OwnerPetrol₹7,926/month₹3,56,299Zero downpayment2015 Maruti CelerioVXI Manual47,628 km1st OwnerPetrol₹8,909/month₹4,00,499Zero downpayment2012 Hyundai i20SPORTZ 1.2 VTVT Manual29,899 km1st OwnerPetrol₹9,768/month₹4,39,099Zero downpayment2018 Maruti SwiftZDI + Manual55,802 km1st OwnerDiesel₹16,541/month₹7,43,599Zero downpayment2016 Renault KwidRXL Manual24,727 km2nd OwnerPetrol₹7,189/month₹3,23,199Zero downpayment2011 Maruti SwiftZXI Manual49,294 km2nd OwnerPetrol₹10,032/month₹4,50,999Zero downpayment2010 Hyundai i10SPORTZ 1.2 Manual50,521 km1st OwnerPetrol₹6,878/month₹3,09,199Zero downpayment2015 Volkswagen PoloTRENDLINE 1.5L DIESEL Manual82,185 km1st OwnerDiesel₹10,962/month₹4,92,799Zero downpayment2014 Maruti SwiftVXI Manual31,441 km1st OwnerPetrol₹9,950/month₹4,47,299Zero downpayment2021 Tata NEXONXZ 1.2 Manual4,364 km1st OwnerPetrol₹23,770/month₹10,68,599Zero downpayment2018 Volkswagen PoloTrendline 1.0 L Petrol Manual32,255 km2nd OwnerPetrol₹12,426/month₹5,58,599Zero downpayment2012 Hyundai i20SPORTZ 1.2 VTVT Manual42,794 km2nd OwnerPetrol₹9,756/month₹4,38,599Zero downpayment2018 Volkswagen PoloTrendline 1.0 L Petrol Manual94,166 km2nd OwnerPetrol₹12,426/month₹5,58,599Zero downpayment2016 Hyundai EonMAGNA PLUS Manual18,008 km1st OwnerPetrol₹7,114/month₹3,19,799Zero downpayment2020 Mahindra XUV500W9 Manual7,672 km1st OwnerDiesel₹40,262/month₹18,09,999Zero downpayment2016 Honda Jazz1.2 V MT Manual70,712 km2nd OwnerPetrol₹11,038/month₹4,96,199Zero downpayment2016 Volkswagen PoloGT TSI 1.2 PETROL AT Automatic65,031 km1st OwnerPetrol₹15,019/month₹6,75,199Zero downpayment2017 Mahindra TharCRDE 4X4 BS IV Manual45,562 km2nd OwnerDiesel₹17,876/month₹8,03,599Zero downpayment2020 Maruti Vitara BrezzaVXI AMT SHVS Automatic16,870 km1st OwnerPetrol₹24,335/month₹10,93,999Zero downpayment2019 Volkswagen AmeoTrendline 1.0 Manual77,319 km1st OwnerPetrol₹12,010/month₹5,39,899Zero downpayment2014 Datsun GoT Manual22,264 km1st OwnerPetrol₹6,662/month₹2,99,499Zero downpayment2015 Honda Jazz1.2 VX I-VTECH Manual77,836 km1st OwnerPetrol₹12,835/month₹5,76,999Zero downpayment2017 Maruti BalenoALPHA 1.2 K12 Manual34,171 km1st OwnerPetrol₹15,842/month₹7,12,199Zero downpayment2015 Honda Brio1.2 S MT I VTEC Manual32,648 km2nd OwnerPetrol₹9,007/month₹4,04,899Zero downpayment2019 Honda CityZX CVT Automatic96,695 km1st OwnerPetrol₹25,590/month₹11,50,399Zero downpayment2017 Maruti CiazALPHA 1.4 VVT Manual97,271 km1st OwnerPetrol₹15,560/month₹6,99,499Zero downpayment2018 Maruti CiazDELTA 1.4 VVT Manual69,599 km1st OwnerPetrol₹15,765/month₹7,08,699Zero downpayment2016 Hyundai EonERA PLUS Manual25,026 km1st OwnerPetrol₹7,278/month₹3,27,199Zero downpayment2020 Renault TRIBER1.0 RXZ Manual52,610 km2nd OwnerPetrol₹14,230/month₹6,39,699Zero downpayment2017 Datsun GoT Manual30,621 km1st OwnerPetrol₹7,314/month₹3,28,799Zero downpayment2015 Hyundai EonERA PLUS Manual60,585 km1st OwnerPetrol₹6,889/month₹3,09,699Zero downpayment2

**Creating a list of the names of cars and prices of cars**

In [4]:
car_name =[]
car_price=[]

**Extracting the container of each car and then extracting each name and price of the car**

In [5]:
for car_tag in soup.find_all('div', class_='col-4'):  

    
    car_name=[score.get_text()for score in soup.find_all(name="h2", class_="_3FpCg")]
    
    car_price=[score.get_text() for score in soup.find_all(name="div", class_="_7udZZ")]

print("Extracted Successfully")

Extracted Successfully

In [6]:
#car_model=[]
#car_info=[]

#for car_tag in soup.find_all('div', class_='col-4'):  

    # car_model=[score.get_text() for score in soup.find_all(name="p", class_="cvakB")]
    
    #car_info=[score.get_text() for score in soup.find_all(name="ul", class_="bVR0c") ]

**Extracting wheather the car is Manual Or Automatic**

In [7]:
car_model_tag = soup.find_all(name="p", class_="cvakB")

car_model = [ma.find_all(name='span')[0].text for ma in car_model_tag]  #  ma stand for manual automatic

car_model = [nan if nan.replace(' ','') else None for nan in car_model ] # nan stands for None values in list

print("Extracted Successfully")

Extracted Successfully

**Extracting the car's link**

In [8]:
car_link=[]
car_tag=soup.find_all(name="a", class_="_9Ue0B")
for i in car_tag:
    link=i.get("href")
    car_link.append(link)   
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Kilometers, How many km the car has already covered**

In [9]:
km=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[0]:
        km.append(i)
        
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Owner, is the owner 1'st or 2'nd**

In [10]:
owner=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[1]:
        owner.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's type, is the car Petrol or Diesal**

In [11]:
ctype=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[2]:
        ctype.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Checking the length of all list**

In [12]:
print(len(car_link))
print(len(car_name))
print(len(car_model))
print(len(car_price))
print(len(km))
print(len(owner))
print(len(ctype))
#print(len(car_info))

235
235
235
235
235
235
235

**Creating a Dictionary with the lists we have created above**

In [13]:
d={'Car Name':car_name,'Car model':car_model,'Car Price':car_price,'KM':km,'Owner':owner,'Car Type':ctype,'Car link':car_link}

<h2>Creating a Dataframe using Pandas</h2>

In [14]:
df = pd.DataFrame(d)
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,2012 Hyundai i10,Manual,"₹3,29,499","45,261 km",3rd Owner,Petrol,https://www.cars24.com/buy-used-hyundai-i10-20...
1,2021 KIA SONET,None,"₹11,05,199","21,260 km",1st Owner,Petrol,https://www.cars24.com/buy-used-kia-sonet-2021...
2,2015 Maruti Swift Dzire,Manual,"₹5,38,799","98,487 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-swift-d...
3,2016 Honda Jazz,Manual,"₹5,94,099","46,757 km",1st Owner,Petrol,https://www.cars24.com/buy-used-honda-jazz-201...
4,2018 Maruti Eeco,Manual,"₹4,01,399","13,241 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-eeco-20...

**The 'Car Name' column has year, brand, car name so splitting the column car name and extracting year from it and storing 'Year' as a new column in Dataframe df**

In [15]:
df['Car Name'].str.split(expand=True)
Cyear=df['Car Name'].str.extract(r'(?P<Year>\w+)', expand=True)
df['Year']=Cyear
df['Year'].head()

0    2012
1    2021
2    2015
3    2016
4    2018
Name: Year, dtype: object

**Splitting the Column 'Car Name' and extracting brand from it and storing 'Brand' as a new column in Dataframe df**

In [16]:
s=df['Car Name'].str.split(expand=True)
s.drop(columns=s.columns[0], axis=1, inplace=True)
df['Brand']=s[1]
df['Brand'].head()

0    Hyundai
1        KIA
2     Maruti
3      Honda
4     Maruti
Name: Brand, dtype: object

**Splitting the Column 'Car Name' and extracting Car Name itself from it and storing 'Car Name' as a new column in Dataframe df**

In [17]:
a=df['Car Name'].str.split(expand=True)

b=a.drop([0, 1], axis = 1)

c=b.fillna("")

d= c[2]+ " " + c[3]+ " " +c[4] 
df['Car Name'] =d

In [18]:
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand
0,i10,Manual,"₹3,29,499","45,261 km",3rd Owner,Petrol,https://www.cars24.com/buy-used-hyundai-i10-20...,2012,Hyundai
1,SONET,None,"₹11,05,199","21,260 km",1st Owner,Petrol,https://www.cars24.com/buy-used-kia-sonet-2021...,2021,KIA
2,Swift Dzire,Manual,"₹5,38,799","98,487 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-swift-d...,2015,Maruti
3,Jazz,Manual,"₹5,94,099","46,757 km",1st Owner,Petrol,https://www.cars24.com/buy-used-honda-jazz-201...,2016,Honda
4,Eeco,Manual,"₹4,01,399","13,241 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-eeco-20...,2018,Maruti

**Adding City Column with City as Hyderabad**

In [19]:
df['City']='Hyderabad'

len(df['City'])

235

In [20]:
df

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand,City
0,i10,Manual,"₹3,29,499","45,261 km",3rd Owner,Petrol,https://www.cars24.com/buy-used-hyundai-i10-20...,2012,Hyundai,Hyderabad
1,SONET,None,"₹11,05,199","21,260 km",1st Owner,Petrol,https://www.cars24.com/buy-used-kia-sonet-2021...,2021,KIA,Hyderabad
2,Swift Dzire,Manual,"₹5,38,799","98,487 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-swift-d...,2015,Maruti,Hyderabad
3,Jazz,Manual,"₹5,94,099","46,757 km",1st Owner,Petrol,https://www.cars24.com/buy-used-honda-jazz-201...,2016,Honda,Hyderabad
4,Eeco,Manual,"₹4,01,399","13,241 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-eeco-20...,2018,Maruti,Hyderabad
...,...,...,...,...,...,...,...,...,...,...
230,VENUE,Automatic,"₹12,01,799","16,964 km",1st Owner,Petrol,https://www.cars24.com/buy-used-hyundai-venue-...,2021,Hyundai,Hyderabad
231,S Cross,Manual,"₹7,34,599","99,312 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-maruti-s-cross...,2017,Maruti,Hyderabad
232,Grand i10,Manual,"₹4,43,999","65,018 km",1st Owner,Petrol,https://www.cars24.com/buy-used-hyundai-grand-...,2014,Hyundai,Hyderabad
233,Dzire,Manual,"₹7,52,199","84,773 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-dzire-2...,2019,Maruti,Hyderabad
234,Polo,Manual,"₹6,61,299","9,891 km",1st Owner,Petrol,https://www.cars24.com/buy-used-volkswagen-pol...,2021,Volkswagen,Hyderabad

**Re-arranging the order of Columns**

In [21]:
data=df.reindex(columns=['City','Year','Brand','Car Name','Car model','Car Price','KM','Owner','Car Type','Car link'])

In [22]:
data.head()

,City,Year,Brand,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,Hyderabad,2012,Hyundai,i10,Manual,"₹3,29,499","45,261 km",3rd Owner,Petrol,https://www.cars24.com/buy-used-hyundai-i10-20...
1,Hyderabad,2021,KIA,SONET,None,"₹11,05,199","21,260 km",1st Owner,Petrol,https://www.cars24.com/buy-used-kia-sonet-2021...
2,Hyderabad,2015,Maruti,Swift Dzire,Manual,"₹5,38,799","98,487 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-swift-d...
3,Hyderabad,2016,Honda,Jazz,Manual,"₹5,94,099","46,757 km",1st Owner,Petrol,https://www.cars24.com/buy-used-honda-jazz-201...
4,Hyderabad,2018,Maruti,Eeco,Manual,"₹4,01,399","13,241 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-eeco-20...

**Storing the data as CSV in Given Path**

In [23]:
path="D:\Malhar H Jadhav\Zep Intern\Task 2\Code and data\Data\Cars24_Hyderabad.csv"
data.to_csv(path, index=False)