<h3>Importing the Libraries Required </h3>

In [1]:
import urllib
import time
import json
import numpy as np
import pandas as pd
from tqdm import tqdm
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from bs4 import BeautifulSoup
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException

<h3>Using Selenium For Auto Scrolling the Web-Page and Extracting the The Page Source</h3>

In [2]:
driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')
driver.wait = WebDriverWait(driver, 5)
driver.maximize_window()
driver.get("https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001")
time.sleep(7)


height = driver.execute_script("return document.documentElement.scrollHeight")
lastheight = 0
while True:
    if lastheight == height:
        break
    lastheight = height
    driver.execute_script("window.scrollTo(0, " + str(height) + ");")
    time.sleep(10)
    height = driver.execute_script("return document.documentElement.scrollHeight")
    
    
# Using BeautifulSoup To Store the Page Source in Object Called Soup

soup = BeautifulSoup(driver.page_source)
driver.quit()

C:\Users\jadha\AppData\Local\Temp/ipykernel_15208/1452098202.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')

<h3>Storing the page source in object called Soup and viewing the text</h3>

In [3]:
soup.text

"\n\n\n\n\n\n\n\n\n\n\nUsed Cars in New Delhi - Second Hand Cars in New Delhi for Sale\nNew Delhi  Popular CitiesUsed cars in BengaluruPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in BengaluruUsed cars in ChennaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChennaiUsed cars in New DelhiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in New DelhiUsed cars in MumbaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in MumbaiUsed cars in PunePopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in PuneUsed cars in HyderabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in HyderabadUsed cars in KolkataPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in KolkataUsed cars in AhmedabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in AhmedabadUsed cars in JaipurPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in JaipurUsed cars in ChandigarhPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChandigarhBuy used carSell used carLoginRC Transfers StatusFAQBecome a partnerBuy Car: 9 AM - 9 PM1800 258 5656HomeUsed CarsNew DelhiFind your dream car with usSort By:Best Match  PriceModel YearKMs DrivenMake & ModelRTOMore FiltersUsed Cars in New Delhi2014 Mercedes Benz C ClassC 200 AVANTGARDE Automatic36,806 km1st OwnerPetrol₹47,454/month₹21,33,299Zero downpayment2013 Mercedes Benz E ClassE 250 CDI AVANTGARDE Automatic42,881 km2nd OwnerDiesel₹32,379/month₹14,55,599Zero downpayment2021 Renault Kwid1.0 RXT Opt AT Automatic3,689 km1st OwnerPetrol₹11,863/month₹5,33,299Zero downpayment2021 Renault Kwid1.0 RXT Opt Manual6,962 km1st OwnerPetrol₹11,127/month₹5,00,199Zero downpayment2017 Jeep Compass2.0 LIMITED Manual55,376 km1st OwnerDiesel₹29,320/month₹13,18,099Zero downpaymentFilter By Popular BrandMarutiHyundaiHondaTataToyota2016 Honda Jazz1.2 SV PETROL Manual30,237 km2nd OwnerPetrol₹10,606/month₹4,76,799Zero downpayment2016 Maruti Wagon R 1.0VXI AMT Automatic21,261 km1st OwnerPetrol₹9,650/month₹4,33,799Zero downpayment2020 Maruti BalenoZETA 1.2 K12 AMT Automatic16,815 km1st OwnerPetrol₹16,423/month₹7,38,299Zero downpayment2020 Honda CityZX CVT Automatic9,928 km1st OwnerPetrol₹32,396/month₹14,56,371Zero downpayment2016 Ford Ecosport1.5 TITANIUM TI VCT Manual46,533 km2nd OwnerPetrol₹14,439/month₹6,49,099Zero downpayment2018 Honda Amaze1.2 SAT I VTEC Automatic29,226 km1st OwnerPetrol₹15,709/month₹7,06,199Zero downpaymentFilter By BudgetCars under 2 lakhCars between 2 lakh - 5 lakhCars between 5 lakh - 10 lakhCars above 10 lakh2018 Hyundai Elite i20Magna Executive Diesel Manual30,545 km1st OwnerDiesel₹14,888/month₹6,69,299Zero downpayment2012 Maruti SwiftZXI Manual95,779 km1st OwnerPetrol₹8,531/month₹3,83,499Zero downpayment2018 Hyundai Elite i20Magna Executive 1.2 Manual44,805 km1st OwnerPetrol₹12,504/month₹5,62,119Zero downpayment2017 Renault KwidRXT Manual52,904 km1st OwnerPetrol₹7,265/month₹3,26,599Zero downpayment2013 Hyundai i20SPORTZ 1.4 CRDI Manual78,468 km1st OwnerDiesel₹7,881/month₹3,54,299Zero downpayment2018 Ford Ecosport1.5 TITANIUM TI VCT Manual28,648 km1st OwnerPetrol₹17,695/month₹7,95,499Zero downpaymentFilter By Fuel TypePetrolDieselCNGLPGElectricHybrid2020 Honda CityVX CVT PETROL Automatic31,686 km1st OwnerPetrol₹28,084/month₹12,62,499Zero downpayment2020 Maruti BalenoDELTA 1.2 K12 Manual21,463 km1st OwnerPetrol₹15,442/month₹6,94,199Zero downpayment2014 Toyota FortunerSPORTIVO 4X2 MT Manual1,75,407 km1st OwnerDiesel₹26,958/month₹12,11,899Zero downpayment2018 Ford Ecosport1.5 TDCI TITANIUM PLUS Manual32,303 km1st OwnerDiesel₹19,095/month₹8,58,399Zero downpayment2014 Audi Q32.0 TDI MT S EDITION Manual93,819 km1st OwnerDiesel₹25,287/month₹11,36,799Zero downpayment2019 Maruti Alto K10VXI Manual13,274 km1st OwnerPetrol₹9,140/month₹4,10,899Zero downpaymentFilter By Body TypeHatchbackSedanSUVLuxury SedanLuxury SUV2016 Maruti Vitara BrezzaZDI PLUS Manual36,642 km1st OwnerDiesel₹15,847/month₹7,12,399Zero downpayment2020 Maruti S PRESSOVXI Manual11,396 km1st OwnerPetrol₹10,146/month₹4,56,099Zero downpayment2015 Audi A62.0 TDI TECHNOLOGY Automatic77,157 km2nd OwnerDiesel₹44,391/month₹19,95,599Zero downpayment2015 Audi A635 TDI S LINE Automatic39,292 km2nd OwnerDiesel₹42,309/month₹19,01,999Zero downpayment12-Months Free Warranty!Free 12 months warranty on all cars to safeguard you from unforeseen repair and maintenance costsKNOW MORE2017 Hyundai Elite i201.4 CRDI ASTA (O) Manual85,704 km1st OwnerDiesel₹14,123/month₹6,34,899Zero downpayment2014 Hyundai Elite i20ASTA 1.4 CRDI Manual72,470 km1st OwnerDiesel₹10,224/month₹4,59,599Zero downpayment2017 Ford Ecosport1.5 TREND+ TDCI Manual78,596 km1st OwnerDiesel₹14,308/month₹6,43,199Zero downpayment2013 Maruti SwiftVDI Manual1,03,732 km2nd OwnerDiesel₹7,416/month₹3,33,399Zero downpayment2015 Toyota Fortuner3.0 AT 4X2 Automatic90,086 km2nd OwnerDiesel₹35,097/month₹15,77,799Zero downpayment2018 Honda Jazz1.2 SV MT Manual23,733 km2nd OwnerPetrol₹13,376/month₹6,01,299Zero downpayment2019 Hyundai Grand i10MAGNA 1.2 VTVT Manual16,327 km1st OwnerPetrol₹11,371/month₹5,11,199Zero downpayment2020 Maruti BalenoSIGMA 1.2 K12 Manual35,669 km1st OwnerPetrol₹12,426/month₹5,58,599Zero downpayment2014 Hyundai i10MAGNA 1.1 IRDE2 Manual32,525 km1st OwnerPetrol₹7,574/month₹3,40,499Zero downpayment2020 Mahindra XUV500W9 AT Automatic19,362 km1st OwnerDiesel₹38,743/month₹17,41,699Zero downpayment2021 Maruti AltoLXI Manual2,303 km1st OwnerPetrol₹9,409/month₹4,22,999Zero downpayment2017 Hyundai Elite i20ASTA 1.2 Manual35,255 km1st OwnerPetrol₹13,578/month₹6,10,399Zero downpayment2015 Honda Brio1.2 VX AT I VTEC Automatic25,981 km2nd OwnerPetrol₹10,210/month₹4,58,999Zero downpayment2020 Mahindra ScorpioS9 Manual25,596 km1st OwnerDiesel₹35,013/month₹15,73,999Zero downpayment2019 MG HECTORSHARP DCT PETROL Automatic25,758 km1st OwnerPetrol₹37,680/month₹16,93,899Zero downpayment2014 Maruti SwiftVXI Manual61,754 km2nd OwnerPetrol₹8,927/month₹4,01,299Zero downpayment2021 Maruti Vitara BrezzaVXI Manual7,702 km1st OwnerPetrol₹20,716/month₹9,31,299Zero downpayment2017 Hyundai Elite i20ASTA 1.2 DUAL TONE Manual11,042 km2nd OwnerPetrol₹14,365/month₹6,45,799Zero downpayment2018 Hyundai Creta1.4 E PLUS CRDI Manual65,694 km1st OwnerDiesel₹18,352/month₹8,24,999Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 Manual31,879 km1st OwnerPetrol₹13,026/month₹5,85,599Zero downpayment2015 Hyundai Elite i20SPORTZ 1.2 Manual48,732 km2nd OwnerPetrol₹11,398/month₹5,12,399Zero downpayment2017 Honda CityV MT PETROL Manual26,236 km1st OwnerPetrol₹17,328/month₹7,78,999Zero downpayment2013 Hyundai i20ERA 1.4 CRDI Manual32,925 km1st OwnerDiesel₹7,287/month₹3,27,599Zero downpayment2015 Hyundai Elite i20MAGNA 1.4 CRDI Manual53,672 km2nd OwnerDiesel₹9,529/month₹4,28,399Zero downpayment2018 Maruti DzireVXI Manual19,063 km2nd OwnerPetrol₹14,292/month₹6,42,499Zero downpayment2019 Maruti Vitara BrezzaVDI Manual30,594 km1st OwnerDiesel₹17,649/month₹7,93,399Zero downpayment2017 Maruti Alto K10VXI Manual47,808 km1st OwnerPetrol₹7,797/month₹3,50,499Zero downpayment2013 Maruti SwiftLXI Manual99,646 km2nd OwnerPetrol₹7,472/month₹3,35,899Zero downpayment2015 Hyundai Creta1.4 S PLUS Manual51,726 km1st OwnerDiesel₹16,757/month₹7,53,299Zero downpayment2013 Hyundai i20SPORTZ 1.4 CRDI Manual57,869 km1st OwnerDiesel₹7,852/month₹3,52,999Zero downpayment2013 Hyundai VernaFLUIDIC 1.6 SX CRDI Manual75,057 km1st OwnerDiesel₹9,536/month₹4,28,699Zero downpayment2015 Ford Ecosport1.5 TREND TDCI Manual79,521 km1st OwnerDiesel₹10,039/month₹4,51,299Zero downpayment2013 Toyota Innova2.5 GX 7 STR BS IV Manual1,21,393 km2nd OwnerDiesel₹13,671/month₹6,14,599Zero downpayment2014 Maruti Swift DzireVDI BS IV Manual87,532 km1st OwnerDiesel₹8,455/month₹3,80,099Zero downpayment2014 Maruti SwiftVDI Manual64,646 km1st OwnerDiesel₹7,772/month₹3,49,399Zero downpayment2014 Toyota Innova2.5 VX 7 STR BS IV Manual93,758 km1st OwnerDiesel₹17,538/month₹7,88,399Zero downpayment2017 Maruti CelerioLXI Manual6,568 km1st OwnerPetrol₹8,779/month₹3,94,655Zero downpayment2019 Jeep Compass2.0 LIMITED Manual46,400 km1st OwnerDiesel₹43,661/month₹19,62,799Zero downpayment2017 Datsun Redi GoS 1.0 Manual51,766 km2nd OwnerPetrol₹5,348/month₹2,40,399Zero downpayment2020 Honda CityV MT PETROL Manual3,627 km1st OwnerPetrol₹25,227/month₹11,34,099Zero downpayment2010 Honda CityS MT PETROL Manual39,307 km1st OwnerPetrol₹9,285/month₹4,17,399Zero downpayment2018 Hyundai Verna1.6 SX (O) CRDI MT Manual48,278 km1st OwnerDiesel₹22,571/month₹10,14,699Zero downpayment2021 Renault KwidRXT Manual6,382 km1st OwnerPetrol₹10,613/month₹4,77,099Zero downpayment2021 Tata TiagoXTA 1.2 PETROL Automatic6,568 km1st OwnerPetrol₹15,807/month₹7,10,599Zero downpayment2018 Honda Jazz1.2 VX AT Automatic45,945 km1st OwnerPetrol₹15,378/month₹6,91,299Zero downpayment2016 Maruti CelerioZXI AMT Automatic65,871 km2nd OwnerPetrol₹8,609/month₹3,86,999Zero downpayment2019 Maruti AltoVXI Manual4,210 km1st OwnerPetrol₹8,940/month₹4,01,899Zero downpayment2013 Hyundai i20SPORTZ 1.4 CRDI Manual64,789 km1st OwnerDiesel₹7,485/month₹3,36,499Zero downpayment2020 Hyundai NEW SANTRO1.1 ERA EXICUTIVE Manual3,544 km2nd OwnerPetrol₹11,758/month₹5,28,599Zero downpayment2014 Maruti SwiftVXI Manual29,335 km2nd OwnerPetrol₹9,231/month₹4,14,999Zero downpayment2015 Maruti CelerioVXI AT Automatic1,22,112 km2nd OwnerPetrol₹8,137/month₹3,65,799Zero downpayment2017 Hyundai Elite i20Magna Executive 1.2 Manual39,262 km1st OwnerPetrol₹11,578/month₹5,20,499Zero downpayment2017 Mahindra XUV500W8 FWD Manual83,356 km2nd OwnerDiesel₹21,857/month₹9,82,599Zero downpayment2016 Ford Ecosport1.5 TITANIUM TI VCT Manual35,037 km1st OwnerPetrol₹15,627/month₹7,02,499Zero downpayment2019 Hyundai NEW SANTROSPORTZ 1.1 Manual17,034 km1st OwnerPetrol₹10,915/month₹4,90,699Zero downpayment2018 Datsun Redi GoT (O) 1.0 LIMITED EDITION 24,994 km1st OwnerPetrol₹6,740/month₹3,02,999Zero downpayment2018 Maruti Alto K10VXI Manual19,270 km2nd OwnerPetrol₹8,041/month₹3,61,499Zero downpayment2019 Maruti Vitara BrezzaVDI Manual40,785 km1st OwnerDiesel₹17,867/month₹8,03,199Zero downpayment2014 Audi A32.0 TDI  PREMIUM Automatic51,934 km1st OwnerDiesel₹28,735/month₹12,91,799Zero downpayment2016 Maruti BalenoZETA 1.2 K12 Manual52,334 km1st OwnerPetrol₹13,075/month₹5,87,799Zero downpayment2014 Maruti SwiftVXI Manual75,514 km1st OwnerPetrol₹9,189/month₹4,13,099Zero downpayment2016 Mahindra ScorpioS10 Manual43,452 km1st OwnerDiesel₹25,906/month₹11,64,599Zero downpayment2018 Maruti Vitara BrezzaVDI Manual49,555 km2nd OwnerDiesel₹16,670/month₹7,49,399Zero downpayment2018 Maruti Alto K10VXI Manual43,335 km1st OwnerPetrol₹7,541/month₹3,38,999Zero downpayment2015 Hyundai Creta1.6 SX (O) CRDI Manual56,027 km1st OwnerDiesel₹19,110/month₹8,59,099Zero downpayment2016 Maruti Vitara BrezzaVDI Manual36,693 km1st OwnerDiesel₹15,135/month₹6,80,399Zero downpayment2017 Hyundai Grand i10Sportz(O) 1.2 MT Manual38,771 km1st OwnerPetrol₹10,864/month₹4,88,399Zero downpayment2018 Ford Ecosport1.5 TDCI TITANIUM PLUS Manual39,714 km1st OwnerDiesel₹19,891/month₹8,94,199Zero downpayment2019 Maruti Vitara BrezzaZDI PLUS Manual53,954 km1st OwnerDiesel₹18,781/month₹8,44,299Zero downpayment2015 Maruti BalenoALPHA DDIS 190 Manual76,165 km2nd OwnerDiesel₹11,334/month₹5,09,505Zero downpayment2016 Maruti Vitara BrezzaVDI Manual38,144 km1st OwnerDiesel₹15,362/month₹6,90,599Zero downpayment2016 Maruti Vitara BrezzaVDI OPT Manual31,295 km1st OwnerDiesel₹15,244/month₹6,85,299Zero downpayment2013 Maruti ErtigaVDI ABS Manual1,61,023 km1st OwnerDiesel₹10,364/month₹4,65,899Zero downpayment2017 Maruti Vitara BrezzaVDI Manual47,655 km1st OwnerDiesel₹16,261/month₹7,30,999Zero downpayment2017 Maruti Vitara BrezzaZDI Manual55,327 km1st OwnerDiesel₹16,127/month₹7,24,999Zero downpayment2017 Maruti Vitara BrezzaZDI PLUS Manual53,384 km1st OwnerDiesel₹16,659/month₹7,48,899Zero downpayment2013 Maruti SwiftVDI Manual82,898 km1st OwnerDiesel₹6,951/month₹3,12,499Zero downpayment2014 Audi Q530 TDI PREMIUM PLUS Automatic32,976 km1st OwnerDiesel₹43,339/month₹19,48,299Zero downpayment2018 Maruti Alto 800LXI Manual54,000 km1st OwnerPetrol₹7,025/month₹3,15,799Zero downpayment2016 Maruti Vitara BrezzaVDI Manual42,160 km1st OwnerDiesel₹15,504/month₹6,96,999Zero downpayment2015 Maruti S CrossALPHA 1.3 Manual46,911 km1st OwnerDiesel₹13,998/month₹6,29,299Zero downpayment2015 Maruti SwiftVDI ABS Manual50,020 km1st OwnerDiesel₹10,059/month₹4,52,199Zero downpayment2013 Hyundai Grand i10SPORTZ 1.1 CRDI Manual50,837 km2nd OwnerDiesel₹7,550/month₹3,39,399Zero downpayment2014 Maruti Swift DzireZDI Manual76,915 km1st OwnerDiesel₹9,772/month₹4,39,299Zero downpayment2016 Maruti CiazVDI+ SHVS Manual88,082 km1st OwnerDiesel₹12,332/month₹5,54,399Zero downpayment2015 Maruti CiazZDI SHVS Manual76,733 km1st OwnerDiesel₹12,559/month₹5,64,599Zero downpayment2015 Hyundai Elite i20SPORTZ 1.4 Manual93,680 km2nd OwnerDiesel₹10,257/month₹4,61,099Zero downpayment2017 Ford Ecosport1.5 TDCI TITANIUM PLUS Manual46,960 km1st OwnerDiesel₹16,904/month₹7,59,899Zero downpayment2015 Hyundai Grand i10SPORTZ 1.1 CRDI Manual73,886 km1st OwnerDiesel₹8,844/month₹3,97,599Zero downpayment2015 Maruti SwiftZDI Manual53,692 km2nd OwnerDiesel₹10,720/month₹4,81,899Zero downpayment2014 Hyundai i20SPORTZ 1.4 CRDI Manual72,830 km1st OwnerDiesel₹8,097/month₹3,63,999Zero downpayment2014 Honda CitySV MT DIESEL Manual86,299 km1st OwnerDiesel₹10,546/month₹4,74,099Zero downpayment2015 Hyundai Elite i20SPORTZ (O) 1.4 Manual96,101 km1st OwnerDiesel₹10,935/month₹4,91,599Zero downpayment2014 Ford Ecosport1.5TITANIUM TDCI Manual78,344 km1st OwnerDiesel₹9,594/month₹4,31,299Zero downpayment2016 Maruti Vitara BrezzaZDI PLUS Manual57,582 km1st OwnerDiesel₹15,273/month₹6,86,599Zero downpayment2017 Maruti Vitara BrezzaVDI OPT Manual67,111 km2nd OwnerDiesel₹14,859/month₹6,67,988Zero downpayment2014 Maruti SwiftVDI Manual59,025 km1st OwnerDiesel₹7,634/month₹3,43,199Zero downpayment2015 Maruti SwiftLDI O Manual68,858 km1st OwnerDiesel₹7,997/month₹3,59,499Zero downpayment2015 Nissan TerranoXL OPT 85 PS Manual57,003 km1st OwnerDiesel₹11,024/month₹4,95,599Zero downpayment2014 Ford Ecosport1.5TITANIUM TDCI Manual50,969 km2nd OwnerDiesel₹9,974/month₹4,48,399Zero downpayment2016 Maruti BalenoDELTA DDIS 190 Manual55,639 km1st OwnerDiesel₹11,932/month₹5,36,399Zero downpayment2016 Maruti Vitara BrezzaZDI PLUS Manual72,145 km1st OwnerDiesel₹15,231/month₹6,84,699Zero downpayment2014 Maruti SwiftVDI Manual45,784 km1st OwnerDiesel₹8,751/month₹3,93,399Zero downpayment2018 Maruti Vitara BrezzaVDI Manual15,957 km1st OwnerDiesel₹17,159/month₹7,71,399Zero downpayment2015 Maruti SwiftVDI ABS Manual92,528 km1st OwnerDiesel₹8,555/month₹3,84,599Zero downpayment2017 Ford Ecosport1.5TITANIUM TDCI Manual85,698 km1st OwnerDiesel₹13,518/month₹6,07,699Zero downpayment2015 Maruti SwiftVDI ABS Manual86,812 km1st OwnerDiesel₹9,714/month₹4,36,699Zero downpayment2015 Maruti SwiftVDI ABS Manual83,576 km1st OwnerDiesel₹9,703/month₹4,36,199Zero downpayment2014 Maruti SwiftZDI Manual92,143 km1st OwnerDiesel₹8,753/month₹3,93,499Zero downpayment2017 Maruti S CrossALPHA SHVS Manual96,675 km2nd OwnerDiesel₹17,286/month₹7,77,099Zero downpayment2014 Toyota Innova2.5 VX 8 STR BS IV Manual1,36,746 km1st OwnerDiesel₹21,488/month₹9,65,999Zero downpayment2014 Toyota Innova2.5 VX 8 STR BS IV Manual70,007 km1st OwnerDiesel₹22,022/month₹9,89,999Zero downpayment2020 KIA SELTOSHTK PLUS 1.5 PETROL Manual12,981 km2nd OwnerPetrol₹25,699/month₹11,55,299Zero downpayment2020 Maruti New  Wagon-RLXI 1.0 L Manual11,731 km3rd OwnerPetrol₹10,099/month₹4,53,999Zero downpayment2013 Jaguar XF2.2 DIESEL Automatic28,289 km2nd OwnerDiesel₹36,612/month₹16,45,899Zero downpayment2019 Hyundai Elite i201.2 MAGNA PLUS VTVT Manual22,638 km2nd OwnerPetrol₹13,745/month₹6,17,899Zero downpayment2011 Hyundai i10SPORTZ 1.2 KAPPA2 Manual66,782 km2nd OwnerPetrol₹6,420/month₹2,88,599Zero downpayment2018 Renault KwidRXL Manual20,830 km2nd OwnerPetrol₹7,092/month₹3,18,799Zero downpayment2016 Ford Ecosport1.5 TITANIUM TI VCT AT Automatic41,253 km1st OwnerPetrol₹15,222/month₹6,84,299Zero downpayment2019 Mahindra XUV500W9 Manual37,503 km1st OwnerDiesel₹31,327/month₹14,08,299Zero downpayment2018 Maruti CelerioVXI Manual12,225 km1st OwnerPetrol₹10,866/month₹4,88,499Zero downpayment2020 MG HECTORSHARP DCT PETROL Automatic8,868 km1st OwnerPetrol₹37,457/month₹16,83,899Zero downpayment2020 Hyundai CretaE Manual21,031 km1st OwnerDiesel₹26,702/month₹12,00,399Zero downpayment2017 Renault KwidRXT Manual30,876 km1st OwnerPetrol₹7,588/month₹3,41,099Zero downpayment2018 Honda Amaze1.2 VXMT I VTEC Manual23,859 km1st OwnerPetrol₹15,422/month₹6,93,299Zero downpayment2015 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual54,106 km1st OwnerPetrol₹9,087/month₹4,08,499Zero downpayment2019 Maruti BalenoDELTA 1.2 K12 Manual26,212 km1st OwnerPetrol₹15,331/month₹6,89,199Zero downpayment2017 Maruti DzireVXI Manual23,319 km1st OwnerPetrol₹14,279/month₹6,41,899Zero downpayment2015 Hyundai XcentBASE 1.1 CRDI Manual69,491 km2nd OwnerDiesel₹6,624/month₹2,97,799Zero downpayment2018 Ford Ecosport1.5 TREND TI VCT Manual75,389 km2nd OwnerPetrol + CNG₹14,145/month₹6,35,899Zero downpayment2016 Ford Ecosport1.5 TITANIUM TI VCT Manual8,351 km1st OwnerPetrol₹15,237/month₹6,84,999Zero downpayment2019 Ford Ecosport1.5 TITANIUM TI VCT Manual11,114 km1st OwnerPetrol₹19,152/month₹8,60,999Zero downpayment2016 Hyundai Grand i10ASTA 1.2 KAPPA VTVT Manual45,605 km1st OwnerPetrol₹10,526/month₹4,73,199Zero downpayment2014 Mahindra XUV500W6 4X2 Manual1,67,105 km1st OwnerDiesel₹11,062/month₹4,97,299Zero downpayment2017 Hyundai Creta1.4 S CRDI Manual85,928 km1st OwnerDiesel₹17,426/month₹7,83,399Zero downpayment2016 Maruti Swift DzireVDI ABS Manual79,688 km2nd OwnerDiesel₹11,164/month₹5,01,899Zero downpayment2014 Honda CityE MT DIESEL Manual1,37,612 km2nd OwnerDiesel₹8,811/month₹3,96,099Zero downpayment2014 Hyundai Elite i20MAGNA 1.4 CRDI Manual39,101 km1st OwnerDiesel₹9,794/month₹4,40,299Zero downpayment2013 Maruti SwiftVDI Manual30,338 km1st OwnerDiesel₹7,565/month₹3,40,099Zero downpayment2014 Maruti Swift DzireZDI Manual25,744 km1st OwnerDiesel₹10,459/month₹4,70,199Zero downpayment2013 Maruti SwiftVDI Manual23,952 km1st OwnerDiesel₹7,632/month₹3,43,099Zero downpayment2014 Ford Ecosport1.5 TREND TDCI Manual1,02,593 km1st OwnerDiesel₹8,671/month₹3,89,799Zero downpayment2015 Maruti Swift DzireLDI BS IV Manual75,826 km1st OwnerDiesel₹8,738/month₹3,92,799Zero downpayment2015 Ford Figo Aspire1.5 AMBIENTE DIESEL Manual95,302 km1st OwnerDiesel₹8,428/month₹3,78,899Zero downpayment2015 Hyundai Creta1.6 SX CRDI Manual1,18,048 km1st OwnerDiesel₹16,000/month₹7,19,299Zero downpayment2013 Maruti SwiftZDI Manual24,700 km1st OwnerDiesel₹7,872/month₹3,53,899Zero downpayment2015 Maruti Wagon R 1.0VXI AM

**Creating a list of the names of cars and prices of cars**

In [4]:
car_name =[]
car_price=[]

**Extracting the container of each car and then extracting each name and price of the car**

In [5]:
for car_tag in soup.find_all('div', class_='col-4'):  

    
    car_name=[score.get_text()for score in soup.find_all(name="h2", class_="_3FpCg")]
    
    car_price=[score.get_text() for score in soup.find_all(name="div", class_="_7udZZ")]

print("Extracted Successfully")

Extracted Successfully

In [6]:
#car_model=[]
#car_info=[]

#for car_tag in soup.find_all('div', class_='col-4'):  

    # car_model=[score.get_text() for score in soup.find_all(name="p", class_="cvakB")]
    
    #car_info=[score.get_text() for score in soup.find_all(name="ul", class_="bVR0c") ]

**Extracting wheather the car is Manual Or Automatic**

In [7]:
car_model_tag = soup.find_all(name="p", class_="cvakB")

car_model = [ma.find_all(name='span')[0].text for ma in car_model_tag]  #  ma stand for manual automatic

car_model = [nan if nan.replace(' ','') else None for nan in car_model ] # nan stands for None values in list

print("Extracted Successfully")

Extracted Successfully

**Extracting the car's link**

In [8]:
car_link=[]
car_tag=soup.find_all(name="a", class_="_9Ue0B")
for i in car_tag:
    link=i.get("href")
    car_link.append(link)   
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Kilometers, How many km the car has already covered**

In [9]:
km=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[0]:
        km.append(i)
        
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Owner, is the owner 1'st or 2'nd**

In [10]:
owner=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[1]:
        owner.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's type, is the car Petrol or Diesal**

In [11]:
ctype=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[2]:
        ctype.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Checking the length of all list**

In [12]:
print(len(car_link))
print(len(car_name))
print(len(car_model))
print(len(car_price))
print(len(km))
print(len(owner))
print(len(ctype))
#print(len(car_info))

702
702
702
702
702
702
702

**Creating a Dictionary with the lists we have created above**

In [13]:
d={'Car Name':car_name,'Car model':car_model,'Car Price':car_price,'KM':km,'Owner':owner,'Car Type':ctype,'Car link':car_link}

<h2>Creating a Dataframe using Pandas</h2>

In [14]:
df = pd.DataFrame(d)
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,2014 Mercedes Benz C Class,Automatic,"₹21,33,299","36,806 km",1st Owner,Petrol,https://www.cars24.com/buy-used-mercedes-benz-...
1,2013 Mercedes Benz E Class,Automatic,"₹14,55,599","42,881 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-mercedes-benz-...
2,2021 Renault Kwid,Automatic,"₹5,33,299","3,689 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-kwid-2...
3,2021 Renault Kwid,Manual,"₹5,00,199","6,962 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-kwid-2...
4,2017 Jeep Compass,Manual,"₹13,18,099","55,376 km",1st Owner,Diesel,https://www.cars24.com/buy-used-jeep-compass-2...

**The 'Car Name' column has year, brand, car name so splitting the column car name and extracting year from it and storing 'Year' as a new column in Dataframe df**

In [15]:
df['Car Name'].str.split(expand=True)
Cyear=df['Car Name'].str.extract(r'(?P<Year>\w+)', expand=True)
df['Year']=Cyear
df['Year'].head()

0    2014
1    2013
2    2021
3    2021
4    2017
Name: Year, dtype: object

**Splitting the Column 'Car Name' and extracting brand from it and storing 'Brand' as a new column in Dataframe df**

In [16]:
s=df['Car Name'].str.split(expand=True)
s.drop(columns=s.columns[0], axis=1, inplace=True)
df['Brand']=s[1]
df['Brand'].head()

0    Mercedes
1    Mercedes
2     Renault
3     Renault
4        Jeep
Name: Brand, dtype: object

**Splitting the Column 'Car Name' and extracting Car Name itself from it and storing 'Car Name' as a new column in Dataframe df**

In [17]:
a=df['Car Name'].str.split(expand=True)

b=a.drop([0, 1], axis = 1)

c=b.fillna("")

d= c[2]+ " " + c[3]+ " " +c[4] 
df['Car Name'] =d

In [18]:
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand
0,Benz C Class,Automatic,"₹21,33,299","36,806 km",1st Owner,Petrol,https://www.cars24.com/buy-used-mercedes-benz-...,2014,Mercedes
1,Benz E Class,Automatic,"₹14,55,599","42,881 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-mercedes-benz-...,2013,Mercedes
2,Kwid,Automatic,"₹5,33,299","3,689 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-kwid-2...,2021,Renault
3,Kwid,Manual,"₹5,00,199","6,962 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-kwid-2...,2021,Renault
4,Compass,Manual,"₹13,18,099","55,376 km",1st Owner,Diesel,https://www.cars24.com/buy-used-jeep-compass-2...,2017,Jeep

**Adding City Column with City as New Delhi**

In [19]:
df['City']='New_Delhi'

len(df['City'])

702

In [20]:
df

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand,City
0,Benz C Class,Automatic,"₹21,33,299","36,806 km",1st Owner,Petrol,https://www.cars24.com/buy-used-mercedes-benz-...,2014,Mercedes,New_Delhi
1,Benz E Class,Automatic,"₹14,55,599","42,881 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-mercedes-benz-...,2013,Mercedes,New_Delhi
2,Kwid,Automatic,"₹5,33,299","3,689 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-kwid-2...,2021,Renault,New_Delhi
3,Kwid,Manual,"₹5,00,199","6,962 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-kwid-2...,2021,Renault,New_Delhi
4,Compass,Manual,"₹13,18,099","55,376 km",1st Owner,Diesel,https://www.cars24.com/buy-used-jeep-compass-2...,2017,Jeep,New_Delhi
...,...,...,...,...,...,...,...,...,...,...
697,Vitara Brezza,Manual,"₹7,57,399","22,037 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-vitara-...,2017,Maruti,New_Delhi
698,Vitara Brezza,Manual,"₹6,13,399","1,02,161 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-vitara-...,2016,Maruti,New_Delhi
699,Vitara Brezza,Manual,"₹6,85,599","90,318 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-vitara-...,2016,Maruti,New_Delhi
700,Elite i20,Manual,"₹5,80,899","61,115 km",1st Owner,Petrol,https://www.cars24.com/buy-used-hyundai-elite-...,2016,Hyundai,New_Delhi
701,Baleno,Manual,"₹5,36,499","64,101 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-baleno-...,2017,Maruti,New_Delhi

**Re-arranging the order of Columns**

In [21]:
data=df.reindex(columns=['City','Year','Brand','Car Name','Car model','Car Price','KM','Owner','Car Type','Car link'])

In [22]:
data.head()

,City,Year,Brand,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,New_Delhi,2014,Mercedes,Benz C Class,Automatic,"₹21,33,299","36,806 km",1st Owner,Petrol,https://www.cars24.com/buy-used-mercedes-benz-...
1,New_Delhi,2013,Mercedes,Benz E Class,Automatic,"₹14,55,599","42,881 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-mercedes-benz-...
2,New_Delhi,2021,Renault,Kwid,Automatic,"₹5,33,299","3,689 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-kwid-2...
3,New_Delhi,2021,Renault,Kwid,Manual,"₹5,00,199","6,962 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-kwid-2...
4,New_Delhi,2017,Jeep,Compass,Manual,"₹13,18,099","55,376 km",1st Owner,Diesel,https://www.cars24.com/buy-used-jeep-compass-2...

**Storing the data as CSV in Given Path**

In [23]:
path="D:\Malhar H Jadhav\Zep Intern\Task 2\Code and data\Data\Cars24_New_Delhi.csv"
data.to_csv(path, index=False)