<h3>Importing the Libraries Required </h3>

In [1]:
import urllib
import time
import json
import numpy as np
import pandas as pd
from tqdm import tqdm
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from bs4 import BeautifulSoup
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException

<h3>Using Selenium For Auto Scrolling the Web-Page and Extracting the The Page Source</h3>

In [2]:
driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')
driver.wait = WebDriverWait(driver, 5)
driver.maximize_window()
driver.get("https://www.cars24.com/buy-used-car?sort=P&storeCityId=5732&pinId=600001")
time.sleep(7)


height = driver.execute_script("return document.documentElement.scrollHeight")
lastheight = 0
while True:
    if lastheight == height:
        break
    lastheight = height
    driver.execute_script("window.scrollTo(0, " + str(height) + ");")
    time.sleep(10)
    height = driver.execute_script("return document.documentElement.scrollHeight")
    
    
# Using BeautifulSoup To Store the Page Source in Object Called Soup

soup = BeautifulSoup(driver.page_source)
driver.quit()

C:\Users\jadha\AppData\Local\Temp/ipykernel_2588/776522944.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')

<h3>Storing the page source in object called Soup and viewing the text</h3>

In [3]:
soup.text

"\n\n\n\n\n\n\n\n\n\n\nUsed Cars in Chennai - Second Hand Cars in Chennai for Sale\nChennai  Popular CitiesUsed cars in BengaluruPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in BengaluruUsed cars in ChennaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChennaiUsed cars in New DelhiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in New DelhiUsed cars in MumbaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in MumbaiUsed cars in PunePopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in PuneUsed cars in HyderabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in HyderabadUsed cars in KolkataPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in KolkataUsed cars in AhmedabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in AhmedabadUsed cars in JaipurPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in JaipurUsed cars in ChandigarhPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChandigarhBuy used carSell used carLoginRC Transfers StatusFAQBecome a partnerBuy Car: 9 AM - 9 PM1800 258 5656HomeUsed CarsChennaiFind your dream car with usSort By:Best Match  PriceModel YearKMs DrivenMake & ModelRTOMore FiltersUsed Cars in Chennai2012 Volkswagen VentoHIGHLINE DIESEL Manual54,460 km1st OwnerDiesel₹11,207/month₹5,03,799Zero downpayment2021 Hyundai CretaE Manual12,419 km1st OwnerDiesel₹29,965/month₹13,47,099Zero downpayment2021 Tata HarrierXT 2.0L Kryotec Manual3,422 km1st OwnerDiesel₹46,535/month₹20,91,999Zero downpayment2012 Toyota Etios LivaD 4D GD Manual86,154 km1st OwnerDiesel₹9,174/month₹4,12,399Zero downpayment2019 Maruti ErtigaZXI Plus SHVS Manual41,054 km2nd OwnerPetrol₹21,833/month₹9,81,499Zero downpaymentFilter By Popular BrandMarutiHyundaiHondaTataToyota2021 Maruti Vitara BrezzaVXI Manual7,573 km1st OwnerPetrol₹19,911/month₹8,95,099Zero downpayment2015 Mercedes Benz C ClassC 200 AVANTGARDE Automatic40,861 km2nd OwnerPetrol₹50,978/month₹22,91,699Zero downpayment2012 Honda Brio1.2 V MT I VTEC Manual78,914 km1st OwnerPetrol₹8,348/month₹3,75,299Zero downpayment2020 Maruti CelerioTour H2 Manual7,652 km1st OwnerPetrol₹10,862/month₹4,88,299Zero downpayment2021 Renault TRIBER1.0 RXZ Manual15,952 km1st OwnerPetrol₹16,443/month₹7,39,199Zero downpayment2021 Tata ALTROZXM+ 1.2 RTN 9,555 km2nd OwnerPetrol₹17,304/month₹7,77,899Zero downpaymentFilter By BudgetCars under 2 lakhCars between 2 lakh - 5 lakhCars between 5 lakh - 10 lakhCars above 10 lakh2022 KIA CARENSPRESTIGE 1.5G MT 7STR 4,062 km1st OwnerPetrol₹32,477/month₹14,59,999Zero downpayment2020 Hyundai VENUES MT 1.2 KAPPA Manual24,112 km1st OwnerPetrol₹19,110/month₹8,59,099Zero downpayment2013 Maruti RitzVXI BS IV Manual56,548 km1st OwnerPetrol₹7,283/month₹3,27,399Zero downpayment2021 Renault Kwid1.0 RXT Opt AT Automatic14,017 km1st OwnerPetrol₹12,495/month₹5,61,699Zero downpayment2021 Renault Kwid1.0 RXT Opt Manual4,352 km1st OwnerPetrol₹10,662/month₹4,79,299Zero downpayment2018 Maruti Alto 800LXI Manual7,657 km2nd OwnerPetrol₹7,601/month₹3,41,699Zero downpaymentFilter By Fuel TypePetrolDieselCNGLPGElectricHybrid2016 Maruti SwiftVXI OPT Manual32,620 km1st OwnerPetrol₹12,349/month₹5,55,171Zero downpayment2017 Hyundai XcentS 1.2 Manual35,178 km1st OwnerPetrol₹11,818/month₹5,31,299Zero downpayment2019 Hyundai Elite i201.2 MAGNA PLUS VTVT Manual31,242 km1st OwnerPetrol₹15,869/month₹7,13,399Zero downpayment2018 Honda Amaze1.5 VXMT I DTEC Manual47,456 km1st OwnerDiesel₹15,789/month₹7,09,799Zero downpayment2017 Maruti SwiftVXI OPT Manual19,953 km1st OwnerPetrol₹12,504/month₹5,62,099Zero downpayment2019 Maruti Eeco5 STR WITH AC PLUSHTR Manual5,310 km2nd OwnerPetrol₹9,745/month₹4,38,099Zero downpaymentFilter By Body TypeHatchbackSedanSUVLuxury SedanLuxury SUV2020 Tata ALTROZXZ 1.2 Manual29,838 km1st OwnerPetrol₹16,955/month₹7,62,199Zero downpayment2014 Hyundai XcentS 1.2 Manual68,256 km1st OwnerPetrol₹9,734/month₹4,37,599Zero downpayment2019 Jeep CompassLIMITED PLUS 2.0 4*4 Manual34,502 km1st OwnerDiesel₹49,485/month₹22,24,587Zero downpayment2017 Maruti ErtigaZXI PLUS Manual47,428 km1st OwnerPetrol₹18,349/month₹8,24,899Zero downpayment12-Months Free Warranty!Free 12 months warranty on all cars to safeguard you from unforeseen repair and maintenance costsKNOW MORE2015 Maruti SwiftVXI Manual51,079 km2nd OwnerPetrol₹10,341/month₹4,64,899Zero downpayment2019 Maruti Eeco5 STR WITH AC PLUSHTR Manual21,908 km1st OwnerPetrol₹10,448/month₹4,69,699Zero downpayment2017 Maruti Wagon R 1.0VXI OPT AMT Automatic28,852 km2nd OwnerPetrol₹10,993/month₹4,94,199Zero downpayment2018 Mahindra MARAZZOM8 7 STR Manual32,683 km2nd OwnerDiesel₹24,889/month₹11,18,899Zero downpayment2019 Honda CityV CVT Automatic32,644 km1st OwnerPetrol₹22,758/month₹10,23,099Zero downpayment2014 Maruti Alto K10VXI Manual35,038 km1st OwnerPetrol₹6,519/month₹2,93,043Zero downpayment2017 Volkswagen AmeoCOMFORTLINE PLUS PETROL Manual50,355 km2nd OwnerPetrol₹10,720/month₹4,81,899Zero downpayment2018 Maruti DzireVXI Manual15,476 km2nd OwnerPetrol₹14,701/month₹6,60,899Zero downpayment2016 Hyundai Grand i10MAGNA 1.2 KAPPA VTVT Manual16,179 km2nd OwnerPetrol₹9,870/month₹4,43,699Zero downpayment2017 Mahindra TUV300T 10 MT Dual Tone Manual67,374 km1st OwnerDiesel₹17,813/month₹8,00,799Zero downpayment2016 Maruti SwiftVXI OPT Manual30,007 km2nd OwnerPetrol₹12,468/month₹5,60,499Zero downpayment2015 Hyundai EonERA PLUS Manual29,976 km1st OwnerPetrol₹6,994/month₹3,14,399Zero downpayment2014 Maruti Wagon R 1.0VXI Manual30,457 km1st OwnerPetrol₹8,673/month₹3,89,899Zero downpayment2016 Tata TiagoXZ 1.2 REVOTRON Manual32,730 km2nd OwnerPetrol₹10,039/month₹4,51,299Zero downpayment2019 Maruti CelerioVXI Manual3,105 km1st OwnerPetrol₹11,896/month₹5,34,799Zero downpayment2017 Maruti CelerioZXI AMT Automatic88,268 km1st OwnerPetrol₹10,671/month₹4,79,699Zero downpayment2014 Maruti Wagon R 1.0VXI Manual31,348 km1st OwnerPetrol₹8,502/month₹3,82,199Zero downpayment2019 Hyundai VENUE1.0L Turbo GDI SX(O) MT Manual24,834 km1st OwnerPetrol₹22,458/month₹10,09,599Zero downpayment2017 Tata TIGORXZ 1.2 REVOTRON OPT Manual53,302 km1st OwnerPetrol₹11,053/month₹4,96,899Zero downpayment2019 Hyundai Tucson New2WD AT GL DIESEL Automatic18,527 km1st OwnerDiesel₹51,487/month₹23,14,599Zero downpayment2018 Renault KwidRXT Opt Manual27,701 km1st OwnerPetrol₹8,385/month₹3,76,958Zero downpayment2019 Renault TRIBER1.0 RXZ 24,273 km2nd OwnerPetrol₹14,806/month₹6,65,599Zero downpayment2016 Maruti Alto 800LXI Manual23,666 km2nd OwnerPetrol₹6,515/month₹2,92,899Zero downpayment2016 Maruti SwiftVXI Manual62,059 km3rd OwnerPetrol₹10,935/month₹4,91,599Zero downpayment2018 Maruti IGNISSIGMA 1.2 K12 Manual20,474 km1st OwnerPetrol₹10,155/month₹4,56,499Zero downpayment2018 Maruti DzireVXI Manual13,792 km1st OwnerPetrol₹15,082/month₹6,77,999Zero downpayment2020 Hyundai GRAND I10 NIOSSPORTZ PETROL Manual10,732 km1st OwnerPetrol₹15,311/month₹6,88,299Zero downpayment2014 Hyundai Santro XingGLS Manual73,479 km2nd OwnerPetrol₹6,800/month₹3,05,699Zero downpayment2019 Ford FREESTYLETITANIUM 1.2 TI-VCT MT Manual28,398 km1st OwnerPetrol₹14,806/month₹6,65,599Zero downpayment2016 Maruti Vitara BrezzaVDI Manual85,486 km1st OwnerDiesel₹15,676/month₹7,04,699Zero downpayment2017 Skoda RapidStyle 1.5 TDI AT Automatic90,269 km1st OwnerDiesel₹19,778/month₹8,89,099Zero downpayment2020 Honda CityVX CVT PETROL Automatic20,417 km1st OwnerPetrol₹30,506/month₹13,71,399Zero downpayment2015 Hyundai EonERA PLUS Manual38,791 km1st OwnerPetrol₹6,929/month₹3,11,499Zero downpayment2020 Toyota YARISV MT Manual23,281 km1st OwnerPetrol₹26,300/month₹11,82,299Zero downpayment2020 Maruti Eeco5 STR WITH AC PLUSHTR Manual7,617 km2nd OwnerPetrol₹10,513/month₹4,72,599Zero downpayment2018 Hyundai EonERA PLUS Manual9,142 km1st OwnerPetrol₹8,175/month₹3,67,499Zero downpayment2018 Maruti Vitara BrezzaZDI + AMT Automatic58,464 km1st OwnerDiesel₹20,000/month₹8,99,099Zero downpayment2017 Maruti BalenoDELTA 1.2 K12 Manual44,664 km1st OwnerPetrol₹12,864/month₹5,78,299Zero downpayment2017 Maruti S CrossZETA 1.3 Manual43,715 km2nd OwnerDiesel₹16,434/month₹7,38,799Zero downpayment2017 Maruti DzireVXI Manual41,445 km1st OwnerPetrol₹14,530/month₹6,53,199Zero downpayment2021 Maruti S PRESSOVXI AGS Automatic6,151 km1st OwnerPetrol₹13,749/month₹6,18,099Zero downpayment2021 Maruti AltoVXI Manual729 km1st OwnerPetrol₹9,885/month₹4,44,399Zero downpayment2019 Maruti BalenoDELTA 1.2 K12 Manual20,529 km1st OwnerPetrol₹14,543/month₹6,53,799Zero downpayment2017 Hyundai XcentSX 1.2 CRDI OPT Manual61,739 km1st OwnerDiesel₹13,451/month₹6,04,699Zero downpayment2018 Jeep Compass2.0 LIMITED Manual52,121 km1st OwnerDiesel₹30,857/month₹13,87,199Zero downpayment2017 Maruti DzireVXI Manual41,221 km2nd OwnerPetrol₹14,461/month₹6,50,099Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual23,116 km1st OwnerPetrol₹11,445/month₹5,14,499Zero downpayment2016 Hyundai Elite i201.4 CRDI ASTA (O) Manual87,249 km1st OwnerDiesel₹13,994/month₹6,29,099Zero downpayment2019 Hyundai NEW SANTRO1.1 SPORTS AMT Automatic17,535 km2nd OwnerPetrol₹12,806/month₹5,75,699Zero downpayment2019 Maruti Eeco5 STR WITH AC PLUSHTR Manual10,757 km1st OwnerPetrol₹10,944/month₹4,91,999Zero downpayment2015 Maruti SwiftVXI Manual58,054 km3rd OwnerPetrol₹11,242/month₹5,05,399Zero downpayment2020 MG HECTORSHARP DCT PETROL Automatic8,950 km1st OwnerPetrol₹40,116/month₹18,03,400Zero downpayment2019 Honda Jazz1.2 V MT Manual22,713 km1st OwnerPetrol₹16,917/month₹7,60,499Zero downpayment2016 Hyundai Elite i201.4 CRDI ASTA (O) Manual85,464 km2nd OwnerDiesel₹14,214/month₹6,38,999Zero downpayment2017 Honda Jazz1.2 S MT Manual25,303 km1st OwnerPetrol₹13,378/month₹6,01,399Zero downpayment2017 Maruti CelerioZXI Manual76,710 km1st OwnerPetrol₹9,801/month₹4,40,599Zero downpayment2016 Maruti CelerioZXI OPT AMT Automatic73,966 km1st OwnerPetrol₹10,388/month₹4,66,999Zero downpayment2018 Maruti Eeco5 STR WITH AC PLUSHTR Manual11,586 km1st OwnerPetrol₹10,482/month₹4,71,199Zero downpayment2015 Maruti Alto 800VXI Manual42,423 km2nd OwnerPetrol₹5,993/month₹2,69,399Zero downpayment2018 Hyundai Verna1.6 SX VTVT Manual52,396 km1st OwnerPetrol₹20,909/month₹9,39,953Zero downpayment2013 Maruti Wagon R 1.0VXI Manual69,280 km1st OwnerPetrol₹7,443/month₹3,34,599Zero downpayment2017 Maruti SwiftZXI Manual54,484 km1st OwnerPetrol₹12,506/month₹5,62,199Zero downpayment2019 Renault KwidCLIMBER 1.0 AT Automatic20,618 km1st OwnerPetrol₹10,973/month₹4,93,299Zero downpayment2016 Hyundai Elite i20ASTA 1.2 Manual77,472 km1st OwnerPetrol₹14,061/month₹6,32,099Zero downpayment2018 Hyundai Grand i10MAGNA AT 1.2 KAPPA VTVT Automatic33,939 km1st OwnerPetrol₹12,361/month₹5,55,699Zero downpayment2019 Maruti Eeco5 STR WITH AC PLUSHTR Manual38,404 km1st OwnerPetrol₹10,987/month₹4,93,899Zero downpayment2015 Hyundai Grand i10ASTA 1.2 AT VTVT Automatic57,825 km1st OwnerPetrol₹11,093/month₹4,98,699Zero downpayment2018 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual37,774 km1st OwnerPetrol₹13,142/month₹5,90,799Zero downpayment2020 Hyundai NEW SANTROSPORTZ 1.1 Manual8,486 km1st OwnerPetrol₹12,346/month₹5,54,999Zero downpayment2019 Maruti Eeco5 STR WITH AC PLUSHTR Manual40,646 km1st OwnerPetrol₹10,099/month₹4,53,999Zero downpayment2016 Maruti Wagon R 1.0VXI Manual31,841 km1st OwnerPetrol₹10,066/month₹4,52,499Zero downpayment2020 Hyundai GRAND I10 NIOS1.0 TURBO SPORTZ Manual11,907 km1st OwnerPetrol₹18,336/month₹8,24,299Zero downpayment2020 Hyundai NEW SANTROSPORTZ 1.1 Manual8,243 km1st OwnerPetrol₹12,570/month₹5,65,099Zero downpayment2020 Hyundai GRAND I10 NIOS1.2 Kappa Sports MT Manual38,084 km1st OwnerPetrol₹13,912/month₹6,25,401Zero downpayment2017 Hyundai EonERA+ SE Manual39,814 km1st OwnerPetrol₹6,969/month₹3,13,299Zero downpayment2014 Hyundai Elite i20MAGNA 1.2 Manual65,401 km1st OwnerPetrol₹11,287/month₹5,07,399Zero downpayment2015 Hyundai Elite i20MAGNA 1.2 Manual78,226 km2nd OwnerPetrol₹11,122/month₹4,99,999Zero downpayment2015 Maruti Wagon R 1.0VXI Manual29,664 km1st OwnerPetrol₹9,033/month₹4,06,099Zero downpayment2019 Tata TiagoXZ+ 1.2 Revotron Manual68,194 km2nd OwnerPetrol₹11,240/month₹5,05,299Zero downpayment2019 Ford Ecosport1.0 ECOBOOST TITANIUM SPORTS(SUNROOF) Manual12,926 km1st OwnerPetrol₹22,812/month₹10,25,499Zero downpayment2019 Honda Jazz1.2 V MT Manual40,578 km1st OwnerPetrol₹15,382/month₹6,91,499Zero downpayment2019 Hyundai NEW SANTROSPORTZ 1.1 Manual35,336 km1st OwnerPetrol₹11,607/month₹5,21,799Zero downpayment2014 Hyundai Elite i20SPORTZ (O) 1.2 Manual80,666 km1st OwnerPetrol₹11,603/month₹5,21,599Zero downpayment2014 Hyundai Grand i10ASTA 1.2 KAPPA VTVT Manual65,341 km2nd OwnerPetrol₹9,925/month₹4,46,199Zero downpayment2015 Maruti Alto 800LXI Manual47,438 km2nd OwnerPetrol₹6,039/month₹2,71,499Zero downpayment2019 Maruti Eeco5 STR WITH AC PLUSHTR Manual46,758 km1st OwnerPetrol₹10,987/month₹4,93,899Zero downpayment2017 Maruti BalenoDELTA 1.2 K12 Manual17,375 km1st OwnerPetrol₹14,167/month₹6,36,899Zero downpayment2016 Maruti Alto K10VXI Manual20,718 km2nd OwnerPetrol₹7,729/month₹3,47,449Zero downpayment2016 Maruti BalenoALPHA 1.2 K12 Manual53,338 km1st OwnerPetrol₹14,357/month₹6,45,399Zero downpayment2019 Ford Figo Aspire1.2 TITANIUM PETROL Manual23,290 km1st OwnerPetrol₹16,003/month₹7,19,399Zero downpayment2020 Hyundai NEW SANTROSPORTZ 1.1 Manual20,050 km1st OwnerPetrol₹12,515/month₹5,62,599Zero downpayment2018 Maruti Eeco5 STR WITH AC PLUSHTR Manual43,516 km1st OwnerPetrol₹10,170/month₹4,57,199Zero downpayment2018 Hyundai NEW SANTROASTA 1.1 MT Manual17,625 km1st OwnerPetrol₹12,010/month₹5,39,899Zero downpayment2017 Hyundai EonERA PLUS (O) Manual22,677 km1st OwnerPetrol₹7,940/month₹3,56,964Zero downpayment2018 Maruti Eeco5 STR WITH AC PLUSHTR Manual49,612 km1st OwnerPetrol₹10,482/month₹4,71,199Zero downpayment2015 Hyundai Grand i10ASTA 1.2 KAPPA VTVT Manual88,557 km2nd OwnerPetrol₹9,503/month₹4,27,199Zero downpayment2015 Hyundai i20 Active1.2 S Manual60,285 km3rd OwnerPetrol₹12,003/month₹5,39,599Zero downpayment2017 Nissan MicraXL CVT (PETROL) Automatic30,817 km1st OwnerPetrol₹12,023/month₹5,40,499Zero downpayment2020 Hyundai GRAND I10 NIOSMAGNA 1.2 AT Automatic60,475 km1st OwnerPetrol₹15,108/month₹6,79,199Zero downpayment2015 Hyundai Elite i20ASTA 1.2 Manual56,462 km2nd OwnerPetrol₹12,477/month₹5,60,899Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual31,948 km1st OwnerPetrol₹11,296/month₹5,07,799Zero downpayment2016 Datsun Redi GoT (O) Manual24,291 km1st OwnerPetrol₹6,266/month₹2,81,699Zero downpayment2018 Ford Ecosport1.5 TITANIUM PLUS TI VCT AT Automatic27,426 km1st OwnerPetrol₹19,695/month₹8,85,399Zero downpayment2017 Hyundai Elite i20SPORTZ 1.2 Manual56,043 km1st OwnerPetrol₹13,404/month₹6,02,599Zero downpayment2015 Renault KwidRXT Opt Manual44,943 km2nd OwnerPetrol₹7,236/month₹3,25,299Zero downpayment2014 Maruti Wagon R 1.0VXI Manual1,14,386 km1st OwnerPetrol₹7,467/month₹3,35,699Zero downpayment2015 Maruti Wagon R 1.0VXI Manual53,250 km2nd OwnerPetrol₹8,491/month₹3,81,699Zero downpayment2015 Nissan Micra ActiveXV S Manual50,468 km1st OwnerPetrol₹8,024/month₹3,60,699Zero downpayment2019 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual20,302 km1st OwnerPetrol₹13,776/month₹6,19,299Zero downpayment2017 Hyundai EonERA PLUS Manual36,814 km1st OwnerPetrol₹7,799/month₹3,50,599Zero downpayment2016 Maruti BalenoDELTA 1.2 K12 Manual50,588 km1st OwnerPetrol₹13,295/month₹5,97,699Zero downpayment2017 Honda CityV MT PETROL Manual51,034 km1st OwnerPetrol₹19,226/month₹8,64,299Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 Manual58,657 km1st OwnerPetrol₹13,872/month₹6,23,599Zero downpayment2017 Hyundai EonERA PLUS Manual31,355 km1st OwnerPetrol₹7,781/month₹3,49,799Zero downpayment2017 Maruti BalenoRS 1.0 PETROL Manual51,353 km2nd OwnerPetrol₹12,499/month₹5,61,899Zero downpayment2018 Ford Ecosport1.5 TITANIUM TI VCT Manual20,453 km1st OwnerPetrol₹18,472/month₹8,30,399Zero downpayment2018 Jeep CompassLIMITED O 1.4 AT Automatic47,742 km1st OwnerPetrol₹34,566/month₹15,53,899Zero downpayment2016 Hyundai i20 Active1.2 SX Manual64,481 km3rd OwnerPetrol₹14,072/month₹6,32,599Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 Manual29,098 km1st OwnerPetrol₹14,884/month₹6,69,099Zero downpayment2017 Hyundai EonERA PLUS Manual37,289 km1st OwnerPetrol₹7,392/month₹3,32,299Zero downpayment2017 Maruti Alto K10VXI Manual33,612 km1st OwnerPetrol₹7,645/month₹3,43,699Zero downpayment2017 Maruti Alto 800VXI Manual41,940 km1st OwnerPetrol₹6,851/month₹3,07,999Zero downpayment2019 Maruti S PRESSOVXI PLUS Manual36,129 km1st OwnerPetrol₹9,868/month₹4,43,599Zero downpayment2018 Honda Jazz1.2 V AT Automatic65,905 km1st OwnerPetrol₹15,867/month₹7,13,299Zero downpayment2019 Maruti S PRESSOVXI PLUS Manual28,648 km1st OwnerPetrol₹10,410/month₹4,67,999Zero downpayment2016 Maruti Alto K10VXI OPT Manual45,426 km1st OwnerPetrol₹7,923/month₹3,56,199Zero downpayment2017 Hyundai Grand i101.2 CRDI Sportz O Manual55,142 km1st OwnerDiesel₹11,910/month₹5,35,399Zero downpayment2016 Maruti BalenoDELTA 1.2 K12 Manual78,170 km1st OwnerPetrol₹12,499/month₹5,61,899Zero downpayment2016 Hyundai i20 Active1.2 SX Manual93,706 km1st OwnerPetrol₹13,202/month₹5,93,499Zero downpayment2018 Hyundai Elite i20ASTA 1.2 Manual42,035 km1st OwnerPetrol₹15,322/month₹6,88,799Zero downpayment2017 Maruti IGNISSIGMA 1.2 K12 Manual40,677 km1st OwnerPetrol₹10,364/month₹4,65,899Zero downpayment2017 Maruti Wagon R 1.0VXI Manual40,902 km1st OwnerPetrol₹9,890/month₹4,44,599Zero downpayment2020 Maruti S PRESSOVXI Manual34,694 km1st OwnerPetrol₹10,593/month₹4,76,199Zero downpayment2019 Hyundai NEW SANTROSPORTZ 1.1 Manual61,189 km1st OwnerPetrol₹11,834/month₹5,31,999Zero downpayment2017 Maruti Vitara BrezzaZDI PLUS DUAL TONE Manual84,200 km1st OwnerDiesel₹18,227/month₹8,19,399Zero downpayment2016 Maruti BalenoALPHA 1.2 K12 Manual93,189 km1st OwnerPetrol₹15,092/month₹6,78,441Zero downpayment2018 Maruti Wagon R 1.0VXI Manual14,044 km1st OwnerPetrol₹11,589/month₹5,20,999Zero downpayment2018 Maruti IGNISDELTA 1.2 K12 Manual19,359 km1st OwnerPetrol₹12,206/month₹5,48,699Zero downpayment2016 Maruti Wagon R 1.0VXI AMT Automatic45,322 km1st OwnerPetrol₹9,679/month₹4,35,099Zero downpayment2015 Maruti Wagon R 1.0VXI Manual43,585 km1st OwnerPetrol₹8,924/month₹4,01,199Zero downpayment2017 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual40,950 km1st OwnerPetrol₹11,745/month₹5,27,999Zero downpayment2018 Maruti Wagon R 1.0VXI OPT AMT Automatic28,459 km1st OwnerPetrol₹11,549/month₹5,19,199Zero downpayment2018 Honda WR-V1.2 i-VTEC VX MT Manual72,429 km1st OwnerPetrol₹16,801/month₹7,55,299Zero downpayment2017 Hyundai Grand i10SPORTZ (O) 1.2 AT VTVT Automatic78,053 km2nd OwnerPetrol₹12,597/month₹5,66,299Zero downpayment2017 Hyundai Grand i10ASTA 1.2 VTVT Manual75,992 km1st OwnerPetrol₹11,460/month₹5,15,199Zero do

**Creating a list of the names of cars and prices of cars**

In [4]:
car_name =[]
car_price=[]

**Extracting the container of each car and then extracting each name and price of the car**

In [5]:
for car_tag in soup.find_all('div', class_='col-4'):  

    
    car_name=[score.get_text()for score in soup.find_all(name="h2", class_="_3FpCg")]
    
    car_price=[score.get_text() for score in soup.find_all(name="div", class_="_7udZZ")]

print("Extracted Successfully")

Extracted Successfully

In [6]:
#car_model=[]
#car_info=[]

#for car_tag in soup.find_all('div', class_='col-4'):  

    # car_model=[score.get_text() for score in soup.find_all(name="p", class_="cvakB")]
    
    #car_info=[score.get_text() for score in soup.find_all(name="ul", class_="bVR0c") ]

**Extracting wheather the car is Manual Or Automatic**

In [7]:
car_model_tag = soup.find_all(name="p", class_="cvakB")

car_model = [ma.find_all(name='span')[0].text for ma in car_model_tag]  #  ma stand for manual automatic

car_model = [nan if nan.replace(' ','') else None for nan in car_model ] # nan stands for None values in list

print("Extracted Successfully")

Extracted Successfully

**Extracting the car's link**

In [8]:
car_link=[]
car_tag=soup.find_all(name="a", class_="_9Ue0B")
for i in car_tag:
    link=i.get("href")
    car_link.append(link)   
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Kilometers, How many km the car has already covered**

In [9]:
km=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[0]:
        km.append(i)
        
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Owner, is the owner 1'st or 2'nd**

In [10]:
owner=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[1]:
        owner.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's type, is the car Petrol or Diesal**

In [11]:
ctype=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[2]:
        ctype.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Checking the length of all list**

In [12]:
print(len(car_link))
print(len(car_name))
print(len(car_model))
print(len(car_price))
print(len(km))
print(len(owner))
print(len(ctype))
#print(len(car_info))

578
578
578
578
578
578
578

**Creating a Dictionary with the lists we have created above**

In [13]:
d={'Car Name':car_name,'Car model':car_model,'Car Price':car_price,'KM':km,'Owner':owner,'Car Type':ctype,'Car link':car_link}

<h2>Creating a Dataframe using Pandas</h2>

In [14]:
df = pd.DataFrame(d)
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,2012 Volkswagen Vento,Manual,"₹5,03,799","54,460 km",1st Owner,Diesel,https://www.cars24.com/buy-used-volkswagen-ven...
1,2021 Hyundai Creta,Manual,"₹13,47,099","12,419 km",1st Owner,Diesel,https://www.cars24.com/buy-used-hyundai-creta-...
2,2021 Tata Harrier,Manual,"₹20,91,999","3,422 km",1st Owner,Diesel,https://www.cars24.com/buy-used-tata-harrier-2...
3,2012 Toyota Etios Liva,Manual,"₹4,12,399","86,154 km",1st Owner,Diesel,https://www.cars24.com/buy-used-toyota-etios-l...
4,2019 Maruti Ertiga,Manual,"₹9,81,499","41,054 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-ertiga-...

**The 'Car Name' column has year, brand, car name so splitting the column car name and extracting year from it and storing 'Year' as a new column in Dataframe df**

In [15]:
df['Car Name'].str.split(expand=True)
Cyear=df['Car Name'].str.extract(r'(?P<Year>\w+)', expand=True)
df['Year']=Cyear
df['Year'].head()

0    2012
1    2021
2    2021
3    2012
4    2019
Name: Year, dtype: object

**Splitting the Column 'Car Name' and extracting brand from it and storing 'Brand' as a new column in Dataframe df**

In [16]:
s=df['Car Name'].str.split(expand=True)
s.drop(columns=s.columns[0], axis=1, inplace=True)
df['Brand']=s[1]
df['Brand'].head()

0    Volkswagen
1       Hyundai
2          Tata
3        Toyota
4        Maruti
Name: Brand, dtype: object

**Splitting the Column 'Car Name' and extracting Car Name itself from it and storing 'Car Name' as a new column in Dataframe df**

In [17]:
a=df['Car Name'].str.split(expand=True)

b=a.drop([0, 1], axis = 1)

c=b.fillna("")

d= c[2]+ " " + c[3]+ " " +c[4] 
df['Car Name'] =d

In [18]:
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand
0,Vento,Manual,"₹5,03,799","54,460 km",1st Owner,Diesel,https://www.cars24.com/buy-used-volkswagen-ven...,2012,Volkswagen
1,Creta,Manual,"₹13,47,099","12,419 km",1st Owner,Diesel,https://www.cars24.com/buy-used-hyundai-creta-...,2021,Hyundai
2,Harrier,Manual,"₹20,91,999","3,422 km",1st Owner,Diesel,https://www.cars24.com/buy-used-tata-harrier-2...,2021,Tata
3,Etios Liva,Manual,"₹4,12,399","86,154 km",1st Owner,Diesel,https://www.cars24.com/buy-used-toyota-etios-l...,2012,Toyota
4,Ertiga,Manual,"₹9,81,499","41,054 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-ertiga-...,2019,Maruti

**Adding City Column with City as Chennai**

In [19]:
df['City']='Chennai'

len(df['City'])

578

In [20]:
df

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand,City
0,Vento,Manual,"₹5,03,799","54,460 km",1st Owner,Diesel,https://www.cars24.com/buy-used-volkswagen-ven...,2012,Volkswagen,Chennai
1,Creta,Manual,"₹13,47,099","12,419 km",1st Owner,Diesel,https://www.cars24.com/buy-used-hyundai-creta-...,2021,Hyundai,Chennai
2,Harrier,Manual,"₹20,91,999","3,422 km",1st Owner,Diesel,https://www.cars24.com/buy-used-tata-harrier-2...,2021,Tata,Chennai
3,Etios Liva,Manual,"₹4,12,399","86,154 km",1st Owner,Diesel,https://www.cars24.com/buy-used-toyota-etios-l...,2012,Toyota,Chennai
4,Ertiga,Manual,"₹9,81,499","41,054 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-ertiga-...,2019,Maruti,Chennai
...,...,...,...,...,...,...,...,...,...,...
573,Dzire,Automatic,"₹6,28,399","93,752 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-dzire-2...,2017,Maruti,Chennai
574,Wagon R 1.0,Manual,"₹3,59,699","76,732 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...,2015,Maruti,Chennai
575,Alto K10,Manual,"₹3,86,399","15,708 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-k1...,2016,Maruti,Chennai
576,Duster,Manual,"₹6,14,299","20,916 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-duster...,2016,Renault,Chennai
577,Swift,Manual,"₹4,98,099","36,501 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-swift-2...,2020,Maruti,Chennai

**Re-arranging the order of Columns**

In [21]:
data=df.reindex(columns=['City','Year','Brand','Car Name','Car model','Car Price','KM','Owner','Car Type','Car link'])

In [22]:
data.head()

,City,Year,Brand,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,Chennai,2012,Volkswagen,Vento,Manual,"₹5,03,799","54,460 km",1st Owner,Diesel,https://www.cars24.com/buy-used-volkswagen-ven...
1,Chennai,2021,Hyundai,Creta,Manual,"₹13,47,099","12,419 km",1st Owner,Diesel,https://www.cars24.com/buy-used-hyundai-creta-...
2,Chennai,2021,Tata,Harrier,Manual,"₹20,91,999","3,422 km",1st Owner,Diesel,https://www.cars24.com/buy-used-tata-harrier-2...
3,Chennai,2012,Toyota,Etios Liva,Manual,"₹4,12,399","86,154 km",1st Owner,Diesel,https://www.cars24.com/buy-used-toyota-etios-l...
4,Chennai,2019,Maruti,Ertiga,Manual,"₹9,81,499","41,054 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-ertiga-...

**Storing the data as CSV in Given Path**

In [23]:
path="D:\Malhar H Jadhav\Zep Intern\Task 2\Code and data\Data\Cars24_Chennai.csv"
data.to_csv(path, index=False)