<h3>Importing the Libraries Required </h3>

In [1]:
import urllib
import time
import json
import numpy as np
import pandas as pd
from tqdm import tqdm
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from bs4 import BeautifulSoup
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException

<h3>Using Selenium For Auto Scrolling the Web-Page and Extracting the The Page Source</h3>

In [2]:
driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')
driver.wait = WebDriverWait(driver, 5)
driver.maximize_window()
driver.get("https://www.cars24.com/buy-used-car?sort=P&storeCityId=4709&pinId=560001")
time.sleep(7)


height = driver.execute_script("return document.documentElement.scrollHeight")
lastheight = 0
while True:
    if lastheight == height:
        break
    lastheight = height
    driver.execute_script("window.scrollTo(0, " + str(height) + ");")
    time.sleep(10)
    height = driver.execute_script("return document.documentElement.scrollHeight")
    
    
# Using BeautifulSoup To Store the Page Source in Object Called Soup

soup = BeautifulSoup(driver.page_source)
driver.quit()

C:\Users\jadha\AppData\Local\Temp/ipykernel_12812/1778014577.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')

<h3>Storing the page source in object called Soup and viewing the text</h3>

In [3]:
soup.text

"\n\n\n\n\n\n\n\n\n\n\nUsed Cars in Bengaluru - Second Hand Cars in Bengaluru for Sale\nBengaluru  Popular CitiesUsed cars in BengaluruPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in BengaluruUsed cars in ChennaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChennaiUsed cars in New DelhiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in New DelhiUsed cars in MumbaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in MumbaiUsed cars in PunePopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in PuneUsed cars in HyderabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in HyderabadUsed cars in KolkataPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in KolkataUsed cars in AhmedabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in AhmedabadUsed cars in JaipurPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in JaipurUsed cars in ChandigarhPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChandigarhBuy used carSell used carLoginRC Transfers StatusFAQBecome a partnerBuy Car: 9 AM - 9 PM1800 258 5656HomeUsed CarsBengaluruFind your dream car with usSort By:Best Match  PriceModel YearKMs DrivenMake & ModelRTOMore FiltersUsed Cars in Bengaluru2021 KIA SELTOSGTX 1.4 GDI PETROL Manual4,257 km1st OwnerPetrol₹44,249/month₹19,89,199Zero downpayment2019 Maruti CelerioVXI Manual5,382 km1st OwnerPetrol₹12,481/month₹5,61,099Zero downpayment2017 Renault DusterRXS CVT 106 PS Automatic31,859 km2nd OwnerPetrol₹19,404/month₹8,72,299Zero downpayment2020 Maruti New  Wagon-RZXI 1.2 Manual5,702 km1st OwnerPetrol₹14,583/month₹6,55,599Zero downpayment2012 Maruti Wagon R 1.0VXI Manual37,683 km2nd OwnerPetrol₹8,004/month₹3,59,799Zero downpaymentFilter By Popular BrandMarutiHyundaiHondaTataToyota2019 Maruti CelerioVXI AMT Automatic14,834 km2nd OwnerPetrol₹11,560/month₹5,19,699Zero downpayment2017 Honda WR-V1.2 i-VTEC VX MT Manual43,808 km1st OwnerPetrol₹17,433/month₹7,83,699Zero downpayment2017 Hyundai Grand i10Magna 1.2 AT  VTVT Automatic12,646 km2nd OwnerPetrol₹12,940/month₹5,81,699Zero downpayment2017 Honda CityV MT PETROL Manual28,310 km2nd OwnerPetrol₹19,749/month₹8,87,799Zero downpayment2015 Maruti CelerioVXI Manual33,689 km1st OwnerPetrol₹10,003/month₹4,49,699Zero downpayment2019 MG HECTORSHARP 2.0 DIESEL Manual20,909 km1st OwnerDiesel₹41,415/month₹18,61,799Zero downpaymentFilter By BudgetCars under 2 lakhCars between 2 lakh - 5 lakhCars between 5 lakh - 10 lakhCars above 10 lakh2018 Mahindra BoleroPower+ ZLX Micro Hybrid Manual32,238 km1st OwnerDiesel₹20,418/month₹9,17,899Zero downpayment2019 MG HECTORSMART DIESEL Manual49,501 km2nd OwnerDiesel₹34,038/month₹15,30,199Zero downpayment2019 MG HECTORSHARP 2.0 DIESEL Manual30,076 km1st OwnerDiesel₹41,882/month₹18,82,799Zero downpayment2019 MG HECTORSHARP 2.0 DIESEL Manual26,225 km1st OwnerDiesel₹42,656/month₹19,17,599Zero downpayment2015 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual20,067 km1st OwnerPetrol₹11,634/month₹5,22,999Zero downpayment2014 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual38,596 km2nd OwnerPetrol₹10,250/month₹4,60,799Zero downpaymentFilter By Fuel TypePetrolDieselCNGLPGElectricHybrid2013 Honda Brio1.2 V MT I VTEC Manual60,696 km2nd OwnerPetrol₹8,093/month₹3,63,799Zero downpayment2019 Hyundai NEW SANTRO1.1 MAGNA MT Manual11,005 km1st OwnerPetrol₹11,705/month₹5,26,199Zero downpayment2014 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual36,475 km1st OwnerPetrol₹10,978/month₹4,93,499Zero downpayment2020 Honda CityV MT PETROL Manual14,417 km1st OwnerPetrol₹26,115/month₹11,73,999Zero downpayment2013 Honda Amaze1.2 VXMT I VTEC Manual47,686 km2nd OwnerPetrol₹10,688/month₹4,80,499Zero downpayment2014 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual48,877 km1st OwnerPetrol₹10,457/month₹4,70,099Zero downpaymentFilter By Body TypeHatchbackSedanSUVLuxury SedanLuxury SUV2016 Maruti CelerioVXI Manual38,954 km2nd OwnerPetrol₹10,232/month₹4,59,999Zero downpayment2017 Tata TiagoXZ 1.2 REVOTRON Manual11,086 km2nd OwnerPetrol₹11,921/month₹5,35,899Zero downpayment2016 Hyundai EonERA PLUS Manual45,891 km2nd OwnerPetrol₹7,521/month₹3,38,099Zero downpayment2014 Hyundai Grand i10ASTA 1.2 AT VTVT Automatic53,048 km3rd OwnerPetrol₹10,499/month₹4,71,999Zero downpayment12-Months Free Warranty!Free 12 months warranty on all cars to safeguard you from unforeseen repair and maintenance costsKNOW MORE2018 Tata TiagoXZ 1.2 REVOTRON Manual27,780 km2nd OwnerPetrol₹12,524/month₹5,62,999Zero downpayment2020 Tata NEXONXZ 1.2 Manual8,102 km2nd OwnerPetrol₹20,516/month₹9,22,299Zero downpayment2019 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual18,681 km2nd OwnerPetrol₹13,322/month₹5,98,899Zero downpayment2016 Honda Jazz1.2 S AT Automatic48,138 km2nd OwnerPetrol₹13,872/month₹6,23,599Zero downpayment2019 Maruti Alto K10VXI Manual79,432 km1st OwnerPetrol₹8,446/month₹3,79,699Zero downpayment2017 Maruti Eeco5 STR WITH AC PLUSHTR Manual17,914 km1st OwnerPetrol₹9,977/month₹4,48,499Zero downpayment2014 Honda CityS MT PETROL Manual57,997 km1st OwnerPetrol₹13,780/month₹6,19,499Zero downpayment2014 Maruti Wagon R 1.0VXI Manual44,059 km3rd OwnerPetrol₹8,072/month₹3,62,899Zero downpayment2016 Honda CityV MT PETROL Manual40,368 km1st OwnerPetrol₹17,193/month₹7,72,899Zero downpayment2017 Renault DusterRXZ 85 PS DIESEL Manual71,705 km1st OwnerDiesel₹20,262/month₹9,10,899Zero downpayment2015 Hyundai Elite i20ASTA 1.2 Manual60,878 km2nd OwnerPetrol₹13,618/month₹6,12,199Zero downpayment2015 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual40,710 km1st OwnerPetrol₹11,062/month₹4,97,299Zero downpayment2021 Maruti IGNISZETA 1.2 K12 AMT Automatic6,005 km1st OwnerPetrol₹18,134/month₹8,15,199Zero downpayment2020 Hyundai NEW SANTRO1.1 SPORTS AMT Automatic20,352 km1st OwnerPetrol₹14,245/month₹6,40,399Zero downpayment2019 Ford Ecosport1.5 TITANIUM SIGNATURE TI VCT (SUNROOF) Manual40,792 km1st OwnerPetrol₹23,584/month₹10,60,199Zero downpayment2016 Hyundai Grand i10ASTA 1.1 (O) CRDI Manual75,483 km1st OwnerDiesel₹11,743/month₹5,27,899Zero downpayment2019 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual20,246 km1st OwnerPetrol₹13,847/month₹6,22,499Zero downpayment2018 Maruti CelerioZXI Manual42,422 km1st OwnerPetrol₹11,689/month₹5,25,499Zero downpayment2016 Hyundai i20 Active1.2 SX Manual51,929 km1st OwnerPetrol₹14,904/month₹6,69,999Zero downpayment2017 Hyundai EonMAGNA PLUS Manual18,241 km2nd OwnerPetrol₹8,482/month₹3,81,299Zero downpayment2016 Maruti BalenoDELTA 1.2 K12 Manual58,172 km1st OwnerPetrol₹13,916/month₹6,25,599Zero downpayment2019 Hyundai NEW SANTROASTA 1.1 MT Manual36,398 km1st OwnerPetrol₹13,042/month₹5,86,299Zero downpayment2018 Tata TiagoXZ 1.2 REVOTRON Manual61,256 km1st OwnerPetrol₹12,168/month₹5,46,999Zero downpayment2017 Hyundai EonMAGNA PLUS Manual29,951 km1st OwnerPetrol₹8,482/month₹3,81,299Zero downpayment2018 Toyota YARISV CVT Automatic10,585 km1st OwnerPetrol₹23,981/month₹10,78,067Zero downpayment2016 Hyundai Grand i10ASTA 1.2 (O) VTVT Manual86,760 km1st OwnerPetrol₹12,112/month₹5,44,499Zero downpayment2017 Honda CityV MT PETROL Manual40,600 km2nd OwnerPetrol₹18,676/month₹8,39,599Zero downpayment2014 Maruti Alto K10VXI Manual66,021 km1st OwnerPetrol₹7,677/month₹3,45,099Zero downpayment2014 Maruti Wagon R 1.0VXI Manual73,271 km1st OwnerPetrol₹8,958/month₹4,02,699Zero downpayment2017 Honda CityV MT PETROL Manual71,077 km2nd OwnerPetrol₹18,601/month₹8,36,199Zero downpayment2017 Maruti CiazZXI Manual31,318 km1st OwnerPetrol₹18,403/month₹8,27,299Zero downpayment2018 Toyota YARISV MT Manual36,498 km1st OwnerPetrol₹18,327/month₹8,23,899Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual39,493 km1st OwnerPetrol₹11,378/month₹5,11,499Zero downpayment2017 Maruti BalenoZETA 1.2 K12 AMT Automatic62,360 km2nd OwnerPetrol₹15,015/month₹6,74,999Zero downpayment2019 Maruti Alto K10VXI AMT Automatic14,345 km1st OwnerPetrol₹10,695/month₹4,80,801Zero downpayment2017 Hyundai Grand i10ASTA 1.2 VTVT Manual27,858 km1st OwnerPetrol₹13,280/month₹5,96,999Zero downpayment2019 Ford FREESTYLETITANIUM 1.2 TI-VCT MT Manual29,402 km1st OwnerPetrol₹15,818/month₹7,11,099Zero downpayment2019 Ford FREESTYLETITANIUM 1.2 TI-VCT MT Manual33,425 km1st OwnerPetrol₹16,000/month₹7,19,299Zero downpayment2018 Maruti Wagon R 1.0VXI AMT Automatic39,746 km2nd OwnerPetrol₹11,055/month₹4,96,999Zero downpayment2020 Maruti AltoLXI Manual31,304 km1st OwnerPetrol₹9,065/month₹4,07,499Zero downpayment2018 Maruti Alto K10VXI (O) AMT Automatic21,562 km1st OwnerPetrol₹10,535/month₹4,73,599Zero downpayment2012 Maruti SwiftVXI Manual56,391 km2nd OwnerPetrol₹9,667/month₹4,34,599Zero downpayment2019 Hyundai Elite i201.2 SPORTS PLUS VTVT CVT Automatic4,834 km1st OwnerPetrol₹21,146/month₹9,50,599Zero downpayment2014 Maruti SwiftVXI Manual51,781 km1st OwnerPetrol₹10,978/month₹4,93,499Zero downpayment2020 Maruti Vitara BrezzaZXI + Manual14,065 km1st OwnerPetrol₹23,704/month₹10,65,599Zero downpayment2018 Hyundai Elite i20ASTA 1.2 Manual14,165 km1st OwnerPetrol₹17,175/month₹7,72,099Zero downpayment2019 Renault KwidRXL Manual8,947 km1st OwnerPetrol₹9,509/month₹4,27,499Zero downpayment2016 Maruti SwiftVXI OPT Manual9,755 km1st OwnerPetrol₹13,676/month₹6,14,799Zero downpayment2012 Maruti Alto K10VXI Manual55,334 km2nd OwnerPetrol₹6,139/month₹2,75,999Zero downpayment2017 Maruti DzireZXI Plus AMT Automatic60,090 km1st OwnerPetrol₹16,650/month₹7,48,499Zero downpayment2017 Hyundai Creta1.6 SX CRDI Manual57,767 km2nd OwnerDiesel₹25,230/month₹11,34,199Zero downpayment2010 Maruti Wagon R 1.0VXI Manual27,423 km1st OwnerPetrol₹7,183/month₹3,22,899Zero downpayment2016 Hyundai Elite i20SPORTZ 1.2 Manual49,527 km2nd OwnerPetrol₹13,342/month₹5,99,799Zero downpayment2019 Hyundai GRAND I10 NIOSSPORTZ PETROL Manual12,731 km1st OwnerPetrol₹15,148/month₹6,80,999Zero downpayment2016 Renault KwidRXL Manual41,599 km1st OwnerPetrol₹7,759/month₹3,48,799Zero downpayment2018 Maruti Eeco5 STR WITH AC PLUSHTR Manual31,842 km1st OwnerPetrol₹9,205/month₹4,13,799Zero downpayment2012 Maruti Alto K10VXI Manual49,885 km1st OwnerPetrol₹6,660/month₹2,99,399Zero downpayment2017 Renault KwidCLIMBER 1.0 AT Automatic44,911 km1st OwnerPetrol₹10,117/month₹4,54,799Zero downpayment2016 Maruti Alto K10VXI Manual37,215 km1st OwnerPetrol₹7,834/month₹3,52,199Zero downpayment2017 Hyundai XcentSX 1.2 Manual44,796 km2nd OwnerPetrol₹13,173/month₹5,92,199Zero downpayment2018 Maruti ErtigaZDI PLUS SHVS Manual33,670 km1st OwnerDiesel₹24,502/month₹11,01,499Zero downpayment2012 Hyundai i10ERA 1.1 IRDE Manual17,573 km1st OwnerPetrol₹8,789/month₹3,95,099Zero downpayment2020 KIA SELTOS1.5 GTX+ AT Automatic38,331 km1st OwnerDiesel₹42,718/month₹19,20,399Zero downpayment2017 Maruti Alto 800LXI Manual25,297 km1st OwnerPetrol₹7,423/month₹3,33,699Zero downpayment2021 Renault KigerRXZ 1.0 AT DUAL TONE 7,396 km1st OwnerPetrol₹23,219/month₹10,43,799Zero downpayment2011 Hyundai VernaFLUIDIC 1.6 SX VTVT Manual85,488 km2nd OwnerPetrol₹11,189/month₹5,02,999Zero downpayment2014 Maruti SwiftZXI Manual31,258 km1st OwnerPetrol₹13,160/month₹5,91,599Zero downpayment2021 Renault DusterRXZ Manual4,031 km1st OwnerPetrol₹26,424/month₹11,87,899Zero downpayment2016 Maruti CiazZXI RS Manual74,477 km1st OwnerPetrol₹15,498/month₹6,96,699Zero downpayment2020 Honda CityV MT PETROL Manual14,594 km1st OwnerPetrol₹26,315/month₹11,82,999Zero downpayment2014 Maruti Alto 800LXI Manual51,952 km2nd OwnerPetrol₹6,301/month₹2,83,255Zero downpayment2015 Hyundai Elite i20ASTA 1.2 Manual42,231 km2nd OwnerPetrol₹14,136/month₹6,35,499Zero downpayment2018 Hyundai Elite i20Magna Executive 1.2 Manual43,882 km1st OwnerPetrol₹13,160/month₹5,91,599Zero downpayment2018 Renault DusterRXS CVT 106 PS Automatic21,486 km1st OwnerPetrol₹21,724/month₹9,76,599Zero downpayment2016 Hyundai Creta1.6 SX PLUS VTVT Manual33,896 km1st OwnerPetrol₹22,749/month₹10,22,699Zero downpayment2017 Hyundai Elite i201.4 CRDI ASTA (O) Manual54,063 km2nd OwnerDiesel₹16,984/month₹7,63,499Zero downpayment2013 Ford Figo1.2 TITANIUM DURATEC Manual41,263 km1st OwnerPetrol₹8,366/month₹3,76,099Zero downpayment2016 Honda Jazz1.2 V MT Manual48,329 km1st OwnerPetrol₹14,721/month₹6,61,799Zero downpayment2015 Hyundai Elite i20ASTA 1.4 CRDI Manual56,911 km1st OwnerDiesel₹15,951/month₹7,17,059Zero downpayment2020 MG HECTORSMART HYBRID PETROL MT Manual21,740 km1st OwnerPetrol₹35,593/month₹16,00,099Zero downpayment2015 Hyundai XcentS 1.2 OPT Manual42,107 km1st OwnerPetrol₹11,182/month₹5,02,699Zero downpayment2015 Honda Brio1.2 S MT I VTEC Manual70,558 km1st OwnerPetrol₹9,963/month₹4,47,899Zero downpayment2015 Honda Jazz1.2 E MT Manual33,862 km1st OwnerPetrol₹12,014/month₹5,40,099Zero downpayment2013 Honda CityV MT PETROL Manual60,599 km1st OwnerPetrol₹12,043/month₹5,41,399Zero downpayment2019 Maruti BalenoDELTA 1.2 K12 Manual24,900 km1st OwnerPetrol₹16,143/month₹7,25,699Zero downpayment2019 Hyundai NEW SANTROASTA 1.1 MT Manual30,663 km1st OwnerPetrol₹12,759/month₹5,73,599Zero downpayment2020 Maruti XL6ZETA AT SHVS Automatic55,422 km1st OwnerPetrol₹27,241/month₹12,24,599Zero downpayment2021 Datsun Redi GoT (O) Manual1,660 km1st OwnerPetrol₹10,933/month₹4,91,499Zero downpayment2019 Hyundai Grand i10ASTA 1.2 VTVT Manual14,858 km3rd OwnerPetrol₹13,089/month₹5,88,399Zero downpayment2016 Maruti CelerioVXI Manual24,938 km1st OwnerPetrol₹10,771/month₹4,84,199Zero downpayment2015 Hyundai i10MAGNA 1.1 IRDE2 Manual60,141 km1st OwnerPetrol₹8,611/month₹3,87,099Zero downpayment2016 Maruti Eeco5 STR WITH AC PLUSHTR Manual26,085 km3rd OwnerPetrol₹8,611/month₹3,87,099Zero downpayment2015 Hyundai i10SPORTZ 1.1 IRDE2 Manual31,383 km1st OwnerPetrol₹9,151/month₹4,11,399Zero downpayment2014 Hyundai Grand i10ASTA 1.2 KAPPA VTVT Manual37,487 km1st OwnerPetrol₹11,288/month₹5,07,465Zero downpayment2016 Toyota Etios LivaD 4D VD Manual73,638 km1st OwnerDiesel₹13,934/month₹6,26,399Zero downpayment2020 Mahindra XUV 3OOW8 (O) DIESEL  AT Automatic23,734 km1st OwnerDiesel₹32,759/month₹14,72,699Zero downpayment2019 Hyundai Elite i201.2 SPORTZ PLUS DUAL TONE VTVT Manual26,288 km1st OwnerPetrol₹18,870/month₹8,48,299Zero downpayment2019 Maruti CelerioZXI OPT Manual21,646 km2nd OwnerPetrol₹12,139/month₹5,45,699Zero downpayment2016 Maruti Alto K10VXI OPT Manual34,293 km2nd OwnerPetrol₹7,392/month₹3,32,299Zero downpayment2016 Datsun Redi GoT (O) Manual51,334 km1st OwnerPetrol₹6,495/month₹2,91,999Zero downpayment2017 Hyundai EonMAGNA PLUS OPTIONAL Manual77,900 km1st OwnerPetrol₹8,161/month₹3,66,899Zero downpayment2014 Maruti Alto 800LXI Manual62,255 km1st OwnerPetrol₹6,295/month₹2,82,999Zero downpayment2018 Renault KwidRXL Manual23,109 km2nd OwnerPetrol₹9,178/month₹4,12,599Zero downpayment2018 Maruti DzireVXI Manual14,212 km1st OwnerPetrol₹15,798/month₹7,10,199Zero downpayment2013 Hyundai i20SPORTZ 1.2 VTVT Manual72,656 km2nd OwnerPetrol₹9,868/month₹4,43,599Zero downpayment2014 Maruti Wagon R 1.0VXI Manual42,699 km2nd OwnerPetrol₹8,927/month₹4,01,299Zero downpayment2014 Maruti Wagon R 1.0VXI Manual47,294 km2nd OwnerPetrol₹9,245/month₹4,15,599Zero downpayment2015 Maruti CelerioVXI Manual49,571 km2nd OwnerPetrol₹9,541/month₹4,28,909Zero downpayment2016 Hyundai Grand i10SPORTS 1.2 VTVT Manual25,403 km2nd OwnerPetrol₹11,158/month₹5,01,599Zero downpayment2016 Maruti BalenoALPHA DDIS 190 Manual68,229 km2nd OwnerDiesel₹15,558/month₹6,99,399Zero downpayment2015 Hyundai Elite i20ASTA 1.2 Manual70,850 km1st OwnerPetrol₹13,622/month₹6,12,399Zero downpayment2018 Maruti DzireVXI Manual28,306 km1st OwnerPetrol₹15,624/month₹7,02,399Zero downpayment2014 Maruti Alto K10VXI Manual34,437 km2nd OwnerPetrol₹7,343/month₹3,30,099Zero downpayment2018 Ford Ecosport1.5 TITANIUM SIGNATURE TI VCT (SUNROOF) Manual29,350 km1st OwnerPetrol₹24,057/month₹10,81,499Zero downpayment2017 Honda WR-V1.2 i-VTEC VX MT Manual28,854 km2nd OwnerPetrol₹18,014/month₹8,09,799Zero downpayment2019 Hyundai NEW SANTRO1.1 MAGNA MT Manual68,727 km1st OwnerPetrol₹11,382/month₹5,11,699Zero downpayment2018 Hyundai EonSPORTZ Manual24,742 km1st OwnerPetrol₹9,565/month₹4,29,999Zero downpayment2017 Honda CityV MT PETROL Manual53,541 km3rd OwnerPetrol₹17,008/month₹7,64,599Zero downpayment2014 Maruti Alto K10VXI Manual44,931 km1st OwnerPetrol₹7,879/month₹3,54,199Zero downpayment2018 Tata TiagoXZA 1.2 REVOTRON Automatic59,067 km2nd OwnerPetrol₹12,468/month₹5,60,499Zero downpayment2019 Tata HarrierXZ 2.0L Kryotec Manual40,634 km1st OwnerDiesel₹35,878/month₹16,12,899Zero downpayment2018 Maruti Wagon R 1.0VXI AMT Automatic14,116 km3rd OwnerPetrol₹11,489/month₹5,16,499Zero downpayment2020 Tata NEXONXZ+ 1.2 Manual13,101 km2nd OwnerPetrol₹23,208/month₹10,43,299Zero downpayment2017 Tata TiagoXZ 1.2 REVOTRON Manual58,724 km1st OwnerPetrol₹11,931/month₹5,36,355Zero downpayment2019 Hyundai Grand i10SPORTZ DUAL TONE 1.2 VTVT Manual43,379 km2nd OwnerPetrol₹13,371/month₹6,01,099Zero downpayment2020 Maruti S PRESSOVXI Manual8,304 km1st OwnerPetrol₹10,869/month₹4,88,599Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual72,128 km2nd OwnerPetrol₹10,973/month₹4,93,299Zero downpayment2018 Toyota YARISV MT Manual16,485 km1st OwnerPetrol₹19,682/month₹8,84,799Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual41,567 km1st OwnerPetrol₹11,458/month₹5,15,099Zero downpayment2015 Maruti Wagon R 1.0VXI Manual57,052 km2nd OwnerPetrol₹9,538/month₹4,28,799Zero downpayment2018 Ford FREESTYLETITANIUM 1.2 TI-VCT MT Manual29,851 km1st OwnerPetrol₹14,481/month₹6,50,999Zero downpayment2019 Maruti ErtigaZDI PLUS SHVS Manual45,575 km1st OwnerDiesel₹25,683/month₹11,54,599Zero downpayment2019 MG HECTORSHARP 2.0 DIESEL Manual13,146 km1st OwnerDiesel₹37,956/month₹17,06,299Zero downpayment2012 Maruti RitzVXI BS IV Manual60,268 km2nd OwnerPetrol₹8,026/month₹3,60,799Zero downpayment2020 Tata ALTROZXZ 1.2 Manual12,995 km1st OwnerPetrol₹18,031/month₹8,10,599Zero downpayment2019 Maruti Eeco7 STR Manual16,009 km2nd OwnerPetrol₹10,106/month₹4,54,299Zero downpayment2014 Maruti SwiftVXI Manual60,056 km1st OwnerPetrol₹10,978/month₹4,93,499Zero downpayment2016 Mahindra ScorpioS2 Manual1,32,162 km1st OwnerDiesel₹17,457/month₹7,84,799Zero downpayment2018 Maruti SwiftZXI AMT Automatic21,603 km1st OwnerPetrol₹16,038/month₹7,20,999Zero downpayment2019 Maruti New  Wagon-RVXI 1.0 Manual44,146 km1st OwnerPetrol₹12,512/month₹5,62,499Zero downpayment2019 Hyundai Elite i201.2 MAGNA PLUS VTVT Manual10,466 km1st OwnerPetrol₹16,310/month₹7,33,199Zero downpayment2013 Renault DusterRXE PETROL 104 Manual55,673 km2nd OwnerPetrol₹11,592/month₹5,21,099Zero downpayment2016 Maruti Swift DzireVXI Manual42,516 km2nd OwnerPetrol₹12,937/month₹5,81,599Zero downpayment2010 Maruti Alto K10VXI Manual30,034 km2nd OwnerPetrol₹5,868/month₹2,63,799Zero downpayment2017 Maruti Alto 800VXI Manual38,078 km3rd OwnerPetrol₹6,678/month₹3,00,199Zero downpayment2014 Renault DusterRXZ DIESEL 110 Manua

**Creating a list of the names of cars and prices of cars**

In [4]:
car_name =[]
car_price=[]

**Extracting the container of each car and then extracting each name and price of the car**

In [5]:
for car_tag in soup.find_all('div', class_='col-4'):  

    
    car_name=[score.get_text()for score in soup.find_all(name="h2", class_="_3FpCg")]
    
    car_price=[score.get_text() for score in soup.find_all(name="div", class_="_7udZZ")]

print("Extracted Successfully")

Extracted Successfully

In [6]:
#car_model=[]
#car_info=[]

#for car_tag in soup.find_all('div', class_='col-4'):  

    # car_model=[score.get_text() for score in soup.find_all(name="p", class_="cvakB")]
    
    #car_info=[score.get_text() for score in soup.find_all(name="ul", class_="bVR0c") ]

**Extracting wheather the car is Manual Or Automatic**

In [7]:
car_model_tag = soup.find_all(name="p", class_="cvakB")

car_model = [ma.find_all(name='span')[0].text for ma in car_model_tag]  #  ma stand for manual automatic

car_model = [nan if nan.replace(' ','') else None for nan in car_model ] # nan stands for None values in list

print("Extracted Successfully")

Extracted Successfully

**Extracting the car's link**

In [8]:
car_link=[]
car_tag=soup.find_all(name="a", class_="_9Ue0B")
for i in car_tag:
    link=i.get("href")
    car_link.append(link)   
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Kilometers, How many km the car has already covered**

In [9]:
km=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[0]:
        km.append(i)
        
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Owner, is the owner 1'st or 2'nd**

In [10]:
owner=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[1]:
        owner.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's type, is the car Petrol or Diesal**

In [11]:
ctype=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[2]:
        ctype.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Checking the length of all list**

In [12]:
print(len(car_link))
print(len(car_name))
print(len(car_model))
print(len(car_price))
print(len(km))
print(len(owner))
print(len(ctype))
#print(len(car_info))

427
427
427
427
427
427
427

**Creating a Dictionary with the lists we have created above**

In [13]:
d={'Car Name':car_name,'Car model':car_model,'Car Price':car_price,'KM':km,'Owner':owner,'Car Type':ctype,'Car link':car_link}

<h2>Creating a Dataframe using Pandas</h2>

In [14]:
df = pd.DataFrame(d)
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,2021 KIA SELTOS,Manual,"₹19,89,199","4,257 km",1st Owner,Petrol,https://www.cars24.com/buy-used-kia-seltos-202...
1,2019 Maruti Celerio,Manual,"₹5,61,099","5,382 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...
2,2017 Renault Duster,Automatic,"₹8,72,299","31,859 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-renault-duster...
3,2020 Maruti New Wagon-R,Manual,"₹6,55,599","5,702 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-new--wa...
4,2012 Maruti Wagon R 1.0,Manual,"₹3,59,799","37,683 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...

**The 'Car Name' column has year, brand, car name so splitting the column car name and extracting year from it and storing 'Year' as a new column in Dataframe df**

In [15]:
df['Car Name'].str.split(expand=True)
Cyear=df['Car Name'].str.extract(r'(?P<Year>\w+)', expand=True)
df['Year']=Cyear
df['Year'].head()

0    2021
1    2019
2    2017
3    2020
4    2012
Name: Year, dtype: object

**Splitting the Column 'Car Name' and extracting brand from it and storing 'Brand' as a new column in Dataframe df**

In [16]:
s=df['Car Name'].str.split(expand=True)
s.drop(columns=s.columns[0], axis=1, inplace=True)
df['Brand']=s[1]
df['Brand'].head()

0        KIA
1     Maruti
2    Renault
3     Maruti
4     Maruti
Name: Brand, dtype: object

**Splitting the Column 'Car Name' and extracting Car Name itself from it and storing 'Car Name' as a new column in Dataframe df**

In [17]:
a=df['Car Name'].str.split(expand=True)

b=a.drop([0, 1], axis = 1)

c=b.fillna("")

d= c[2]+ " " + c[3]+ " " +c[4] 
df['Car Name'] =d

In [18]:
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand
0,SELTOS,Manual,"₹19,89,199","4,257 km",1st Owner,Petrol,https://www.cars24.com/buy-used-kia-seltos-202...,2021,KIA
1,Celerio,Manual,"₹5,61,099","5,382 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...,2019,Maruti
2,Duster,Automatic,"₹8,72,299","31,859 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-renault-duster...,2017,Renault
3,New Wagon-R,Manual,"₹6,55,599","5,702 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-new--wa...,2020,Maruti
4,Wagon R 1.0,Manual,"₹3,59,799","37,683 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...,2012,Maruti

**Adding City Column with City as Bengaluru**

In [19]:
df['City']='Bengaluru'

len(df['City'])

427

In [20]:
df

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand,City
0,SELTOS,Manual,"₹19,89,199","4,257 km",1st Owner,Petrol,https://www.cars24.com/buy-used-kia-seltos-202...,2021,KIA,Bengaluru
1,Celerio,Manual,"₹5,61,099","5,382 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...,2019,Maruti,Bengaluru
2,Duster,Automatic,"₹8,72,299","31,859 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-renault-duster...,2017,Renault,Bengaluru
3,New Wagon-R,Manual,"₹6,55,599","5,702 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-new--wa...,2020,Maruti,Bengaluru
4,Wagon R 1.0,Manual,"₹3,59,799","37,683 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...,2012,Maruti,Bengaluru
...,...,...,...,...,...,...,...,...,...,...
422,City,Manual,"₹6,73,199","32,714 km",1st Owner,Petrol,https://www.cars24.com/buy-used-honda-city-201...,2015,Honda,Bengaluru
423,Eeco,Manual,"₹4,85,999","8,920 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-eeco-20...,2019,Maruti,Bengaluru
424,Wagon R 1.0,Manual,"₹4,19,699","31,187 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...,2016,Maruti,Bengaluru
425,Wagon R 1.0,Manual,"₹3,72,299","74,625 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...,2016,Maruti,Bengaluru
426,Baleno,Manual,"₹7,17,499","31,020 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-baleno-...,2017,Maruti,Bengaluru

**Re-arranging the order of Columns**

In [21]:
data=df.reindex(columns=['City','Year','Brand','Car Name','Car model','Car Price','KM','Owner','Car Type','Car link'])

In [22]:
data.head()

,City,Year,Brand,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,Bengaluru,2021,KIA,SELTOS,Manual,"₹19,89,199","4,257 km",1st Owner,Petrol,https://www.cars24.com/buy-used-kia-seltos-202...
1,Bengaluru,2019,Maruti,Celerio,Manual,"₹5,61,099","5,382 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...
2,Bengaluru,2017,Renault,Duster,Automatic,"₹8,72,299","31,859 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-renault-duster...
3,Bengaluru,2020,Maruti,New Wagon-R,Manual,"₹6,55,599","5,702 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-new--wa...
4,Bengaluru,2012,Maruti,Wagon R 1.0,Manual,"₹3,59,799","37,683 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...

**Storing the data as CSV in Given Path**

In [23]:
path="D:\Malhar H Jadhav\Zep Intern\Task 2\Code and data\Data\Cars24_Bengaluru.csv"
data.to_csv(path, index=False)