<h3>Importing the Libraries Required </h3>

In [1]:
import urllib
import time
import json
import numpy as np
import pandas as pd
from tqdm import tqdm
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from bs4 import BeautifulSoup
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException

<h3>Using Selenium For Auto Scrolling the Web-Page and Extracting the The Page Source</h3>

In [2]:
driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')
driver.wait = WebDriverWait(driver, 5)
driver.maximize_window()
driver.get("https://www.cars24.com/buy-used-car?sort=P&storeCityId=2378&pinId=400001")
time.sleep(7)


height = driver.execute_script("return document.documentElement.scrollHeight")
lastheight = 0
while True:
    if lastheight == height:
        break
    lastheight = height
    driver.execute_script("window.scrollTo(0, " + str(height) + ");")
    time.sleep(10)
    height = driver.execute_script("return document.documentElement.scrollHeight")
    
    
# Using BeautifulSoup To Store the Page Source in Object Called Soup

soup = BeautifulSoup(driver.page_source)
driver.quit()

C:\Users\jadha\AppData\Local\Temp/ipykernel_18344/1789806877.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=r'D:\\Malhar H Jadhav\\Devlopment\\chromedriver_win32\\chromedriver.exe')

<h3>Storing the page source in object called Soup and viewing the text</h3>

In [3]:
soup.text

"\n\n\n\n\n\n\n\n\n\n\nUsed Cars in Mumbai - Second Hand Cars in Mumbai for Sale\nMumbai  Popular CitiesUsed cars in BengaluruPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in BengaluruUsed cars in ChennaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChennaiUsed cars in New DelhiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in New DelhiUsed cars in MumbaiPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in MumbaiUsed cars in PunePopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in PuneUsed cars in HyderabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in HyderabadUsed cars in KolkataPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in KolkataUsed cars in AhmedabadPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in AhmedabadUsed cars in JaipurPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in JaipurUsed cars in ChandigarhPopular CarsUsed Hyundai carsUsed Renault carsUsed Mahindra carsUsed Toyota carsUsed Audi carsUsed Honda carsUsed Maruti carsUsed Tata carsUsed Ford carsUsed Skoda carsAll used cars in ChandigarhBuy used carSell used carLoginRC Transfers StatusFAQBecome a partnerBuy Car: 9 AM - 9 PM1800 258 5656HomeUsed CarsMumbaiFind your dream car with usSort By:Best Match  PriceModel YearKMs DrivenMake & ModelRTOMore FiltersUsed Cars in Mumbai2014 Maruti Wagon R 1.0LXI Manual13,712 km1st OwnerPetrol₹7,984/month₹3,58,899Zero downpayment2018 Maruti SwiftVDI AMT Automatic53,119 km2nd OwnerDiesel₹15,326/month₹6,88,999Zero downpayment2019 Renault TRIBER1.0 RXZ Manual7,440 km1st OwnerPetrol₹16,161/month₹7,26,499Zero downpayment2020 Maruti Celerio XZXI OPT AMT Automatic4,613 km1st OwnerPetrol₹14,628/month₹6,57,599Zero downpayment2016 Maruti CelerioVXI AMT Automatic9,836 km2nd OwnerPetrol₹9,409/month₹4,22,999Zero downpaymentFilter By Popular BrandMarutiHyundaiHondaTataToyota2012 Maruti Swift DzireVDI BS IV Manual1,34,186 km1st OwnerDiesel₹10,261/month₹4,61,299Zero downpayment2014 Maruti RitzVXI Manual58,849 km1st OwnerPetrol₹9,060/month₹4,07,299Zero downpayment2019 Mahindra XUV500W11 (O) AT Automatic29,100 km2nd OwnerDiesel₹37,457/month₹16,83,899Zero downpayment2020 KIA SONETGTX PLUS 1.5 DCT AT 10,769 km1st OwnerDiesel₹33,551/month₹15,08,299Zero downpayment2020 Honda Amaze1.2 EMT I VTEC Manual11,596 km1st OwnerPetrol₹14,288/month₹6,42,299Zero downpayment2017 Maruti SwiftVXI Manual33,801 km1st OwnerPetrol₹11,774/month₹5,29,299Zero downpaymentFilter By BudgetCars under 2 lakhCars between 2 lakh - 5 lakhCars between 5 lakh - 10 lakhCars above 10 lakh2014 Maruti Wagon R 1.0LXI Manual23,640 km1st OwnerPetrol₹7,810/month₹3,51,099Zero downpayment2021 Renault Kwid1.0 RXT Opt AT Automatic810 km1st OwnerPetrol₹13,249/month₹5,95,599Zero downpayment2017 Tata TiagoXZA 1.2 REVOTRON Automatic3,678 km2nd OwnerPetrol₹11,514/month₹5,17,599Zero downpayment2016 Maruti Alto 800VXI Manual23,578 km2nd OwnerPetrol₹6,495/month₹2,91,999Zero downpayment2016 Maruti Swift DzireZDI Manual47,547 km1st OwnerDiesel₹14,176/month₹6,37,299Zero downpayment2020 Tata NEXONXZ+ OPT PETROL Manual5,327 km1st OwnerPetrol₹23,348/month₹10,49,599Zero downpaymentFilter By Fuel TypePetrolDieselCNGLPGElectricHybrid2015 Hyundai Elite i20ASTA 1.2 Manual32,964 km2nd OwnerPetrol₹11,189/month₹5,02,999Zero downpayment2012 Maruti Swift DzireVDI BS IV Manual94 km2nd OwnerDiesel₹9,412/month₹4,23,099Zero downpayment2015 Maruti SwiftVXI Manual24,045 km1st OwnerPetrol₹11,120/month₹4,99,899Zero downpayment2020 Toyota URBAN CRUISERPREMIUM DUAL TONE AT 15,580 km2nd OwnerPetrol₹26,971/month₹12,12,499Zero downpayment2019 MG HECTORSHARP 2.0 DIESEL Manual29,347 km1st OwnerDiesel₹38,634/month₹17,36,799Zero downpayment2020 Maruti New  Wagon-RZXI 1.2L AGS Automatic11,907 km1st OwnerPetrol₹14,523/month₹6,52,899Zero downpaymentFilter By Body TypeHatchbackSedanSUVLuxury SedanLuxury SUV2015 Maruti Swift DzireVXI 1.2 BS IV Manual53,090 km1st OwnerPetrol₹10,551/month₹4,74,299Zero downpayment2015 Maruti CiazVXI PLUS AMT Automatic42,011 km1st OwnerPetrol₹13,696/month₹6,15,699Zero downpayment2019 Renault KwidRXT 1.0 EASY-R AT OPTION Automatic3,615 km1st OwnerPetrol₹10,488/month₹4,71,499Zero downpayment2016 Honda BR-V1.5 i-VTEC V CVT Automatic84,427 km1st OwnerPetrol₹15,578/month₹7,00,299Zero downpayment12-Months Free Warranty!Free 12 months warranty on all cars to safeguard you from unforeseen repair and maintenance costsKNOW MORE2019 Honda CivicVX DIESEL Manual80,920 km1st OwnerDiesel₹33,327/month₹14,98,199Zero downpayment2019 Tata HarrierXZ 2.0L Kryotec Manual49,744 km1st OwnerDiesel₹35,527/month₹15,97,099Zero downpayment2020 Hyundai AURAE MT 1.2 KAPPA Manual12,810 km1st OwnerPetrol₹13,727/month₹6,17,099Zero downpayment2014 Hyundai XcentSX 1.2 OPT Manual61,977 km1st OwnerPetrol₹11,222/month₹5,04,499Zero downpayment2019 Maruti New  Wagon-RZXI 1.2 Manual30,741 km1st OwnerPetrol₹12,034/month₹5,40,999Zero downpayment2016 Hyundai Elite i20MAGNA 1.2 Manual25,895 km1st OwnerPetrol₹11,967/month₹5,37,999Zero downpayment2015 Honda CityVX MT PETROL Manual57,339 km1st OwnerPetrol₹15,055/month₹6,76,799Zero downpayment2018 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual16,868 km1st OwnerPetrol₹11,856/month₹5,32,999Zero downpayment2017 Maruti CiazZETA 1.4 VVT AMT Automatic30,492 km1st OwnerPetrol₹18,465/month₹8,30,099Zero downpayment2018 Toyota EtiosV Manual19,949 km2nd OwnerPetrol₹13,729/month₹6,17,199Zero downpayment2015 Volkswagen PoloGT TSI 1.2 PETROL AT Automatic70,639 km2nd OwnerPetrol₹11,976/month₹5,38,399Zero downpayment2015 Hyundai Elite i20MAGNA 1.2 Manual52,222 km1st OwnerPetrol₹10,596/month₹4,76,349Zero downpayment2019 Renault KwidRXT 1.0 EASY-R AT OPTION Automatic13,513 km1st OwnerPetrol₹9,832/month₹4,41,999Zero downpayment2017 Maruti CelerioZXI Manual16,313 km1st OwnerPetrol₹10,057/month₹4,52,099Zero downpayment2014 Toyota Corolla AltisJ S Manual53,337 km1st OwnerPetrol₹16,485/month₹7,41,099Zero downpayment2016 Honda JazzVX  1.2 Manual34,633 km1st OwnerPetrol₹11,770/month₹5,29,099Zero downpayment2015 Hyundai Creta1.6 SX CRDI Manual31,255 km2nd OwnerDiesel₹21,186/month₹9,52,399Zero downpayment2018 Hyundai EonMAGNA PLUS Manual25,031 km1st OwnerPetrol₹8,215/month₹3,69,299Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual21,815 km1st OwnerPetrol₹10,161/month₹4,56,799Zero downpayment2018 Honda Amaze1.2 EMT I VTEC Manual65,631 km1st OwnerPetrol₹12,361/month₹5,55,699Zero downpayment2016 Hyundai Elite i20SPORTZ 1.2 Manual15,692 km2nd OwnerPetrol₹12,490/month₹5,61,499Zero downpayment2015 Hyundai Creta1.6 SX CRDI Manual41,887 km1st OwnerDiesel₹21,270/month₹9,56,199Zero downpayment2019 Hyundai Creta1.6 SX VTVT (O) EXECUTIVE Manual18,549 km2nd OwnerPetrol₹30,008/month₹13,48,999Zero downpayment2019 Mahindra XUV 3OOW8(O) Manual39,391 km1st OwnerDiesel₹25,975/month₹11,67,699Zero downpayment2017 Ford Ecosport1.5 TITANIUM TI VCT AT Automatic471 km1st OwnerPetrol₹18,797/month₹8,44,999Zero downpayment2019 Honda Jazz1.2 VX AT Automatic12,037 km1st OwnerPetrol₹19,072/month₹8,57,399Zero downpayment2014 Honda CityVX MT DIESEL Manual91,203 km2nd OwnerDiesel₹12,239/month₹5,50,199Zero downpayment2019 Honda Amaze1.2 SMT I VTEC Manual9,076 km1st OwnerPetrol₹14,161/month₹6,36,599Zero downpayment2019 Maruti DzireVXI AMT Automatic31,248 km1st OwnerPetrol₹15,549/month₹6,98,999Zero downpayment2016 Maruti CiazVXI OPT Manual32,503 km1st OwnerPetrol₹14,093/month₹6,33,549Zero downpayment2016 Maruti BalenoZETA 1.2 K12 Manual24,678 km1st OwnerPetrol₹13,320/month₹5,98,799Zero downpayment2016 Honda JazzVX  1.2 Manual32,071 km1st OwnerPetrol₹12,521/month₹5,62,899Zero downpayment2018 Hyundai Elite i20Magna Executive 1.2 Manual42,012 km1st OwnerPetrol₹13,037/month₹5,86,069Zero downpayment2016 Hyundai Elite i20SPORTZ 1.2 Manual1,30,064 km1st OwnerPetrol₹11,013/month₹4,95,099Zero downpayment2018 Renault KwidRXT 1.0 EASY-R AT OPTION Automatic20,036 km1st OwnerPetrol₹9,218/month₹4,14,399Zero downpayment2016 Maruti Wagon R 1.0VXI Manual18,537 km2nd OwnerPetrol₹9,005/month₹4,04,799Zero downpayment2016 Maruti Wagon R 1.0VXI AMT Automatic9,073 km1st OwnerPetrol₹9,576/month₹4,30,499Zero downpayment2014 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual38,225 km2nd OwnerPetrol₹8,960/month₹4,02,799Zero downpayment2016 Honda CityVX MT PETROL Manual85,211 km1st OwnerPetrol₹15,091/month₹6,78,399Zero downpayment2019 KIA SELTOSGTX+ 1.4 MT Manual12,408 km1st OwnerPetrol₹35,896/month₹16,13,699Zero downpayment2016 Maruti BalenoDELTA 1.2 K12 Manual32,556 km1st OwnerPetrol₹12,917/month₹5,80,699Zero downpayment2015 Honda Jazz1.2 S MT Manual16,566 km1st OwnerPetrol₹11,598/month₹5,21,399Zero downpayment2014 Hyundai Grand i10SPORTS 1.2 VTVT Manual43,624 km2nd OwnerPetrol₹8,631/month₹3,87,999Zero downpayment2016 Hyundai Grand i10SPORTS 1.2 VTVT Manual59,839 km1st OwnerPetrol₹9,618/month₹4,32,399Zero downpayment2013 Honda Amaze1.2 SMT I VTEC Manual39,409 km1st OwnerPetrol₹9,165/month₹4,11,999Zero downpayment2020 Hyundai Creta1.6 SX AT CRDI Automatic25,706 km1st OwnerDiesel₹43,214/month₹19,42,699Zero downpayment2016 Hyundai Elite i20SPORTZ 1.2 Manual43,278 km1st OwnerPetrol₹12,684/month₹5,70,199Zero downpayment2020 Hyundai CretaSX PETROL MT Manual13,708 km1st OwnerPetrol₹33,551/month₹15,08,299Zero downpayment2018 Hyundai NEW SANTROASTA 1.1 MT Manual43,734 km1st OwnerPetrol₹10,806/month₹4,85,799Zero downpayment2016 Hyundai Elite i201.4 CRDI ASTA (O) Manual65,377 km2nd OwnerDiesel₹14,085/month₹6,33,199Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 Manual16,093 km1st OwnerPetrol₹14,470/month₹6,50,499Zero downpayment2021 Datsun Redi GoT (O) Manual291 km1st OwnerPetrol₹10,506/month₹4,72,299Zero downpayment2016 Volkswagen VentoHIGHLINE TDI AT Automatic81,316 km1st OwnerDiesel₹15,868/month₹7,13,349Zero downpayment2017 Ford Ecosport1.5TITANIUM TDCI Manual43,284 km1st OwnerDiesel₹15,469/month₹6,95,399Zero downpayment2019 Ford Ecosport1.5 TREND TI VCT Manual19,840 km1st OwnerPetrol₹18,109/month₹8,14,099Zero downpayment2014 Hyundai i20ASTA 1.2 Manual40,495 km1st OwnerPetrol₹10,057/month₹4,52,099Zero downpayment2014 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual58,292 km2nd OwnerPetrol₹8,924/month₹4,01,199Zero downpayment2018 Maruti DzireVXI Manual15,053 km1st OwnerPetrol₹15,055/month₹6,76,799Zero downpayment2019 Maruti BalenoZETA 1.2 K12 Manual21,363 km2nd OwnerPetrol₹15,055/month₹6,76,799Zero downpayment2019 Mahindra XUV 3OO1.2 W8 OPT 15,913 km1st OwnerPetrol₹25,280/month₹11,36,457Zero downpayment2014 Hyundai Grand i10SPORTS 1.2 VTVT Manual57,325 km2nd OwnerPetrol₹9,000/month₹4,04,599Zero downpayment2018 Maruti DzireVXI Manual52,858 km2nd OwnerPetrol₹14,390/month₹6,46,899Zero downpayment2017 Maruti BalenoDELTA 1.2 K12 Manual12,186 km1st OwnerPetrol₹12,962/month₹5,82,699Zero downpayment2016 Hyundai Grand i10SPORTZ 1.2 KAPPA VTVT Manual28,987 km1st OwnerPetrol₹10,582/month₹4,75,699Zero downpayment2015 Hyundai Grand i10ASTA 1.2 (O) VTVT Manual66,495 km1st OwnerPetrol₹10,026/month₹4,50,699Zero downpayment2018 Hyundai EonERA PLUS Manual27,167 km1st OwnerPetrol₹8,037/month₹3,61,299Zero downpayment2019 Maruti Vitara BrezzaZDI PLUS Manual49,685 km1st OwnerDiesel₹21,573/month₹9,69,799Zero downpayment2021 Honda Amaze1.2 V CVT I VTEC Automatic11,312 km1st OwnerPetrol₹21,450/month₹9,64,299Zero downpayment2018 Maruti DzireVXI Manual40,489 km1st OwnerPetrol₹14,448/month₹6,49,499Zero downpayment2016 Maruti Wagon R 1.0VXI Manual23,055 km1st OwnerPetrol₹9,360/month₹4,20,799Zero downpayment2018 Maruti DzireVXI Manual19,132 km1st OwnerPetrol₹15,665/month₹7,04,199Zero downpayment2017 Maruti BalenoDELTA 1.2 K12 Manual23,954 km1st OwnerPetrol₹12,827/month₹5,76,659Zero downpayment2017 Maruti Wagon R 1.0VXI Manual25,038 km1st OwnerPetrol₹9,919/month₹4,45,899Zero downpayment2016 Ford Ecosport1.5 TITANIUM TI VCT AT Automatic66,563 km1st OwnerPetrol₹14,890/month₹6,69,399Zero downpayment2017 Hyundai Elite i20ASTA 1.2 Manual35,165 km1st OwnerPetrol₹14,314/month₹6,43,499Zero downpayment2018 Honda Jazz1.2 V AT Automatic53,415 km1st OwnerPetrol₹15,380/month₹6,91,399Zero downpayment2017 Maruti Alto 800LXI Manual20,050 km1st OwnerPetrol₹6,798/month₹3,05,599Zero downpayment2017 Volkswagen PoloGT TSI 1.2 PETROL AT Automatic48,562 km1st OwnerPetrol₹17,630/month₹7,92,566Zero downpayment2018 Maruti DzireZDI Plus Manual30,362 km2nd OwnerDiesel₹16,964/month₹7,62,599Zero downpayment2020 Tata ALTROZXZ 1.2 Manual17,689 km1st OwnerPetrol₹18,376/month₹8,26,099Zero downpayment2018 Maruti DzireVDI AMT Automatic53,333 km1st OwnerDiesel₹16,012/month₹7,19,799Zero downpayment2017 Hyundai VernaFLUIDIC 1.6 SX VTVT Manual43,088 km2nd OwnerPetrol₹16,421/month₹7,38,199Zero downpayment2017 Honda CityV MT PETROL Manual19,415 km1st OwnerPetrol₹16,431/month₹7,38,639Zero downpayment2017 Jeep CompassLIMITED (O) 2.0 4*4 Manual78,451 km1st OwnerDiesel₹31,587/month₹14,19,999Zero downpayment2016 Maruti BalenoDELTA 1.2 K12 Manual51,684 km1st OwnerPetrol₹12,424/month₹5,58,499Zero downpayment2019 Maruti BalenoZETA 1.2 K12 Manual44,408 km1st OwnerPetrol₹15,444/month₹6,94,299Zero downpayment2019 MG HECTORSHARP 2.0 DIESEL Manual49,110 km1st OwnerDiesel₹37,168/month₹16,70,899Zero downpayment2020 Tata ALTROZXZ 1.2 Manual16,667 km1st OwnerPetrol₹17,916/month₹8,05,399Zero downpayment2021 Skoda RapidSTYLE 1.0 AT Automatic3,357 km1st OwnerPetrol₹30,252/month₹13,59,999Zero downpayment2016 Ford Ecosport1.5 TITANIUMTDCI OPT Manual71 km1st OwnerDiesel₹16,832/month₹7,56,699Zero downpayment2020 Tata ALTROZXZ 1.2 Manual20,736 km1st OwnerPetrol₹18,512/month₹8,32,199Zero downpayment2018 Maruti S CrossZETA 1.3 SHVS Manual47,301 km1st OwnerDiesel₹19,402/month₹8,72,199Zero downpayment2017 Hyundai CretaSX PLUS 1.6 DUAL TONE VTVT Manual32,930 km1st OwnerPetrol₹20,556/month₹9,24,099Zero downpayment2018 Maruti BalenoDELTA 1.2 K12 Manual21,197 km1st OwnerPetrol₹13,774/month₹6,19,199Zero downpayment2019 MG HECTORSHARP 2.0 DIESEL Manual38,726 km1st OwnerDiesel₹36,995/month₹16,63,099Zero downpayment2018 Maruti BalenoALPHA 1.2 K12 Manual17,514 km2nd OwnerPetrol₹14,668/month₹6,59,399Zero downpayment2017 Jeep Compass2.0 LONGITUDE Manual62,919 km1st OwnerDiesel₹28,771/month₹12,93,399Zero downpayment2016 Maruti Vitara BrezzaVDI Manual53,131 km1st OwnerDiesel₹15,971/month₹7,17,999Zero downpayment2017 Hyundai Grand i10ASTA 1.2 CRDI Manual13,313 km1st OwnerDiesel₹14,512/month₹6,52,399Zero downpayment2019 MG HECTORSHARP 2.0 DIESEL Manual73,681 km1st OwnerDiesel₹37,682/month₹16,94,005Zero downpayment2015 Maruti Alto K10VXI Manual44,178 km1st OwnerPetrol₹7,103/month₹3,19,299Zero downpayment2019 Maruti S CrossZETA SHVS Manual20,768 km1st OwnerDiesel₹24,903/month₹11,19,499Zero downpayment2020 Tata TIGORXZ PLUS 1.2 REVOTRON Manual12,618 km1st OwnerPetrol₹15,929/month₹7,16,099Zero downpayment2017 Honda CityVX MT PETROL Manual25,701 km1st OwnerPetrol₹20,436/month₹9,18,699Zero downpayment2019 MG HECTORSHARP 2.0 DIESEL 28,867 km2nd OwnerDiesel₹35,452/month₹15,93,763Zero downpayment2019 Maruti BalenoZETA 1.2 K12 Manual12,212 km1st OwnerPetrol₹16,701/month₹7,50,799Zero downpayment2020 Tata ALTROZXZ 1.2 Manual10,543 km1st OwnerPetrol₹17,616/month₹7,91,949Zero downpayment2017 Mahindra TUV300T8 Manual47,726 km1st OwnerDiesel₹18,309/month₹8,23,099Zero downpayment2017 Maruti BalenoRS 1.0 PETROL Manual37,322 km2nd OwnerPetrol₹13,707/month₹6,16,199Zero downpayment2019 Maruti AltoVXI Manual14,577 km1st OwnerPetrol₹8,857/month₹3,98,155Zero downpayment2020 Maruti S PRESSOVXI Manual13,332 km1st OwnerPetrol₹10,474/month₹4,70,855Zero downpayment2017 Honda CityZX CVT Automatic19,400 km2nd OwnerPetrol₹21,777/month₹9,78,999Zero downpayment2018 Maruti BalenoALPHA 1.2 K12 Manual33,893 km2nd OwnerPetrol₹14,697/month₹6,60,699Zero downpayment2017 Ford Ecosport1.5 TITANIUM TI VCT AT Automatic34,647 km2nd OwnerPetrol₹16,316/month₹7,33,499Zero downpayment2021 Maruti S PRESSOVXI PLUS Manual5,952 km1st OwnerPetrol₹10,771/month₹4,84,199Zero downpayment2017 Maruti BalenoALPHA 1.2 K12 Manual46,880 km1st OwnerPetrol₹13,894/month₹6,24,599Zero downpayment2017 Hyundai Elite i20ASTA 1.2 Manual47,830 km1st OwnerPetrol₹14,648/month₹6,58,499Zero downpayment2020 Maruti S PRESSOVXI PLUS AGS Automatic8,355 km1st OwnerPetrol₹11,919/month₹5,35,799Zero downpayment2019 Maruti AltoVXI Manual13,333 km1st OwnerPetrol₹8,738/month₹3,92,799Zero downpayment2016 Volkswagen AmeoHIGHLINE 1.2 Manual30,635 km1st OwnerPetrol₹11,162/month₹5,01,799Zero downpayment2017 Maruti BalenoALPHA 1.2 K12 Manual29,328 km1st OwnerPetrol₹14,325/month₹6,43,999Zero downpayment2020 Maruti S PRESSOVXI PLUS AGS Automatic5,746 km3rd OwnerPetrol₹10,924/month₹4,91,099Zero downpayment2019 Ford EcosportTREND + 1.5 TI VCT AT Automatic7,380 km2nd OwnerPetrol₹18,703/month₹8,40,799Zero downpayment2017 Maruti BalenoALPHA 1.2 K12 Manual39,028 km1st OwnerPetrol₹14,419/month₹6,48,199Zero downpayment2018 Maruti CiazALPHA 1.4 VVT Manual27,292 km1st OwnerPetrol₹18,590/month₹8,35,699Zero downpayment2015 Hyundai Creta1.6 SX CRDI Manual1,10,666 km1st OwnerDiesel₹18,728/month₹8,41,899Zero downpayment2015 Hyundai i20 Active1.4 SX Manual71,869 km1st OwnerDiesel₹13,560/month₹6,09,599Zero downpayment2015 Hyundai i20 Active1.4 SX Manual1,43,492 km1st OwnerDiesel₹12,931/month₹5,81,299Zero downpayment2017 Maruti DzireVDI Manual1,07,368 km1st OwnerDiesel₹14,730/month₹6,62,199Zero downpayment2018 Hyundai Creta1.6 SX AT CRDI Automatic57,341 km1st OwnerDiesel₹29,309/month₹13,17,599Zero downpayment2019 Honda CivicZX CVT PETROL Automatic30,026 km1st OwnerPetrol₹37,142/month₹16,69,699Zero downpayment2018 Maruti Alto K10VXI Manual12,709 km1st OwnerPetrol₹9,352/month₹4,20,399Zero downpayment2018 Honda WR-V1.2 i-VTEC VX MT Manual15,414 km1st OwnerPetrol₹19,168/month₹8,61,699Zero downpayment2018 Ford Ecosport1.5 TDCI TITANIUM PLUS Manual69,796 km1st OwnerDiesel₹18,854/month₹8,47,599Zero downpayment2017 Ford Ecosport1.5 TITANIUM TI VCT AT Automatic53,135 km2nd OwnerPetrol₹16,472/month₹7,40,499Zero downpayment2019 Maruti BalenoALPHA 1.2 K12 Manual8,544 km1st OwnerPetrol₹18,040/month₹8,10,999Zero downpayment2018 Toyota YARISVX CVT Automatic79,209 km1st OwnerPetrol₹23,059/month₹10,36,599Zero downpayment2017 Hyundai i20 Active1.2 SX Manual21,416 km1st OwnerPetrol₹15,827/month₹7,11,499Zero downpayment2018 Hyundai Verna1.6 SX VTVT AT (O) Automatic15,953 km1st OwnerPetrol₹24,451/month₹10,99,199Zero downpayment2020 KIA SELTOS1.4 GTX+ TURBO GDI PETROL AT Automatic11,207 km1st OwnerPetrol₹42,520/month₹19,11,499Zero downpayment2018 Tata HexaVaricor 400 XT Manual91,825 km1st OwnerDiesel₹23,830/month₹10,71,299Zero downpayment2018 Ford Ecosport1.5 TITANIUM PLUS TI VCT AT Automatic40,807 km1st OwnerPetrol₹17,622/month₹7,92,199Zero downpayment2020 KIA SELTOS1.4 GTX+ TURBO GDI PETROL AT Automatic26,650 km1st OwnerPetrol₹42,100/month₹18,92,599Zero downpayment2017 Ford Ecosport1.5 TITANIUM PLUS TI VCT AT Automatic32,505 km1st OwnerPetrol₹20,058/month₹9,01,699Zero downpayment2018 Hyundai Verna1.6 SX VTVT AT (O) Automatic60,463 km1st 

**Creating a list of the names of cars and prices of cars**

In [4]:
car_name =[]
car_price=[]

**Extracting the container of each car and then extracting each name and price of the car**

In [5]:
for car_tag in soup.find_all('div', class_='col-4'):  

    
    car_name=[score.get_text()for score in soup.find_all(name="h2", class_="_3FpCg")]
    
    car_price=[score.get_text() for score in soup.find_all(name="div", class_="_7udZZ")]

print("Extracted Successfully")

Extracted Successfully

In [6]:
#car_model=[]
#car_info=[]

#for car_tag in soup.find_all('div', class_='col-4'):  

    # car_model=[score.get_text() for score in soup.find_all(name="p", class_="cvakB")]
    
    #car_info=[score.get_text() for score in soup.find_all(name="ul", class_="bVR0c") ]

**Extracting wheather the car is Manual Or Automatic**

In [7]:
car_model_tag = soup.find_all(name="p", class_="cvakB")

car_model = [ma.find_all(name='span')[0].text for ma in car_model_tag]  #  ma stand for manual automatic

car_model = [nan if nan.replace(' ','') else None for nan in car_model ] # nan stands for None values in list

print("Extracted Successfully")

Extracted Successfully

**Extracting the car's link**

In [8]:
car_link=[]
car_tag=soup.find_all(name="a", class_="_9Ue0B")
for i in car_tag:
    link=i.get("href")
    car_link.append(link)   
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Kilometers, How many km the car has already covered**

In [9]:
km=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[0]:
        km.append(i)
        
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's Owner, is the owner 1'st or 2'nd**

In [10]:
owner=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[1]:
        owner.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Extracting the car's type, is the car Petrol or Diesal**

In [11]:
ctype=[]
for car_tag in soup.find_all('ul', class_='bVR0c'): 
    for i in car_tag.find_all(name="li")[2]:
        ctype.append(i)
    
print("Extracted Successfully")

Extracted Successfully

**Checking the length of all list**

In [12]:
print(len(car_link))
print(len(car_name))
print(len(car_model))
print(len(car_price))
print(len(km))
print(len(owner))
print(len(ctype))
#print(len(car_info))

616
616
616
616
616
616
616

**Creating a Dictionary with the lists we have created above**

In [13]:
d={'Car Name':car_name,'Car model':car_model,'Car Price':car_price,'KM':km,'Owner':owner,'Car Type':ctype,'Car link':car_link}

<h2>Creating a Dataframe using Pandas</h2>

In [14]:
df = pd.DataFrame(d)
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,2014 Maruti Wagon R 1.0,Manual,"₹3,58,899","13,712 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...
1,2018 Maruti Swift,Automatic,"₹6,88,999","53,119 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-maruti-swift-2...
2,2019 Renault TRIBER,Manual,"₹7,26,499","7,440 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-triber...
3,2020 Maruti Celerio X,Automatic,"₹6,57,599","4,613 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...
4,2016 Maruti Celerio,Automatic,"₹4,22,999","9,836 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...

**The 'Car Name' column has year, brand, car name so splitting the column car name and extracting year from it and storing 'Year' as a new column in Dataframe df**

In [15]:
df['Car Name'].str.split(expand=True)
Cyear=df['Car Name'].str.extract(r'(?P<Year>\w+)', expand=True)
df['Year']=Cyear
df['Year'].head()

0    2014
1    2018
2    2019
3    2020
4    2016
Name: Year, dtype: object

**Splitting the Column 'Car Name' and extracting brand from it and storing 'Brand' as a new column in Dataframe df**

In [16]:
s=df['Car Name'].str.split(expand=True)
s.drop(columns=s.columns[0], axis=1, inplace=True)
df['Brand']=s[1]
df['Brand'].head()

0     Maruti
1     Maruti
2    Renault
3     Maruti
4     Maruti
Name: Brand, dtype: object

**Splitting the Column 'Car Name' and extracting Car Name itself from it and storing 'Car Name' as a new column in Dataframe df**

In [17]:
a=df['Car Name'].str.split(expand=True)

b=a.drop([0, 1], axis = 1)

c=b.fillna("")

d= c[2]+ " " + c[3]+ " " +c[4] 
df['Car Name'] =d

In [18]:
df.head()

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand
0,Wagon R 1.0,Manual,"₹3,58,899","13,712 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...,2014,Maruti
1,Swift,Automatic,"₹6,88,999","53,119 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-maruti-swift-2...,2018,Maruti
2,TRIBER,Manual,"₹7,26,499","7,440 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-triber...,2019,Renault
3,Celerio X,Automatic,"₹6,57,599","4,613 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...,2020,Maruti
4,Celerio,Automatic,"₹4,22,999","9,836 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...,2016,Maruti

**Adding City Column with City as Mumbai**

In [19]:
df['City']='Mumbai'

len(df['City'])

616

In [20]:
df

,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link,Year,Brand,City
0,Wagon R 1.0,Manual,"₹3,58,899","13,712 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...,2014,Maruti,Mumbai
1,Swift,Automatic,"₹6,88,999","53,119 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-maruti-swift-2...,2018,Maruti,Mumbai
2,TRIBER,Manual,"₹7,26,499","7,440 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-triber...,2019,Renault,Mumbai
3,Celerio X,Automatic,"₹6,57,599","4,613 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...,2020,Maruti,Mumbai
4,Celerio,Automatic,"₹4,22,999","9,836 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...,2016,Maruti,Mumbai
...,...,...,...,...,...,...,...,...,...,...
611,i20,Manual,"₹3,93,149","40,860 km",3rd Owner,Petrol,https://www.cars24.com/buy-used-hyundai-i20-20...,2014,Hyundai,Mumbai
612,Ecosport,Manual,"₹4,79,499","25,976 km",1st Owner,Petrol,https://www.cars24.com/buy-used-ford-ecosport-...,2014,Ford,Mumbai
613,Ertiga,Manual,"₹8,69,499","26,214 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-maruti-ertiga-...,2017,Maruti,Mumbai
614,Creta,Manual,"₹7,93,099","23,212 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-hyundai-creta-...,2016,Hyundai,Mumbai
615,S PRESSO,Manual,"₹5,41,299","16,517 km",1st Owner,Petrol + CNG,https://www.cars24.com/buy-used-maruti-s-press...,2020,Maruti,Mumbai

**Re-arranging the order of Columns**

In [21]:
data=df.reindex(columns=['City','Year','Brand','Car Name','Car model','Car Price','KM','Owner','Car Type','Car link'])

In [22]:
data.head()

,City,Year,Brand,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,Mumbai,2014,Maruti,Wagon R 1.0,Manual,"₹3,58,899","13,712 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-wagon-r...
1,Mumbai,2018,Maruti,Swift,Automatic,"₹6,88,999","53,119 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-maruti-swift-2...
2,Mumbai,2019,Renault,TRIBER,Manual,"₹7,26,499","7,440 km",1st Owner,Petrol,https://www.cars24.com/buy-used-renault-triber...
3,Mumbai,2020,Maruti,Celerio X,Automatic,"₹6,57,599","4,613 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...
4,Mumbai,2016,Maruti,Celerio,Automatic,"₹4,22,999","9,836 km",2nd Owner,Petrol,https://www.cars24.com/buy-used-maruti-celerio...

**Storing the data as CSV in Given Path**

In [23]:
path="D:\Malhar H Jadhav\Zep Intern\Task 2\Code and data\Data\Cars24_Mumbai.csv"
data.to_csv(path, index=False)