In [1]:
import numpy as np
import pandas as pd

In [4]:
df1 = pd.read_csv("D:\Malhar H Jadhav\Zep Intern\Task 2\Web Scrapping Of Cars24\Data\Cars24_Pune.csv")
df2 = pd.read_csv("D:\Malhar H Jadhav\Zep Intern\Task 2\Web Scrapping Of Cars24\Data\Cars24_Mumbai.csv")
df3 = pd.read_csv("D:\Malhar H Jadhav\Zep Intern\Task 2\Web Scrapping Of Cars24\Data\Cars24_New_Delhi.csv")
df4 = pd.read_csv("D:\Malhar H Jadhav\Zep Intern\Task 2\Web Scrapping Of Cars24\Data\Cars24_Ahmedabad.csv")
df5 = pd.read_csv("D:\Malhar H Jadhav\Zep Intern\Task 2\Web Scrapping Of Cars24\Data\Cars24_Chennai.csv")
df6 = pd.read_csv("D:\Malhar H Jadhav\Zep Intern\Task 2\Web Scrapping Of Cars24\Data\Cars24_Bengaluru.csv")
df7 = pd.read_csv("D:\Malhar H Jadhav\Zep Intern\Task 2\Web Scrapping Of Cars24\Data\Cars24_Hyderabad.csv")

print("Merging multiple CSV files...")

# merge
main_data = [df1, df2, df3, df4, df5, df6, df7]

data = pd.concat(main_data)

Merging multiple CSV files...

In [5]:
len(data)

3437

In [6]:
data

,City,Year,Brand,Car Name,Car model,Car Price,KM,Owner,Car Type,Car link
0,Pune,2021,Nissan,MAGNITE,NaN,"₹9,63,799","16,049 km",1st Owner,Petrol,https://www.cars24.com/buy-used-nissan-magnite...
1,Pune,2014,Volkswagen,Vento,Manual,"₹5,13,399","41,569 km",1st Owner,Petrol,https://www.cars24.com/buy-used-volkswagen-ven...
2,Pune,2020,Tata,Tiago,Manual,"₹6,80,399","8,118 km",1st Owner,Petrol,https://www.cars24.com/buy-used-tata-tiago-202...
3,Pune,2015,Renault,Duster,Manual,"₹6,76,799","63,143 km",1st Owner,Diesel,https://www.cars24.com/buy-used-renault-duster...
4,Pune,2020,Maruti,Alto,Manual,"₹3,95,099","2,530 km",1st Owner,Petrol,https://www.cars24.com/buy-used-maruti-alto-20...
...,...,...,...,...,...,...,...,...,...,...
230,Hyderabad,2021,Hyundai,VENUE,Automatic,"₹12,01,799","16,964 km",1st Owner,Petrol,https://www.cars24.com/buy-used-hyundai-venue-...
231,Hyderabad,2017,Maruti,S Cross,Manual,"₹7,34,599","99,312 km",2nd Owner,Diesel,https://www.cars24.com/buy-used-maruti-s-cross...
232,Hyderabad,2014,Hyundai,Grand i10,Manual,"₹4,43,999","65,018 km",1st Owner,Petrol,https://www.cars24.com/buy-used-hyundai-grand-...
233,Hyderabad,2019,Maruti,Dzire,Manual,"₹7,52,199","84,773 km",1st Owner,Diesel,https://www.cars24.com/buy-used-maruti-dzire-2...
234,Hyderabad,2021,Volkswagen,Polo,Manual,"₹6,61,299","9,891 km",1st Owner,Petrol,https://www.cars24.com/buy-used-volkswagen-pol...

In [7]:
data.columns

Index(['City', 'Year', 'Brand', 'Car Name', 'Car model', 'Car Price', 'KM',
       'Owner', 'Car Type', 'Car link'],
      dtype='object')

In [8]:
data['City'].unique()

array(['Pune', 'Mumbai', 'New_Delhi', 'Ahmedabad', 'Chennai', 'Bengaluru',
       'Hyderabad'], dtype=object)

In [9]:
data.isnull().sum()

City          0
Year          0
Brand         0
Car Name      0
Car model    47
Car Price     0
KM            0
Owner         0
Car Type      0
Car link      0
dtype: int64

In [10]:
data.isna().sum()

City          0
Year          0
Brand         0
Car Name      0
Car model    47
Car Price     0
KM            0
Owner         0
Car Type      0
Car link      0
dtype: int64

**The Data  is  been stored in Data folder below is the path**

In [12]:
path="D:\Malhar H Jadhav\Zep Intern\Task 2\Web Scrapping Of Cars24\Data\Cars24_Scrapped_Data.csv"
data.to_csv(path, index=False)